{% extends "base.html" %}

{% block app_content %}
<h4>What is a “trigger”?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/Module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    A “trigger” is an event that makes you feel uncomfortable, stressed, or
    down. For example, you might find practicing a new sport frustrating at
    first because you make so many beginners' mistakes. Your “response” in this
    case is that you feel frustrated or depressed, or even that you want to
    quit.
</p>

{% endblock %}
