{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What is a “trigger”?</strong>
</p>
<p>
    <img
        width="198"
        height="132"
        src="blob:https://word2cleanhtml.com/8d7eff51-d46a-4d74-8606-953aa57e312b"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM3P11.jpg"
    />
</p>
<p>
    A “trigger” is an event that makes you feel uncomfortable, stressed, or
    down. For example, you might find practicing a new sport frustrating at
    first because you make so many beginners' mistakes. Your “response” in this
    case is that you feel frustrated or depressed, or even that you want to
    quit.
</p>

{% endblock %}
