{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Your world, your context</strong>
</p>
<p>
    <img
        width="136"
        height="204"
        src="blob:https://word2cleanhtml.com/ca67dda5-7697-4b6e-84b3-c05aa0c1d8f7"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM3P5.jpg"
    />
    In BA training it's important to look at the big picture when you think
    about your feelings and moods. Your mood isn't walled off from the rest of
    your life. Your mood is the result of interactions between your behavior
    and the world around you and the reactions you receive from those
    behaviors. So if you want to improve your mood, you have to look at the
    entire cycle of your life, not just your thoughts and feelings.
</p>

{% endblock %}
