{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                As Sha'Niece gets closer to her delivery date, all the pressure and stress she's experiencing makes her want to stay far away from the house. Gran wants her to get a real job doing something other than hair, so she can support her new baby and her son La'Damen. To make matters worse, Brian and Kim got their section 8 housing approved and are moving to a 2-bedroom house on the other side of town.
            </p>
            <p>
                Sha'Niece has been looking into Section 8 housing for her and her children, but kept putting it off. Now, because Brian and Kim got their housing approved, she is feeling sad and even more stuck at Gran's house. Furthermore, Sha'Niece wants to get her GED, but can't seem to get the energy to call and register for a class. Even with a friend telling her about a free child care program that will watch her children while she's in school, Sha'Niece still has not called.
            </p>
            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
             <p>
                 Ms. Jenkins continues to ask about the application for the summer honors program, but Jamal keeps forgetting to give it to his mother. He really is afraid she may say no. So for the last week, he has been arriving to math class later and later and has racked up detentions for being tardy to school and not completing assignments.
             </p>
             <p>
                 He is getting more frustrated about school and has thoughts of just dropping out. He thinks it may be fun just to hang out with the boys, but he doesn't want the pressure they are giving him to sell drugs.
             </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>
                Ever since Ivan and his family moved to the United States, he has struggled with making friends and therefore suffers from anxiety in social situations. This pregnancy scare is definitely not helping. The one guy at work he felt he was getting close to has suddenly started to make his anxiety level worse. This co-worker is always talking about his baby mama and right now, thinking about his girlfriend as a baby mama is something Ivan wants to totally avoid.
               <p/>
               <p>
               He has started to avoid this friend and others, so that he won't have to talk about his girlfriend at all. It's hard for him to make new friends because he's really self-conscious about his English, so he ends up really isolated. Because his parents are very focused on money and his younger siblings right now, they did not even notice that Ivan skipped school two days this past week. He knew that going to school would bring on more anxiety. He'd be forced to practice his English, have more schoolwork piled on, and he'd have to see his girlfriend. He skipped out of the house in the mornings so his family would think he went to school and went to the park to read and write instead.
           </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>

            <p>
                Danny has been really worried about his classes and choosing a major and has been thinking a lot about what he wants to do in his life. In high school Danny knew he wanted to go to college and that his parents expected him to graduate from college but now that he was there the next step felt really vague. Lately Danny has started to feel like he is running out of time and feels confused and exhausted.
        </p>
        <p>
            Danny is also a little scared about the future and is embarrassed about feeling this way. In order to try to avoid these uncomfortable thoughts Danny has been hanging out a lot with his friends and he often finds himself drinking more that he intended. After being out late with his friends Danny will sleep in the next morning and won't get around to doing any of his schoolwork until late that afternoon.
               </p>
               <p>
Danny has started to see some of his grades slip and although he's a little concerned he knows that if he works hard he can pull his grades back up in the end. Danny knows he needs to work a little harder than some of his friends in order to get the grades he wants, but it's hard for Danny to stay in and do work while all his roommates go out to have fun. When Danny finally started to look over all the work he would need to do in order to catch up in his classes, Danny immediately felt overwhelmed and started to feel hopeless. Instead of looking at each class individually and brainstorming a plan to complete one assignment at a time, Danny told himself that there was too much work to be done and that it would be too difficult to catch up now. He felt like just giving up and walking away from the whole situation.
            </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                The panic and anxiety that developed with Elena's recent suspension from school have not gone away, and it seems to be getting worse. She desperately wants to be able to vent somewhere about her parents' possible divorce but feels it is wrong to talk to her sister about it, as she is the oldest of the two girls. She feels like she has to be the role model, the strong one. She knows she could probably call up one of her aunts or close cousins, but knows they might start judging her, and that could end up with her in tears.
            </p>
            <p>
              Instead, she's completely avoiding the topic and her family. Elena has spent almost every night for the past week away from home, usually at her boyfriend Jose's house but other times, hiding out elsewhere. She is bothered by the fact that her parents don't call to check on her. She is also somewhat bothered by and wonders why Jose doesn't call to check up on her when she's out with other guys. Elena has noticed that she finds herself almost always hanging out with guys instead of with her girl friends. Her only interaction with girls is in school.
           </p>
           <p>
               The other day, an old friend, Carla invited Elena to go on a college tour with her. She thought Elena might be interested because the school has a good nursing program. Deep down, Elena really wanted to go but instead, she turned her friend Carla down. She would be too embarrassed. She was starting to think no school would ever accept her because of her dropping grades and a suspension for fighting on her record. Elena avoided her old friend for the rest of the week.
        </p>
        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
