{% extends "base.html" %}

{% block app_content %}
<h4>A new way of looking at the world</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    There are two common ways of looking at the world. Many people think of
    themselves as independent, stand-alone people who can change the world as
    they like. Another view is that the world around us controls how we think
    and feel: for example, believing that how our parents raised us has
    everything to do with how we live later.
</p>

<p>
    The BA view takes ideas from both of these sets of beliefs:
</p>
<ul>
    <li>
        Each person is an individual and can control how s/he acts
    </li>
    <li>
        Each person is also deeply part of the world around him/her
    </li>
    <li>
        Everything we do is part of a complex cycle; we change the world, which
        in turn changes us
    </li>
</ul>
<p>
    In order to change your mood, you can't only look at the world around you
    or what's inside you, but at the way that you change and are changed by the
    world in which you live.
</p>

{% endblock %}
