{% extends "base.html" %}

{% block app_content %}
<h4>How can this cycle make me feel down?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Cycles of acting and living can sometimes make you feel down or depressed
    because your bad habits can make you feel down. Negative cycles often
    follow the same pattern:
</p>
<ul>
    <li>
        Something happens that makes you feel sad, uncomfortable, or stressed.
        It could be anything, even something seemingly trivial like a social
        situation or a test.
    </li>
    <li>
        As a result of that sadness or stress, you get in the habit of avoiding
        that situation so you don't have to deal with it again.
    </li>
    <li>
        Bad habits-like avoiding stressful situations-only make the problem
        worse and cause more and more bad feelings.
    </li>
    <li>
        Continuing to avoid situations that make you feel bad creates a vicious
        cycle, which can make you feel down and lead to depression.
    </li>
</ul>

{% endblock %}
