{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What happens next?</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/737fb2a3-9430-4cad-b8da-2fb5076d11cd"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM3P12.jpg"
    />
</p>
<p>
    The real bad habit is your response to a frustrating, sad, or uncomfortable
    situation. This is the “avoidance pattern.” Maybe you give up practicing
    the sport because you're frustrated. But while giving up might save you
    some discomfort in the short run, it really costs you in the long run. You
    may feel like you're a failure because you've given up. Basically, the more
    situations you avoid, the harder it'll be for you to get in the habit of
    facing uncomfortable situations-which are not always avoidable.
</p>

{% endblock %}
