{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Welcome back!</strong>
</p>
<p>
In the last module we discussed how <strong>Behavioral Activation </strong> (BA) training is an “outside-in” approach to
    life. Instead of looking at things like your childhood and your thoughts
    and feelings, BA teaches you to understand your mood as part of the whole
    world around you. In this module, you can learn that your actions,
    behavior, and mood are connected to each other and that changing one will
    help change the others.
</p>

{% endblock %}
