{% extends "base.html" %}

{% block app_content %}
<h4>Skill Builder</h4>
<p>
    <strong>Section 1</strong>
    <br/>
    Try to think of some habits and traditions you have that give a sense of
    time and rhythm to your life. These things can range from the smallest
    scale, like getting up and at the same time, brushing your teeth every
    morning, to the very largest scale, like visiting with your family every
    4th of July, starting school in September. Try to list a few of these
    “time-giving” habits and traditions below. Then reflect on how they might
    work to order and balance your life by giving a sense of time.
</p>

<p>
    <strong>Section 2</strong>
    <br/>
    In this exercise, you can use the TRAP method to find ways in which your
    behavior can create a cycle that makes you feel more and more depressed.
    Try to fill out the chart below for a few examples of this type of cycle.
    Remember: the Trigger is the event that might make you feel uncomfortable,
    stressed out or sad; the Response is the bad feelings that you have in
    response to the Trigger; and the Avoidance Pattern is how you act (now or
    in the future) to avoid the Trigger and the possible Response it can cause.
</p>
<p>
    Avoidance Patterns:
</p>
<ul>
    <li>
        Always getting a snack and watching TV after school
    </li>
    <li>
        Taking a nap or falling asleep while watching TV, right after school
    </li>
    <li>
        Calling your best friend as soon as you get home from school to talk
        about what you will wear tomorrow
    </li>
</ul>

<table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Trigger</th>
        <th scope="col">Response</th>
        <th scope="col">Avoidance Pattern</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
</table>

<p>
    <strong>Section 3</strong>
    <br/>
    Now think of ways in which each of these Avoidance Patterns you've made a
    habit of might work to actually make the situation worse. How can avoiding
    the problem instead of solving it work against you?
</p>

<br>
{% endblock %}
