{% extends "base.html" %}

{% block app_content %}
<h4>Time-breakers</h4>

<p>
    “Time-breakers” are the things that interrupt the normal flow of time. They
    are the things that make us change the way we live, for better or worse.
    Time-breakers are things like moving to a different neighborhood, getting a
    new job or leaving an old one, graduating school, stopping off at the mall
    after getting paid, making a new friendship or losing an old one.
    <br/>
    <br/>
    It's important to look at the time-givers, so you can see how to reinforce
    the sense of rhythm and stability in your life. But it's also important to
    recognize a time-breaker when it happens and to plan a way to deal with it.
    (We'll talk more about these situations, also called “role transitions,” in
    Modules 9-12.)
</p>

{% endblock %}
