{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="189"
        src="blob:https://word2cleanhtml.com/45742147-9c7b-4c04-93e9-4342e81d0e5a"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM3P1.jpg"
    />
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How rhythm and habits are important to your mood
    </li>
    <li>
        How behavioral bad habits can cause bad moods
    </li>
    <li>
        How you can use the TRAP method to spot bad habits
    </li>
</ul>
<div>
    <p>
        We think this module will take about 20 minutes.
    </p>
</div>

{% endblock %}
