{% extends "base.html" %}

{% block app_content %}
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/Module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<br>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How rhythm and habits are important to your mood
    </li>
    <li>
        How behavioral bad habits can cause bad moods
    </li>
    <li>
        How you can use the TRAP method to spot bad habits
    </li>
</ul>
<div>
    <p>
        We think this module will take about 20 minutes.
    </p>
</div>

{% endblock %}
