{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Warm-up Exercise</strong>
</p>
<p>
    We hope you enjoyed meeting with your doctor and discussing your life
    goals. When you met with her/him, you talked about how building up your
    resiliency using CURB could be helpful in achieving your goals. Now we want
    to check how you feel you are succeeding with the program. This warm-up
    exercise is meant to follow up with your work on the program, from your
    point of view.
</p>
<p>
    Your doctor's hope is to provide the chance for you to “train up” for
    life's challenges using CURB. Building up resiliency comes down to learning
    and practicing your coping skills, so your doctor wants to quickly check up
    on how you think you are doing.
</p>

    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
<br>
<p>
    <strong>
        Please answer each of these questions as fully and honestly as you can.
    </strong>
</p>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
    What was one of the goals you enjoyed talking about most with your doctor?
    </li>
    <li class="list-group-item">
    Think about the last module you did. What was the coping skill you learned,
and why do you think it might be helpful?
What was one of the goals you enjoyed talking about most with your doctor?
</li>
<li class="list-group-item">
    How do you think that coping skill might work in real life to keep you
    focused on your goals and help you feel better?
    What was one of the goals you enjoyed talking about most with your doctor?
    </li>
    <li class="list-group-item">
    What motivated you to want to use that coping skill since that last visit
    to the Internet site?
    What was one of the goals you enjoyed talking about most with your doctor?
    </li>
    <li class="list-group-item">
    When you used the coping skill, how did using it change or affect your
    life?
    What was one of the goals you enjoyed talking about most with your doctor?
    </li>
</ul>
</br>
{% endblock %}
