{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Time-givers</strong>
</p>
<p>
    <img
        width="198"
        height="297"
        src="blob:https://word2cleanhtml.com/7ca6f889-0da1-41c7-adf0-bf6a3d637522"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM3P7.jpg"
    />
</p>
<p>
    “Time-givers” are regular habits that give us a sense of time and change.
    Every day you have regular habits: you get up in the morning, you eat
    meals, you go to school, and you spend time in sports practice, reading,
    talking on the phone, or watching TV. From week to week you have weekdays
    and weekends, days when you get paid, maybe days for worship, game days and
    so on. Throughout the year, you have the holidays that bring you and your
    family together. And you always have your birthday. These events give us a
    sense of time; they make the passage of time seem like more than just
    marking off dates on a calendar.
</p>

{% endblock %}
