{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How can this cycle make me feel down?</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/1b433b5e-b639-4436-a9a5-16cf110048f5"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM3P9.jpg"
    />
</p>
<p>
    Cycles of acting and living can sometimes make you feel down or depressed
    because your bad habits can make you feel down. Negative cycles often
    follow the same pattern:
</p>
<ul>
    <li>
        Something happens that makes you feel sad, uncomfortable, or stressed.
        It could be anything, even something seemingly trivial like a social
        situation or a test.
    </li>
    <li>
        As a result of that sadness or stress, you get in the habit of avoiding
        that situation so you don't have to deal with it again.
    </li>
    <li>
        Bad habits-like avoiding stressful situations-only make the problem
        worse and cause more and more bad feelings.
    </li>
    <li>
        Continuing to avoid situations that make you feel bad creates a vicious
        cycle, which can make you feel down and lead to depression.
    </li>
</ul>

{% endblock %}
