{% extends "base.html" %}

{% block app_content %}
<h4>Story</h4>
<p>
    As Sha'Niece gets closer to her delivery date, all the pressure and stress
    she's experiencing makes her want to stay far away from the house. Gran
    wants her to get a real job doing something other than hair, so she can
    support her new baby and her son La'Damen. To make matters worse, Brian and
    Kim got their section 8 housing approved and are moving to a 2-bedroom
    house on the other side of town.
</p>
<p>
    Sha'Niece has been looking into Section 8 housing for her and her children,
    but kept putting it off. Now, because Brian and Kim got their housing
    approved, she is feeling sad and even more stuck at Gran's house.
    Furthermore, Sha'Niece wants to get her GED, but can't seem to get the
    energy to call and register for a class. Even with a friend telling her
    about a free child care program that will watch her children while she's in
    school, Sha'Niece still has not called.
</p>

{% endblock %}
