{% extends "base.html" %}

{% block app_content %}
<h4>Wrap-up</h4>
<p>
    The habits you have and the rhythm of your actions each day, each week, and
    each year help shape your mood. Big changes in your life, like living in a
    new place or starting a new relationship, can break those rhythms. At the
    same time, behavioral bad habits in which you respond to an uncomfortable
    or upsetting situation by avoiding similar situations in the future can
    cause a down mood. You can use the TRAP method to spot these bad habits.
</p>

{% endblock %}
