{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Blaming yourself</strong>
</p>
<p>
    <img
        border="0"
        width="204"
        height="136"
        src="blob:https://word2cleanhtml.com/b9a8fa3f-7530-42f8-ab9e-0a1e3e5576a9"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM7P18.jpg"
    />
</p>
<p>
    Of course you need to criticize yourself sometimes-if we weren't able to
    think about ourselves critically at least some of the time, we'd never
    improve. Negative underlying beliefs make us blame ourselves too much. The
    trick is to be honest, not overly-critical. Look at every situation
    carefully. Praise yourself when you deserve it, and give yourself
    constructive criticism when you need it. Don't insult yourself; the best
    way is to think about how you can do better next time and look forward to
    your chance to improve. Your reason is your most powerful tool; use it to
    examine every belief you have. See what matches up with the facts.
    <br/>
    <br/>
    For example, suppose you do badly on a math test. You normally do well at
    math, but this time you had to take the test the morning after you had
    stayed up all night watching TV. After you get your score back, you could
    say to yourself, “I must be an idiot and I'm no good at math.” But if you
    think carefully, you'll realize that you did well before so the cause must
    be something else. Instead, you can think to yourself, “I just need to make
    sure to get a good night's sleep next time,” and then you can be confident
    that you'll do better on your next math test.
    <br/>
    <br/>
    <strong>
        Not blaming yourself too much can help protect you against depression
    </strong>
    . Instead, if you find something about the situation that you can change
    (like how much sleep you get), you can get control of the situation and
    prevent some “down” feelings that add to depression.
</p>

{% endblock %}
