{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">But what if these underlying beliefs are true?</h4>
<p>
    One of the most important parts of the CAB method is recognizing that
    negative underlying beliefs don't always make sense and that you don't have
    to accept them as truth. They only make it harder for you to accomplish
    your goals. While they might have a little bit of truth to them, they are
    too negative. More than anything else, they're unhelpful; there's no way
    that having negative underlying thoughts will help you get or become
    anything you want.
</p>
<p>
    In a way, it doesn't matter if a really negative belief has some truth to
    it or not, because they prevent you from getting better. For example, even
    if you're not the best at math, constantly thinking to yourself, “I'm bad
    at math” doesn't help you: it doesn't help your mood and it doesn't help
    you get better at math. Instead, thinking, “I'm not naturally great at math
    but I can improve if I work hard at it,” is more helpful and can help you
    better achieve your goals.
</p>
<p>
    Here are some common negative underlying beliefs and possible
    counter-thoughts:
</p>

</br>
<table class="table">
    <thead class="thead-light">
        <tr>
            <td scope="col" width="150">
                <p align="center">
                    Negative underlying belief</p>
            </td>
            <td scope="col" width="250">
                <p align="center">
                    Possible counter-thoughts
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p align="center">
                    “I'm ugly.”
                </p>
            </td>
            <td>
                <p>
                    “Most people feel self-conscious about the way they look
                    and besides, beauty comes in all different shapes and
                    sizes!”
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    “No one likes me.”
                </p>
            </td>
            <td>
                <p>
                    “Not everyone is my friend, but I do have a lot of people who
                    love and care about me. Besides, there are a lot
                    of people out there; when I meet more people,
                    I'll make more friends.”
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    “I'm a failure.”
                </p>
            </td>
            <td>
                <p>
                    “I'm bound to fail at some things, but the more things I try, the more things I'll succeed at.”
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    “I'm stupid.”
                </p>
            </td>
            <td>
                <p>
                    “I can't be good at everything, but I am good at a lot of
                    things, and in the future I'll find even more things that
                    I'm good at. I'll concentrate on those things
                    and get really good at them.”
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    “This situation is hopeless.”
                </p>
            </td>
            <td>
                <p>
                    “Nothing is ever hopeless. There’s always a chance for
                    things to get better. With the help of my family,
                    friends, teachers, and others I can get through
                    this rough time and become stronger
                    and better than before.”
                </p>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
