{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="246"
        src="blob:https://word2cleanhtml.com/7d5570a5-f45b-47cf-8b7b-b725b789462d"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM7P1.jpg"
    />
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How to use the CAB method to identify and fix negative thoughts
    </li>
    <li>
        What underlying beliefs are and why they're important
    </li>
    <li>
        How to use counter-thoughts
    </li>
</ul>
<p>
    We think this module should take about 20 minutes.
</p>

{% endblock %}
