{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Working with low mood</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/80705816-613e-45e5-82ec-e9979a21d7ee"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM7P7.jpg"
    />
</p>
<p>
    We can learn a lot about ourselves by paying attention to our thoughts when
    we are feeling down. We can often improve our moods just by taking some
    time to notice what's bothering us and trying to get to the bottom of it.
    When you feel your mood go down over a short period of time, often times it
has been triggered by a specific situation. Remember the ABC method (<strong>A</strong>ctivating event -
<strong>B</strong>ehavior - <strong>C</strong>onsequence) from the last module? An activating
    event-like finding out a friend can't hang out with you-triggers an
    unrealistic, negative belief, such as “no one likes me” and then a
    consequence, or down mood.
</p>

{% endblock %}
