{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>
    <p>        We all go through challenges in life. Read through some stories below. Can you relate?</p>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                The time has come for Sha'Niece to take the GED, but this week has been one of the worst weeks ever! Mya had a cold and was cranky, and because La'Damen is teething, she spent a lot of time parenting instead of studying.
            <p>
                During the test, she blanks out and can't think. She gets so anxious that she starts to feel sick to her stomach. She asks to go to the bathroom and begins to think that maybe she isn't cut out for this. She starts getting worked up and begins to cry. The librarian Mrs. Brown hears her and asks what is wrong. She explains her week and just how difficult things have been.
            </p>
            <p>
          Mrs. Brown suggests that Sha'Niece talk to the tester and explain her feelings. She agrees and finds out that this is just a practice exam! She didn't even hear when the tester told her that in the beginning. She feels calmer. She convinces herself to do her best and realizes that she had worked herself up for no reason. She now thinks that sometimes things come up that are out of her control, but she can calm herself down by thinking things through instead of just &#8220;spazzing&#8221; out.
            </p>
            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
                <p>
                    Jamal has a new section to study in math that he has never seen or heard of before. He studies really hard for this section but decides not to ask for help because he feels like all the other students already know this stuff. He's struggling with the material but he keeps trying on his own. The day after the test, he gets his paper back. He receives his first &#8220;D.&#8221;
                </p>
                <p>
                        He is devastated! Jamal starts to feel that maybe he is &#8220;dumb&#8221; and he shouldn't think about college. After class he sees another student, Kelly, sitting alone. She is very upset about her grade as well. She got her first &#8220;F&#8221; and is considering dropping out of the program. Jamal and Kelly decide to talk to their teacher about the test. Mr. Watkins, their professor, is very pleased by the two of them asking for help. He helps both of them with the one major area they both got wrong on the test. Suddenly, this section appears easier and understandable. On his bus ride home, Jamal decides that maybe he isn't &#8220;dumb,&#8221; and that maybe asking for help is a good idea. He is happier the next day in class and his grade is improving.
                </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>
            Ivan notices that since he has been spending the majority of his time working or reading and writing alone again, he feels really unhappy&#8230;almost depressed. Ivan's teacher pulls him aside after class again. He asks if Ivan wants to talk for a bit after school because he's worried about him. While talking with his teacher, Ivan realizes he's been pushing his girlfriend and her brother away, even though they weren't the ones making fun of him. He realizes how much happier he was when he gave himself the outlet and the option of being social.
               <p>
          His teacher also pointed out Ivan's talent as a writer. He tells him he is one of the best young writers he has come across in all of his years of teaching and encourages him to not give up on school totally just yet. Ivan leaves the classroom feeling confident again. He goes to meet up with his girlfriend and her brother and apologizes for being so distant. Lucky for him, his apology was accepted. The three of them decided to go back to the house for dinner, watch a movie, and get some studying done too.
      </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>
            <p>
Lately Danny has been feeling like things just don't go his way. It feels like everything in his life is falling apart. The other day Danny got a paper back in one of his classes and his professor didn't like what he had to say. As Danny read his professor's comments Danny started to feel really bad about himself. Danny had always considered himself a well-rounded person. He was involved in a lot of activities in high school and he had lots of friends and always did well in his classes. Danny was comfortable in this role as the one who was good at most anything he tried.
            </p>
            <p>
        Now that he is in college, however, Danny is surrounded by a lot of people just like him who are also good at a lot of things and who also did well in high school. In fact, lately it's felt like most everyone is able to handle college life better than he can and he's been feeling really insecure about his abilities and about his future. Even though Danny was upset by his professor's comments at first, when Danny was able to step back and look over the paper again he saw that there were things he could improve on. He also realized that part of the reason he had been feeling so down and insecure about his life lately was that when he received the grade on his paper he started to think he wasn't as good at anything anymore. Kicking himself for not doing well on his paper and feeling like he wasn't good enough had put Danny in a bad mood.
           </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                Elena had a great week. She spent the majority of her time at school, studying with her good friend, hanging out with her sister and avoiding Jose. Yeah, Jose texted and called, but she managed to ignore most of it. He decided to skip most days of school that week so she only had to face him in person once.
            </p>
            <p>
   Unfortunately, that one time, Jose got to her. He must have been following her because he got to her in the hallway alone when she had left class to go to the bathroom. He was being a little pushy and saying some pretty possessive things, but when he kissed her, she realized how much she missed him. She wasn't sure how but he had convinced her to cut the rest of the school day with him. They drank a little bit and had sex. Afterward, Jose said he had some &#8220;business&#8221; to take care of so he told Elena to take off. She felt used, guilty for skipping school, and dirty.
            </p>
            <p>
        She walked home, panicking and feeling really anxious. She started to have thoughts of giving up on everything and giving in to the gang again. When she got home, she decided to write her thoughts down. Again, she reminded herself that Jose is toxic to her. This day was yet another example of that. She realized that this is just one day and that she can get back on track tomorrow. She can lean on her friend for support and things like this might not happen. When she stays focused, and surrounds herself with the right people, Elena is good.
            </p>

        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
