{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Example: Getting turned down</h4>
<p>
    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
</p>
<p>
    If you ask someone at your school to go to a movie with you and you get
    turned you down, you might have the non-personal thought, “The kids at my
    school are all the same, they never like me, and they're not worth my
    time.” Although you are mad, you know that you are really down about being
    rejected. You may feel like this person did not give you a chance, but also
    that you weren't good enough for her/him. Thinking that you were not good
    enough for her/him is your personal thought.
    <br/>
    <br/>
    If you tried to think of a statement that begins with “I,” you might say,
    “I feel really down about this. I feel like no one wants to spend time with
    me, and I am just not good enough to have any friends.” You are blaming
    yourself.
    <br/>
    <br/>
    You cannot change the choices other people make, but you can work on and
    change personal beliefs once you know what they are and how they lead you
    astray. For example, instead of the negative non-personal (“they're not
    worth my time”) and personal (“I'm not good enough”) thoughts, you could
    form the counter-thought, “I'm disappointed about this, and while not
    everyone at school is going to like me, there are a lot of other people who
    do.”
    <br/>
    <br/>
    Negative thoughts are unhelpful. Dwelling too much on feeling bad and
    feeling rejected can actually drive other people away.
    <br/>
    <br/>
    If you started keeping your own mood diary in the previous modules remember
    to use these ideas and see how they affect your mood.
</p>

{% endblock %}
