{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">What are my goals?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    One reason people can form and accept negative underlying beliefs is by
    taking to heart unrealistic cultural beliefs about what makes us happy.
    This happens because we're constantly being sent messages from TV, radio,
    “smart phones”, movies, and other people about what “real” happiness is.
    It's easy to assume that just having lots of money and friends will
    automatically make you happy, or that if only you looked differently you'd
    magically feel better. <strong>But that's not how happiness works!</strong>
    <br/>
    <br/>
    These sorts of beliefs don't make any more sense than other underlying
    beliefs we've talked about. If you find yourself falling prey to
    unrealistic cultural expectations in this way, stop and think about it. Is
    something really going to make you happy just because other people assume
    it does? You have to find what makes you happy, not what would make people
    on a TV show happy. Training your thoughts to be less negative can help you
    see that you can feel better no matter how you compare to other people.
</p>

{% endblock %}
