{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>This is hard-how can I keep myself going?</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="299"
        src="blob:https://word2cleanhtml.com/4a0b75b9-a3d4-4fc5-9b7a-ab42fe700d5e"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM7P5.jpg"
    />
</p>
<p>
    Sticking with this study is like any process of personal change: dieting,
    learning algebra, etc. You have to keep practicing these actions until they
    become a part of your life. Many of your goals will not be achieved
    immediately so you won't see how your effort might pay off for some time.
    <br/>
    <br/>
    You can motivate yourself by giving yourself rewards for practicing and
    completing the modules. If you’ve been keeping track, look over your mood
    diary and thought change diaries: do you see a relationship between days
    where you had really negative thoughts and how you felt on those days? Did
    changing negative thought patterns make a difference? If so, you have come
    a long way toward mastering the basics of this process and beginning to
    change your life.
</p>

{% endblock %}
