{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How do underlying beliefs work?</h4>
<p>
    A student hears that five out of a hundred students failed a test in his
    math class. He gets down before he even knows his own results; he thinks
    that he must be one of those students for sure. His underlying belief might
    be, “I'm terrible at math, a failure at school, and I never do well at
    anything.” Here's how his unhelpful thought happened:
</p>

<p>Underlying Belief: “I never do well at anything.”</p>
<table class="table">
    <thead>
        <tr>
            <td>
                <p align="center">
                    <strong>Activating Event:</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>Belief:</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>Consequence:</strong>
                </p>
            </td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p align="center">
                        <em>A friend can't hang out</em>
                    </p>
                </td>
                <td>
                    <p align="center">
                        <em>“No one wants to go out with me.”</em>
                    </p>
                </td>
                <td>
                    <p align="center">
                        <em>“I feel down.”</em>
                    </p>
                </td>
            </tr>
        </tbody>
</table>

{% endblock %}
