{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Skill Builder</strong>
</p>
<p>
    <strong>Learning how to figure out what's bothering you</strong>
</p>
<p>
        If you’ve been completing a mood diary, the below questions can help
        you think about this module. Feel free to write down your answers as
        you go along. If you haven’t created a mood diary, feel free to go back
        to the earlier modules and get one started!
</p>
<div>
</div>
<ol>
    <li>
    Look back at your mood and thought change diaries. Do you see any common
    themes in your thoughts? Think about one unrealistic underlying belief.
    </li>
    <li>
    Think about 1 or 2 counter-thoughts to the common underlying belief that
    you described above.
    </li>
    <li>
    Think about 1 to 3 events/situations in which you noticed a personal
    belief hiding behind a non-personal one. Think of recent situations in
    which you became very angry with someone and also very “down” about it. The
    chart below can help you think through them, feel free to make your own
    chart like it!
    </li>
</ol>

    <p><strong>Here's an example:</strong></p>
<ul>
    <li>
    <strong>Event:</strong>
    “My dad told me he was worried that I had not looked for a summer job yet.”
    </li>
    <li>
    <strong>Non-personal belief:</strong>
    “My dad is always on my case, he never gives me a break.”
</li>
<li>
    <strong>Personal belief:</strong>
    “I feel like I am lazy when it comes to looking for jobs.
</li>
</ul>

<p>
    Once you think through the events, non-personal beliefs and personal
    beliefs, think of good counter-thoughts for the negative personal beliefs.
    Find a place to write down at least one good counter-thought.
</p>

{% endblock %}
