{% extends "base.html" %}

{% block app_content %}

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">What is the main goal of Project CURB?</h2>
        <p class="lead">In this module, you'll learn how to identify the negative, unrealistic
        thoughts that drag your mood down and make it harder to achieve your goals.
        We will teach you how to counter the thoughts that are bothering you as
        they come up in day-to-day living.</p>
      </div>
      <div class="col-md-5">
          <img
              class="img-fluid"
              src="/static/images/module1/image009.jpg"
          />
      </div>
    </div>
<p>

</p>
<p>

</p>

{% endblock %}
