{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Story</strong>
</p>
<p>
    The time has come for Sha'Niece to take the GED, but this week has been one
    of the worst weeks ever! Mya had a cold and was cranky, and because
    La'Damen is teething, she spent a lot of time parenting instead of
    studying.
</p>
<p>
    During the test, she blanks out and can't think. She gets so anxious that
    she starts to feel sick to her stomach. She asks to go to the bathroom and
    begins to think that maybe she isn't cut out for this. She starts getting
    worked up and begins to cry. The librarian Mrs. Brown hears her and asks
    what is wrong. She explains her week and just how difficult things have
    been.
</p>
<p>
    Mrs. Brown suggests that Sha'Niece talk to the tester and explain her
    feelings. She agrees and finds out that this is just a practice exam! She
    didn't even hear when the tester told her that in the beginning. She feels
    calmer. She convinces herself to do her best and realizes that she had
    worked herself up for no reason. She now thinks that sometimes things come
    up that are out of her control, but she can calm herself down by thinking
    things through instead of just “spazzing” out.
</p>

{% endblock %}
