{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Blaming others</strong>
</p>
<p>
    Sometimes we react to situations by blaming or becoming angry with other
    people or things when we are actually upset with ourselves. Although there
    are many situations in which anger may be justified, there are also
    situations in which “non-personal” thoughts may make you feel sad. Such
    feelings suggest that you might actually be upset with yourself.
    <br/>
    <br/>
    A negative, <strong>non-personal thought</strong> that is about somebody or
    something else could really turn out to be a personal thought about
    yourself. That is, when you get mad at your homeroom teacher for giving you
    detention when you come in late, you might really be mad at yourself for
    being late and getting yelled at.
    <br/>
    <br/>
    You may take unnecessary offense to your sister's casual mention of your
    new haircut and immediately think, “I'm ugly.” The fact that these negative
    thoughts about you are personal doesn't mean that they're true. In fact,
    they clearly show that you have no good reason to be thinking such negative
    things about yourself. When this happens, you can use the CAB technique to
    determine your personal beliefs. Beliefs like this begin with “I” and are
    directed at yourself instead of at another person.
</p>

{% endblock %}
