{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Example: Learning a new language</h4>
    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
<p>
    Imagine you're taking a Spanish class for the first time. After the first
    few days in class, you want to try out your new skills, so you call up a
    friend who speaks Spanish. After saying basic greetings, you realize that
    you don't know enough Spanish to talk with your friend. He speaks slowly
    and carefully, trying to help you along, but you feel stupid even trying.
    “I'll never learn Spanish,” you think. “I'm stupid and awful at foreign
    languages and this is a total waste of time.” This negative belief brings
    your mood down and keeps you from learning something new that interests
    you. Since you're new at Spanish and your friend isn't, a more realistic
    thought would be, “At least I have the basics down. If I keep at it, soon
    I'll be good enough to talk to my friend.” How would you feel then?
    <br/>
    <br/>
    You can break out of this pattern by using the CAB method.
</p>

{% endblock %}
