{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">This is hard-how can I keep myself going?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Sticking with this study is like any process of personal change: dieting,
    learning algebra, etc. You have to keep practicing these actions until they
    become a part of your life. Many of your goals will not be achieved
    immediately so you won't see how your effort might pay off for some time.
    <br/>
    <br/>
    You can motivate yourself by giving yourself rewards for practicing and
    completing the modules. If you’ve been keeping track, look over your mood
    diary and thought change diaries: do you see a relationship between days
    where you had really negative thoughts and how you felt on those days? Did
    changing negative thought patterns make a difference? If so, you have come
    a long way toward mastering the basics of this process and beginning to
    change your life.
</p>

{% endblock %}
