{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Doing goals:</strong>
</p>
<ul>
    <li>
        Use the CAB method to identify at least 3 of your own negative
        underlying beliefs.
    </li>
    <li>
        Make a counter-thought to replace each underlying negative belief you
        find.
    </li>
    <li>
        Make a chart like the one below on some paper. If you’re keeping track
        of these exercises, add this one to your journal so you can continue to
        think about what you have written.
    </li>
</ul>

{% endblock %}
