{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">
        Creating a counter-thought for a negative underlying belief
</h4>
<p>
    Let's continue with the example of the student who learns that several
    students failed an exam; he's upset, sure he failed too, even though he
    studied and had felt he did well.
    <br/>
    <br/>
</p>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
</br>
{% endblock %}
