{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How does the CAB method work?</h4>
<p>
    Look at the diagram below. You can see how an event triggers a belief that
    then leads to a bad mood. Usually the belief is something that helps us
    interpret (gain an understanding of) a situation. We are often trying to
    figure out whether something that just happened is “good” or “bad.” People
    often exaggerate or overemphasize the “bad” side of something.
    <br/>
    <br/>
    Remember the example of a friend who isn't available to hang out? Look at
    the diagram below. The first set of blocks is the ABC method that teaches
    us how events, beliefs and moods are all related.
</p>
<table class="table">
    <thead>
        <tr>
            <td>
                <p align="center">
                    <strong>Activating Event:</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>Belief:</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <strong>Consequence:</strong>
                </p>
            </td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p align="center">
                        <em>A friend can't hang out</em>
                    </p>
                </td>
                <td>
                    <p align="center">
                        <em>“No one wants to go out with me.”</em>
                    </p>
                </td>
                <td>
                    <p align="center">
                        <em>“I feel down.”</em>
                    </p>
                </td>
            </tr>
        </tbody>
</table>
<p>
    The CAB method teaches how to apply this method to everyday living. We just
    rearrange to blocks to help us find the source of our down mood.
</p>
<table class="table" >
    <thead>
        <tr>
            <td>
                <p align="center">
                    <strong>Consequence or mood change</strong>
                </p></td>
            <td>
                <p align="center">
                    <strong>Activating Event</strong>
                </p></td>
            <td >
                <p align="center">
                    <strong>Belief:</strong></p></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p align="center">
                    I feel down.
                </p>
            </td>
            <td>
                <p align="center">
                    A friend can't hang out
                </p>
            </td>
            <td>
                <p align="center">
                    No one wants to go out with me
                </p>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}
