{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Using your counter-thought</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="299"
        src="blob:https://word2cleanhtml.com/37a0d0e1-16c4-4e5f-ba7f-18ed118d04cd"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM7P11.jpg"
    />
</p>
<p>
    Now use your counter-thought. Using a counter-thought changes how you view
    the situation. You experienced the same event, but now you feel much better
    about it.
</p>
<table class="table" width="540">
    <thead>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Activating Event:</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Belief:</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Consequence:</strong>
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <em>A friend can't hang out</em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>“No one wants to go out with me.”</em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>“I feel down.”</em>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table class="table" width="540">
    <thead>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Counter-thought:</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Consequence or mood change:</strong>
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <em>
                        “She may have been busy. Plus, I have
                        <br/>
                        other friends I can go out with.”
                    </em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>“I feel disappointed, but not down.”</em>
                </p>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
