{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Getting to the root of the problem: underlying beliefs</strong>
</p>
<p>
    <img
        border="0"
        width="90"
        height="120"
        src="blob:https://word2cleanhtml.com/2bd6a8d4-4fae-4738-abfc-c4298022cb9a"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM7P12.jpg"
    />
</p>
<p>
    An underlying belief is something you believe about yourself, someone else,
    or the world around you without necessarily realizing you believe it. Both
    positive and negative underlying beliefs affect the way we think and feel,
    and negative underlying beliefs can make us down. We can internalize
    unhealthy thoughts until they become beliefs. For example, one day you
    might trip and fall at school and one of your teachers calls you clumsy.
    While she probably didn't mean to insult or hurt you, you think, “I'm a
    klutz. Everyone thinks so and they're all laughing at me.” The thought gets
    stuck in your head-like a really annoying song-and pretty soon you start to
    believe it.
    <br/>
    <br/>
    One of the tasks of developing as a young adult is to move beyond past
    experiences and negative beliefs to create a positive picture of yourself
    in the present.
</p>

{% endblock %}
