{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>
        Creating a counter-thought for a negative underlying belief
    </strong>
</p>
<p>
    Let's continue with the example of the student who learns that several
    students failed an exam; he's upset, sure he failed too, even though he
    studied and had felt he did well.
    <br/>
    <br/>
</p>
<p align="center">
    <a>
        <img
            border="0"
            width="211"
            height="168"
            src="blob:https://word2cleanhtml.com/2f0330c6-c2be-4914-aa81-9361cb973a16"
            alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM7P17_small.jpg"
        />
    </a>
</p>

{% endblock %}
