{% extends "base.html" %}

{% block app_content %}

<div class="jumbotron">
  <h1 class="display-4">Welcome back!</h1>
  <hr class="my-4">
<p>
    So far you've thought about your moods and your negative thoughts. You've
    learned to identify your negative thoughts and to see how they might get
    you down. This module focuses on understanding the parts of your thoughts
    that can make you feel negatively about yourself and learn how to protect
    yourself from those thoughts now and in the future.
    <br/>
    <br/>
    You may have certain types of events that often trigger the negative
    thoughts. Creating positive counter-thoughts is one of the best ways to
    stop this process. When you are feeling better and are thinking more
    realistically about a situation, you're more likely to be able to deal with
    it effectively. If you’ve been keeping up with the modules, you should have
    a plan that includes common activating events (events that trigger negative
    thinking), unrealistic negative thoughts, and positive counter-thoughts. If
    not, feel free to go back through them and work on your plan!
    <br/>
    <br/>
    When you get a cold, your body's immune system learns to recognize the cold
    germs so it can protect itself against those germs in the future. Think of
    this module as training you to recognize the cold germs. The better you
    understand your thoughts now, the more you'll be able to protect yourself
    against negative, unhelpful thoughts in the future.
</p>
</div>
{% endblock %}
