{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How can I change negative underlying beliefs?</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="141"
        src="blob:https://word2cleanhtml.com/a5700d89-0e73-4f10-ade7-2e6aca480ba4"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM7P14.jpg"
    />
</p>
<p>
    It's worth taking the time to think about how you evaluate yourself and the
    events you experience. Keeping a mood- and thought-change diary will help
    you identify your underlying beliefs. Look for patterns to see if your
    underlying beliefs are the source of some of your negative, unhelpful
    thoughts. It may be a lot to take on all the unhelpful thoughts you have
    all at once. Pick five or six negative underlying beliefs that you have and
    work on those first. You can then begin to develop positive
    counter-thoughts and tackle other negative beliefs to create balanced,
    positive thoughts that fight off the unhelpful, negative underlying
    beliefs.
</p>

{% endblock %}
