{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How do you figure out why you feel down sometimes?</h4>
<p>
    Many times we find ourselves feeling down (a consequence) and we don't know
    why. Sometimes, you can understand why by thinking about what was happening
    when you started to feel down: this may be the triggering (activating)
    event. Try to remember the thought that was going through your head at that
    time: this may be the negative belief.
</p>

{% endblock %}
