{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Using your counter-thought</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Now use your counter-thought. Using a counter-thought changes how you view
    the situation. You experienced the same event, but now you feel much better
    about it.
</p>
<table class="table" width="540">
    <thead>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Activating Event:</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Belief:</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Consequence:</strong>
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <em>A friend can't hang out</em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>“No one wants to go out with me.”</em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>“I feel down.”</em>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table class="table" width="540">
    <thead>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Counter-thought:</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Consequence or mood change:</strong>
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <em>
                        “She may have been busy. Plus, I have
                        <br/>
                        other friends I can go out with.”
                    </em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>“I feel disappointed, but not down.”</em>
                </p>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
