{% extends "base.html" %}

{% block app_content %}

<h4 id="module_name">What is the main goal of Project CURB?</h4>

<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>In this module, you'll learn how to identify the negative, unrealistic
thoughts that drag your mood down and make it harder to achieve your goals.
We will teach you how to counter the thoughts that are bothering you as
they come up in day-to-day living.
</p>

{% endblock %}
