{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Wrap-up</h4>
<p>
    You can use the CAB method to spot and fix negative thoughts. The CAB
    method helps you identify the negative underlying beliefs that you have and
    replace them with more positive counter-thoughts. An underlying belief is a
    belief you have about yourself, even if you don't realize it at first. They
    are important because they can affect how you interpret events in your
    life. You can use counter-thoughts to challenge negative underlying
    beliefs. By thinking about your situation, you can see that your negative
    beliefs don't match up with reality. Using counter-thoughts can help you
    improve your mood.
</p>

{% endblock %}
