{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Skill Builder</h4>
<p>
    Practicing these skill builders is an important step in helping you learn
    to stop unrealistic or negative thinking. Choose your most negative thought
    each day, and then write down a counter-thought that balances or cancels
    out the negative thought. We would like you to keep track of your progress;
    and recommend using a calendar. Record the negative thought in the area
    with the minus (-) sign and your positive counter-thought in the plus (+)
    sign area. Use this as a guide to help remind you to use positive
    counter-thoughts.
</p>
<p>
    On the following page, please complete a contract to remind you to reward
    yourself when you change your thinking. You might want to place this
    contract in an area where you will see it each day.
</p>

{% endblock %}
