{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Story</h4>
<p>
    The work that Jamal has completed in math class during the school year was
    great! But now, he hates the long bus ride and the early hours he has to
    keep in order to get to that math program! On the weekends, he has to
    listen to his buddies talk about dates, movies, and late night basketball
    games, which makes him feel angry and resentful. He asks himself why he's
    wasting his time with “this math crap!” in the first place.
</p>
<p>
    However, when he gets to class on Monday, he's reenergized and excited by
    how much he really gets this math thing. He feels happier as the day
    progresses, and the older students boost his confidence and self-esteem. He
    begins to feel smart and wants to learn more! He has met a couple of really
    nice kids from his own neighborhood…kids he did not know before. Now,
    during his bus ride home, he has a new friend to talk to who likes
    basketball and math just as much as he does. He is beginning to think it
    was a good decision to stick with the math program after all.
</p>

{% endblock %}
