{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="235"
        src="blob:https://word2cleanhtml.com/1c7b9d90-f499-483c-b035-19bd5a6766eb"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM6P1.jpg"
    />
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How negative thinking and your mood are related
    </li>
    <li>
        How to look at your thoughts and actions using the ABC method
    </li>
    <li>
        How to use “counter-thoughts” against negative thoughts
    </li>
</ul>
<p>
    This module should take you about 15 minutes.
</p>

{% endblock %}
