{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Doing goals:</strong>
</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
    Identify one negative, unhelpful thought each day.
    </li>
    <li class="list-group-item">
    Practice creating and using one counter-thought each time you have that
    thought.
</li>
<li class="list-group-item">
    Write down your unhelpful thoughts and positive counter-thoughts in a
    notebook to help you practice!
    </li>
</ul>
</br>
{% endblock %}
