{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Counter-thoughts</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/a3c2be89-6e2f-47aa-9336-f49a6c470001"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM6P5.jpg"
    />
</p>
<p>
    Once you've used the ABC method to figure out how negative thinking is
    affecting your mood, you can use “counter-thoughts” to change those
    negative thoughts and improve how you feel. Counter-thoughts challenge
    negative beliefs and help you look at the Activating Event in a more
    positive light. Because counter-thoughts are positive, they help improve
    your mood. In the example shown in the diagram above, if you replace your
    negative belief (“My day is ruined”) with a more positive response (“I can
    have a good day even if it's raining”) the consequence will change - that
    is, you may not feel down. You can improve your mood by changing the way
    that you think in response to “trigger” events.
</p>
<p>
    Here's a second diagram to show how counter-thoughts can replace negative
    beliefs:
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
          <th scope="col">Activating Event</th>
          <th scope="col">Belief</th>
          <th scope="col">Consequence</th>
        </tr>
    </thead>

    <tbody>
      <tr>
        <td>Raining Outside</td>
        <td>My day is ruined</td>
        <td>Feeling Down</td>
      </tr>
    </tbody>
</table>
</br>
{% endblock %}
