{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>
    <p>        We all go through challenges in life. Read through some stories below. Can you relate?</p>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                Sha'Niece delivered a healthy baby girl named Mya. She was excited not to be pregnant any longer, but the reality of parenting two kids sank in and got her feeling a little anxious. She's sleepy and exhausted all of the time. She has no time to do hair and has no money to support her children. After a while, she begins her GED program. While it's a hassle getting there with the two kids, she is able to de-stress when she arrives.
            <p>
                She can talk about her true feelings with Mrs. Brown and her new friends. This makes her feel like she's not alone. The teachers offer her parenting advice and she is surprised that many of the strategies actually work with her children. While her situation has not changed at home, at least she knows she is able to come into the school and talk. She feels better each day. She even looks forward to the bus ride when she can read to La'Damen and cuddle with Mya.
            </p>
            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
                <p>
                 The work that Jamal has completed in math class during the school year was great! But now, he hates the long bus ride and the early hours he has to keep in order to get to that math program! On the weekends, he has to listen to his buddies talk about dates, movies, and late night basketball games, which makes him feel angry and resentful. He asks himself why he's wasting his time with &#8220;this math crap!&#8221; in the first place.
                </p>
                <p>
                         However, when he gets to class on Monday, he's reenergized and excited by how much he really gets this math thing. He feels happier as the day progresses, and the older students boost his confidence and self-esteem. He begins to feel smart and wants to learn more! He has met a couple of really nice kids from his own neighborhood&#8230;kids he did not know before. Now, during his bus ride home, he has a new friend to talk to who likes basketball and math just as much as he does. He is beginning to think it was a good decision to stick with the math program after all.
               </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>
                Ivan is starting to feel some distance between him and his new group of friends. After he found out that his grades were seriously dropping, Ivan decided the weed wasn't helping so he didn't always take a hit when the rest of the crew was smoking. The rest of the crew started to make fun of him when he decided to pass on smoking. He noticed that since then, they've been calling him less to come hang out.

               <p>
                   This has caused Ivan to feel some anxiety around his girlfriend. Even though she keeps telling him that she doesn't care if he doesn't smoke weed, he thinks she will eventually stop calling him too. In order to protect himself and reduce the anxiety he is feeling, Ivan starts to spend more time alone again, reading and writing. Ivan's dad told him that the factory where he works is cutting people's hours so there is a chance that he will work fewer hours from now on.
           </p>
           <p>
               Ivan doesn't want to worry his parents any more than they already do so he just acts like everything is going to be all right and just keeps it all bottled up inside. The opportunity to go to college seems more and more unlikely. Schoolwork starts to matter to Ivan less, so he picks up more extra shifts at the restaurant. After all, he is lucky his boss decided not to fire him.
               </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>
            <p>
                Danny woke up the next morning after feeling really upset and went for a long run around the track on campus. He thought about his future and his situation in college. Deep down Danny knows that he is smart and that he belongs in college, but when things get overwhelming the negative feelings seem to overcome him and that's all that he can focus on.
            </p>
            <p>
        During his run Danny starts to realize that the negative feelings are interfering with his schoolwork and by focusing on the negative he is making his situation worse. It is easy for Danny to fall into the trap of thinking that he is not smart enough or capable enough to handle college, but when Danny is able to focus on his abilities and work on improving areas that are hard for him he starts to feel more confident. Danny decides that he will try to focus on staying active and getting his schoolwork done. Going for a run helped Danny to think through his feelings and counteract some of his negative feelings with more positive thoughts. He knew he was smart enough for college and that he could get grades he'd be proud of. Danny felt better after his run and decides he'll go for a run more often.
           </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                Elena was prepared to spend another night away from home. She finished her first beer but before she could pop open a second, her cell phone rang. She answered and heard her little sister's voice on the other line. Elena mustered up some willpower from somewhere within. She told Jose she was out, leaving for the night and left before he could even answer. As she stepped out into the cool air and walked home, she felt instant relief&#8230;like she had the day before. She started to realize just how toxic Jose and the gang are to her. She knew Jose and some of the others might come after her in a few days but in that moment, she didn't care. She just wanted to be home.
            </p>
            <p>
 When she arrived home, it was the usual scene. Dad was nowhere to be found. Mom had just gotten home from work and was too exhausted to talk. She and her little sister settled in front of the TV to watch some MTV. Elena thought about her friend Carla and how she had blown her off at school. Remembering that avoiding her friend made things worse, Elena texted her friend just to say hi and to thank her again for listening the day before. Fortunately, her friend replied &#8220;no problem&#8221; then asked Elena to meet up to study the next day. She gladly accepted and realized she went to bed feeling calm two nights in a row. This was a record.            
            </p>

        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
