{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Welcome back!</strong>
</p>
<p>
    <img
        width="199"
        height="133"
        src="blob:https://word2cleanhtml.com/3a5abcc2-d975-4b21-a18b-74433dee630e"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM6P2.jpg"
    />
</p>
<p>
    In the last module, you learned how your thoughts and your mood affect each
    other. Now you will learn specific ways in which your thoughts can change
    your mood. All sorts of good or bad things happen to us every day, but
    nothing that happens in the outside world can actually force you to feel
    bad.
</p>
<p>
    Instead, your interpretation (thoughts) of what happens to you changes your
    mood and how you think about yourself and others. Certain ways of
    interpreting the world-negative thinking-can cause you to feel down even if
    you’re not sure why.
</p>

{% endblock %}
