{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>The ABC method</strong>
</p>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    The ABC method can help you figure out how the way you think may be causing
    you to feel down. The ABC method has three steps.
</p>
<ol>
    <li>When you notice that you feel bad, first try to figure
        out when this started. For example, you may notice that you
        feel bad after you see that it's raining and cold outside,
        ruining your plans to be outside. This is the <strong>A</strong>ctivating
        Event that triggers your down mood.
    </li>
    <li>
        Next, look at how you think about the Activating Event.
        When you see that it's raining, you may think, “It's
        miserable outside and now my day is ruined.” This is the
        negative <strong>B</strong>elief that you have. Negative
        Beliefs can cause down moods.
    </li>
    <li>
        Finally, you experience the <strong>C</strong>onsequence,
        which is how you feel. Because you believed
        that the rain would ruin your day, your mood went down.
    </li>
</ol>
<p>
    Here's a diagram which shows the steps of the ABC method:
</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
          <th scope="col">Activating Event</th>
          <th scope="col">Belief</th>
          <th scope="col">Consequence</th>
        </tr>
    </thead>

    <tbody>
      <tr>
        <td>Raining Outside</td>
        <td>I can have a good day even if it's raining</td>
        <td>Feeling Better</td>
      </tr>
    </tbody>
</table>
</br>

{% endblock %}
