{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What can I do about negative, unhelpful thoughts?</strong>
</p>
<p>
    In life, a lot of things happen that are beyond your control. Any of us
    could get sick tomorrow or we could win the lottery; we have no way of
    telling what will happen. Sometimes you can't keep bad things from
    happening to you. But no matter what happens, you and you alone have the
    choice of how you're going to face the world and what you want your
    attitude to be. Changing your thoughts might not seem like much, but it's
    the groundwork for improving down moods. Sometimes having the right outlook
    is half the solution.
</p>

{% endblock %}
