{% extends "base.html" %}

{% block app_content %}
<h4>Welcome back!</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    The last two modules showed you Behavioral Activation (BA), which can help
    you understand why you do what you do and how your actions interact with
    the outside world. The TRAP method taught you how to identify patterns of
    behavior. The TRAC method helps you think of different, better things you
    can do in the future to improve your mood and your life. For example, if
    you do poorly on an exam (Trigger) you may think that all is lost
    (Response) and not study in the future (Avoidance Pattern). Instead of not
    studying for your next exam, you could study hard (Alternative Coping), do
    well on the exam, and feel better about yourself.
</p>
<p>
    The focus of this module is to learn how negative, unrealistic beliefs or
    thoughts can get in the way of good health and the process of becoming an
    adult. While “beliefs” and “thoughts” are not the same, our thoughts are so
    heavily influenced by our beliefs that sometimes they become
    interchangeable. During the next few modules you'll learn a way of training
    your mind to think positively-the key to achieving your goals. When you
    only focus on the negative parts of an experience, you are actually more
    likely to have bad things happen to you. If you learn to think positively
    about yourself and your experiences, you will be closer to reaching your
    goals.
</p>

{% endblock %}
