{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How can negative events change the way I act?</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/f13a4f77-5968-49af-a28e-327cd0c03477"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM5P9.jpg"
    />
</p>
<p>
    Have you ever already been feeling sorry for yourself and then did
    something negative that made you feel even worse? Maybe you have a negative
    experience and then because of that you begin to think even more
    negatively, do fewer things you enjoy, stay alone more often, and in turn
    get more down. This is what's known as a “downward spiral”, where feeling
    bad keeps you from taking part in activities that could improve your mood.
    However, you can take simple steps to reverse the downward spiral. You
    could focus on the positive things in your life, do more fun activities,
    exercise, and make sure that you get the right amount of sleep. The more
    you do these positive things, the better you'll feel and the more positive
    thoughts you'll have.
</p>

{% endblock %}
