{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="257"
        src="blob:https://word2cleanhtml.com/b6b9c798-375b-4f3f-bd76-6c20538201ed"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM5P1.jpg"
    />
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How negative or unhelpful thoughts can influence your mood
    </li>
    <li>
        What CBT is about
    </li>
    <li>
        How to spot and fix unhelpful thoughts
    </li>
</ul>
<p>
    We think this module should take you about 20 minutes.
</p>

{% endblock %}
