{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Wrap-up</strong>
</p>
<p>
    Negative thinking about yourself or your life can hurt your mood. This
    thinking can give you a distorted view of the world, change the way you
    act, and make you feel hopeless. CBT is a type of training that you can use
    to change negative thoughts and improve your mood. It trains you to get a
    more realistic picture of the world that will help you deal better with
    your life.
</p>

{% endblock %}
