{% extends "base.html" %}

{% block app_content %}
<h4>How can I train my thoughts?</h4>
<div class="media">
    <img class="align-self-start mr-3 rounded" src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
  <div class="media-body">
      <p>
          The methods used in this module to help you train your mind are part of
          Cognitive Behavioral Therapy (CBT). The idea behind CBT is pretty basic: by
          changing your beliefs/thoughts, you can change the way you feel and act. No
          matter the situation, you have the power to decide how you will think about
          that situation and react to it. Getting stuck in negative thinking is only
          a bad habit; it might be hard to break, but it can be done.
      </p>
      <p>
          Now that you've learned how your emotions and patterns of behavior are affected
          by the world around you (thinking “outside-in”), it's time to learn how to
          change and control your thoughts to improve your mood. The concepts of CBT
          can teach you how to better understand the way you think, including how to
          identify thoughts that are negative or unhelpful. Using these concepts, you
          can learn how to change and manage your emotional responses to unpleasant
          situations in the moment, helping you to respond to sadness or negative
          emotions and improve your mood. You will feel better about yourself, other
          people, and the world around you.
      </p>
  </div>
</div>



{% endblock %}
