{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>But aren't unhelpful thoughts just in my head?</strong>
</p>
<p>
    <img
        width="111"
        height="168"
        src="blob:https://word2cleanhtml.com/c2d4e91c-69a9-4f7b-8b2c-d67faebff9c5"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM5P8.jpg"
    />
</p>
<p>
    We often believe that how we feel about things, what we think about them,
    and how we act are completely separate. In fact, what we think, how we
    feel, and how we act are all connected. Negative, unhelpful thoughts tend
    to bring on depressed feelings, and depressed feelings tend to bring on
    depressed behavior.
</p>
<p>
    When we're feeling down, our sleeping habits change, we lose interest in
    the things we enjoy, and we feel like we can't concentrate. Because our
    moods and our habits are connected, behavior can make down feelings worse.
    Having experiences that make you feel more negative about yourself or keep
    you from doing the stuff you enjoy can actually make you feel worse. While
    we can't directly control our feelings, we can change the way we think and
    act in order to better handle sad feelings or down moods.
</p>
<p>
    We usually assume that there is a good reason why we feel bad, and that all
of the thoughts we have make perfect sense. We have to remember that    <strong>sometimes our thoughts and feelings just aren't helpful</strong>;
    that is, we blame ourselves or think negatively without any good reason for
    doing so.
</p>
<p>
    The way to solve this problem is to distance yourself from your thoughts
    and feelings. Take some time to see if your negative thoughts will help or
    hurt you in the process of achieving your goals. You'll often find that
    they hurt.
</p>
<p>
    Once you realize that some of the negative thoughts you have are unhelpful
    and aren't thoughts you want to keep, you can start replacing them with
    more helpful, positive thoughts and get closer to becoming a happier, more
    resilient person.
</p>

{% endblock %}
