{% extends "base.html" %}

{% block app_content %}
    <h4>Example: Applying to college</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Let's say you got into many of the colleges you applied to, but your top
    choice put you on a waiting list. When you find out, you get really upset
    and think: “I'm so stupid! I'll never get in and my whole future is nothing
    now!”
    <br/>
    <br/>
    In this case, your immediate reaction was negative and unhelpful. The
    underlying belief (“I'm so stupid!”) led to an unhelpful thought (“I'll
    never get in and my whole future is nothing now!”). A more positive and
    more realistic understanding might be: “I got into a lot of good schools,
    and even if I don't get into my top choice in the end I still have a good
    future ahead of me.”
</p>

{% endblock %}
