{% extends "base.html" %}

{% block app_content %}
<h4>Unhelpful thoughts can hurt</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Negative, unhelpful thoughts can hurt. During really bad moments in life,
    sadness and anger are a normal and even healthy part of dealing with what
    happened. But what happens when we invent a disappointment or when we
    exaggerate a bad situation? When we focus on excessively negative thoughts
    or worries-<strong>unhelpful thoughts</strong>-we get an inaccurate view of
    the world. This may make us miss out on life-changing opportunities or hurt
    our most important relationships. We may miss out on enjoying our lives and
    enjoying every day pleasures. This makes it harder to reach our goals.
    <br/>
    <br/>
    Negative, unhelpful thinking makes you feel down. Most people feel
    depressed or sad when they think negatively about themselves and their
    situations all the time. Have you ever noticed this about yourself on a day
    when you feel down?
</p>

{% endblock %}
