{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Story</strong>
</p>
<p>
    Sitting in school the day before felt like a dream. The good feelings Elena
    got being with her friend and her sister slowly faded away as Jose
    possessively kept his eyes, and hands, on her all day long. Jose mentioned
    that he's noticed her trying to “break free” of him and that there was no
    way he would let that happen. Elena felt like she could physically feel the
    strength she got from her sister and her friend falling away from her.
</p>
<p>
    Who was I kidding, she thought. I'm stuck with these gang bangers…even if I
    decide to break up with Jose. It felt like all of the stupid things she had
    done recently flooded into her mind in an instant.
</p>
<p>
    Elena could see her old friend Carla smiling down the hallway walking
    toward her, but Elena couldn't bear the thought of facing her in this weak
    state. Feeling anxious again, Elena decided to cut class for the rest of
    the day.
</p>

{% endblock %}
