{% extends "base.html" %}

{% block app_content %}
    <h4>Motivation: The key component</h4>
    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
<p>
    You must motivate yourself to give your best effort. Just like athletes
    develop muscle pain after a hard workout, you may occasionally have some
    uncomfortable feelings when you do these exercises, or be upset or sad
    about the things you learn about yourself. A little discomfort is part of
    the process, and will eventually make you stronger.
</p>
<div>
    <p >
        Remembering your goals for your life can help you stay focused on this training. <strong>It is important to give yourself rewards</strong>.
        This training is intended to help you achieve your goals and enjoy a
        healthy and happy life. We also hope that it will reduce your risk of
        developing depression in the future. Take a second to think about your
        goal and motivations for doing this program…
    </p>
</div>
<h5>I'm not sure this can work for me</h5>
<p>
    You may find yourself doubting that “thinking exercises” could make a
    difference in your life. Have faith: techniques like this can help you more
    than you know. Keep your mind open to the ideas on the website and try them
    for yourself to see if they work for you.
</p>

{% endblock %}
