{% extends "base.html" %}

{% block app_content %}
    <h4>What else can changing my thoughts do?</h4>
    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
<p>
    Focusing on positive, helpful thoughts can strengthen your ability to
    manage tough everyday situations by becoming more realistic and giving
    yourself the benefit of the doubt. You don't have to be blindly optimistic,
    but you should be able to see both good and bad things in a balanced way.
    You can change how you feel by what you do and think. When you are feeling
    better, you are in much better shape to take on life's challenges.
</p>
<p>
    The next three modules (Modules 6, 7, and 8) introduce the skills that you
    need to make your thinking more balanced and realistic. This is not an easy
    task. Negative, unrealistic thinking may have become a habit for you and
    you may not even notice it. When we fail to act or change we are giving up
    control over the aspects of our lives that we can control: our thoughts,
    feelings, and behaviors. Giving up that control can make us feel worse.
</p>

{% endblock %}
