{% extends "base.html" %}

{% block app_content %}
<h4>Skill Builders</h4>
<p>
    Keep your life goals in mind as you think about the following questions.
    Consider how negative, unrealistic thinking may have affected you or may be
    affecting your current ability to achieve your goals.
</p>

<ol>
    <li>
    Think about a situation where you thought negatively about it and then
    think about how that might have prevented or now prevents you from reaching
    one of your goals.
    </li>
    <li>
    How has negative, unrealistic thinking affected your progress toward
    your other goals?
</li>
<li>
    One thing you can do is keep a “mood diary” over the next two weeks
    while you are completing this training. By keeping track of your mood you
    can become more aware of the thoughts, situations, and behaviors that make
    you upset. You will also see if your mood is improving.
</li>
</ol>
<p>
    We are going to use a scale of 1 to 7 to rate your mood. One is the most
    sad you have ever felt and 7 is the best you have ever felt. Think of
    specific days or experiences that match the numbers 1-7.
</p>
<p>
    Also, try to count the number of positive things (in the “+” column) and
    negative things (in the “-” column) that happen to you each day and enter
    them in the column for each day. That way you can see how many good and bad
    things really happen to you.
</p>

{% endblock %}
