{% extends "base.html" %}

{% block app_content %}
<h4>Skill Builders</h4>
<h5>Skill Builder 1</h5>
<p>
    Think back to the exercise you completed in the last module where you
    spotted TRAPS: the patterns of behavior that cause you to withdraw more and
    more from the world and thus get more and more depressed. Use your notebook
    to write about triggers that cause you to have down moods. Then write some
    responses to the triggers-ones you usually have felt-and then write about
    the habits you recall that helped you avoid problem solving. Think of these
    as your personal notes to consider as you continue working in the program.
</p>
<div>
</div>
<h5>Skill Builder 2</h5>
<p>
    Now you can use the TRAC method to see how to form plans to get out of
    cycles that can make you depressed. Start with one trigger, perhaps from
    the list you wrote above in your notebook. Try to think of some different
    and more productive ways to cope with the trigger that causes your down
    mood (the response). Try to brainstorm different ways to act, and look
    carefully at your brainstormed list. Try to add as many details as you can
    think of that will get you from one step to the next step of your
    brainstorm.
</p>
<p>
    If you have problems coming up with new ways to react, or if you just need
    help solving any sort of problem, you can turn to the ACTION method
    (Assess, Choose, Try, Integrate, Observe, Never give up). Read again
    through the steps of the ACTION method in this module, and apply the steps
    carefully to see how you can solve your problem for good. Remember that if
    you keep making yourself face an uncomfortable situation again, it'll
    become easier to deal with, and eventually you won't have any unpleasant
    emotional response at all when you face that trigger.
</p>
<p>
    You can check off the different phases below as you complete them.
</p>

{% endblock %}
