{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How do I choose how to act?</strong>
</p>
<p>
    <img
        width="198"
        height="215"
        src="blob:https://word2cleanhtml.com/bbedcecd-cc64-47c1-8e78-4c0b9b38ae0d"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM4P5.jpg"
    />
</p>
<p>
    The big question is: How can you replace the behaviors that make up an
    avoidance pattern?
</p>
<p>
    You can use the ACTION method (<strong>A</strong>ssess, <strong>C</strong>hoose, <strong>T</strong>ry,
    <strong>I</strong>ntegrate, <strong>O</strong>bserve the result, <strong>N</strong>ever give up).
</p>
<p>
    <strong>ACTION:</strong>
</p>
<ul>
    <li>
        Assess: Think about the situation you're in. What is your real goal?
        What do you really want? How do you wish you could change a difficult
        situation?
    </li>
    <li>
        Choose: What do you need to do to get there? What is the best thing you
        can do in this situation? Don't be afraid to brainstorm or to ask for
        advice if you need it. You can choose a new behavior even if you know
        it might be hard, stressful, or even a little frightening.
    </li>
    <li>
        Try: Once you know what you want to do, the important thing is to go
        out and do it. Make yourself do it even if it'll be uncomfortable at
        first. With time, the behavior will get easier to do as you realize
        that it won't have the horrible consequences you used to worry about.
    </li>
    <li>
        Integrate: Make this new behavior a habit. Make a point of responding
        with your new behavior whenever the old trigger comes up. This is the
        best way to make the behavior easier to do and get good results. If you
        integrate better behaviors into your life, you'll make your life
        better.
    </li>
    <li>
        Observe the result: Watch carefully and objectively to see how your new
        behavior turns out. If it didn't turn out so well, try to brainstorm
        other new behaviors you can try that might work better, and then start
        again. If your new behavior does work, then congratulations! Make sure
        to let yourself enjoy the good results so you can see the benefits of
        making it a regular part of your life.
    </li>
    <li>
        Never give up: The first new behaviors you try might not work. You may
        have to brainstorm again and try different solutions. But don't give
        up; just because one new behavior doesn't work doesn't mean that you're
        doomed to failure. Be patient and practical, and don't be afraid to try
        new things. If you try you'll always find more success than if you just
        give up.
    </li>
</ul>

{% endblock %}
