{% extends "base.html" %}

{% block app_content %}
<h4>How do I keep myself going?</h4>
<p>
    When you choose a new behavior, don't make it a punishment-make it a
    reward. Everyone responds better to rewards than threats. If you try to get
    yourself to do something by threatening yourself, you'll only get
    discouraged. If you reward yourself for new behaviors, you'll be more
    likely to practice them.
</p>
<p>
    For example, you may try to get yourself to practice tennis even though you
    find it uncomfortable because you're not very good at first. If you tell
    yourself, “If I don't play tennis today, I don't get to watch a movie with
    my friends later,” you'll just get angry about the punishment you set for
    yourself and you'll want to avoid practicing tennis. But if you set a
    reward like, “If I play tennis today, I'll give myself time to play video
    games later,” you'll be more motivated to practice tennis.
</p>
<p>
    In a way, this rule demonstrates a central theme of BA: people respond
    better to positive reinforcement rather than negative reinforcement. Part
    of the problem of a TRAP is that you respond badly to a punishment (of
    sorts) from the outside world. Don't beat yourself up! Give yourself
    positive reinforcement! In the fight to improve your behaviors and moods,
    be your own ally, not your enemy.
</p>

{% endblock %}
