{% extends "base.html" %}

{% block app_content %}
<h4>The healing power of fun</h4>
<div class="media">
    <img
    class="mr-3 rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
      <div>
          <p>
              One good way to improve your mood is to do something you enjoy, whether
              it's watching a movie, spending time with a friend, or participating in a
              sport or a hobby. One of the ways in which people get depressed is that
              they withdraw from the things they most enjoy. The key is to find things
              that you can do that are both fun and meaningful. For example, going to get
              ice cream by yourself is fun, but it's not very meaningful. And studying
              for a test is meaningful (because you're more likely to get a good grade),
              but it's not fun at all. But if you went to get ice cream with a friend
              that wanted to study for the same test with you, you'll have fun spending
              time with someone important to you and you'll study for the test
              together-which makes it meaningful.
              </p>

      </div>

      </div>
<p>
    To harness the healing power of a good time, you have to think about how
    you can tie the fun and meaningful things you enjoy to the behaviors you
    want to reinforce-and not to the behaviors that you want to avoid. One
    example is to use those pleasant times as a reward, as discussed above. You
    can also work to make something that you enjoy a part of your life, such as
    taking time each day to practice the piano. This way you can build habits
    that let you do something you enjoy while giving you a break from the
    stresses of your life and a sense of rhythm and meaning you can look
    forward to. Pleasant events by themselves may not seem like a lot, but when
    used as rewards, they can do wonders for your mood.
</p>
    <h5>What if I don't have enough energy?</h5>
<p>
    In a way, this rule demonstrates a central theme of BA: people respond
    better to positive reinforcement rather than negative reinforcement. Part
    of the problem of a TRAP is that you respond badly to a punishment (of
    sorts) from the outside world. Don't beat yourself up! Give yourself
    positive reinforcement! In the fight to improve your behaviors and moods,
    be your own ally, not your enemy. On some occasions our energy level can be
    tied to our physical health as much as our emotional health. If you find
    yourself wondering if your energy level is a problem, talk to you doctor so
    they can help you figure it out!
</p>
{% endblock %}
