{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What's the TRAC method?</strong>
</p>
<p>
    <img
        width="128"
        height="85"
        src="blob:https://word2cleanhtml.com/1f24cd6d-e978-4afe-a5a3-9a08c395ed69"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM4P4.jpg"
    />
</p>
<p>
    You already know about the TRAP method (Trigger, Response, Avoidance
    Pattern), in which you react to an unpleasant emotional trigger by avoiding
    it in the future. For example, your math teacher calls on you to go to the
    board and answer a question placed there. You get the answer wrong, so you
    feel bad-embarrassed and uncomfortable. From then on, being in math class
    becomes an event that triggers your response-feeling bad and feeling not
    very good about math. In the future you avoid this unhappy response by not
    participating fully in math class. An avoidance pattern takes hold and, to
    make things worse, your math grade probably goes down which can also feed
    into the cycle.
</p>
<p>
    The key is to remember that no matter how you feel, you can always choose
    how you want to act. When you feel like you've fallen into a behavioral
TRAP, you can instead choose to get back on TRAC (<strong>T</strong>rigger,    <strong>R</strong>esponse, <strong>A</strong>lternative <strong>C</strong>
    oping) to break the cycle.
</p>
<p>
    Notice that the first two steps are the same; you can't always keep a
    trigger from happening to you, and you can't always control your response.
    However, you always have the power to <strong>choose your reaction</strong>
    to an emotion. You can choose behaviors that could bring greater rewards
    for your life rather than behaviors that reinforce your down mood. For
    example, if you got an answer wrong in math class, instead of letting that
    stop you from ever participating in class again, you can study harder and
    feel more sure of your knowledge of math. There's still the risk of getting
    an answer wrong in class but by studying beforehand, you reduce the chance
    of that happening-you worked at breaking the cycle.
</p>

{% endblock %}
