{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="290"
        src="blob:https://word2cleanhtml.com/72df83c3-2c72-4fe4-bb8d-3091feb964f5"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM4P1.jpg"
    />
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How you can fix TRAPs and bad habits with the TRAC method
    </li>
    <li>
        How to get more out of the activities you enjoy
    </li>
    <li>
        How to use BA to approach bigger problems
    </li>
</ul>
<p>
    We expect this module to take about 20 minutes.
</p>

{% endblock %}
