{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Using BA to solve bigger problems in your life</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/c0f3b24e-e4d4-4e28-9d96-65d8038f4e3f"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM4P10.jpg"
    />
</p>
<p>
    After you've tried BA for a while, you may want to use it to deal with
    bigger issues in your life. These issues could include a role transition
    (such as moving to a new place, getting a new job, starting a new
    relationship), an interpersonal problem having to do with another person,
    or other, deeper problems.
</p>
<p>
    Again, the way to go about this process is to think from the “outside-in”:
    try to break the problem down into small steps, so you can watch your
    progress and work carefully to achieve what you want. Try to come up with a
    detailed plan and brainstorm the different steps you can take to reach your
    goals. If you think it'll help, you can talk with other people to develop a
    detailed plan for self-improvement. If you feel like your problems are “too
    big” you can always talk to your doctor, a therapist, or another
    professional who can help you get back on trac! It could be a long process,
    but with careful attention and hard work BA can help you to realize your
    larger goals and meet life's challenges.
</p>

{% endblock %}
