{% extends "base.html" %}

{% block app_content %}
<h4>Identifying the parts of a TRAP and TRAC</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<br>
<p>
    <strong>Let's look at the AP class example again.</strong>
</p>
<p>
    This is the same Trigger- the requirements of the class compared to the
    amount of free time left for you seems <em>discouragingly</em> small.
</p>
<p>The key is to remember that <em>no matter how you feel, you can always choose how you want to act</em>.
    When you feel like you've fallen into a behavioral TRAP, you can instead
    choose to get back on <strong>TRAC</strong> (Trigger, Response, Alternative
    Coping) to break the cycle.
</p>
<p>
    Notice that the first step is the same; you can't always keep a trigger
    from happening to you, and you can't always control your feelings/emotions.
</p>
<p>
    However, you always have the power to <strong>choose your reaction</strong>
    to an emotion. You can choose behaviors that could bring greater rewards
    for your life rather than behaviors that reinforce your down mood.
</p>
<p>
    § <strong>A</strong>lternative <strong>C</strong>oping: For example, before
    you get stressed about the amount of work required to get a good grade from
    the AP history class, figure out how you should schedule your time.
</p>
<p>
    <strong>°</strong>
    Divide your after-school and weekend time into manageable parts (for
    example, 2-hour chunks). You may want to buy or make a calendar.
</p>
<p>
    <strong>°</strong>
    List your classes and make short notes in the calendar to highlight
    important things, such as: due dates for assignments, upcoming tests,
    reading list due dates.
</p>
<p>
    <strong>°</strong>
    Add your other regular activities to the calendar, such as club meetings,
    events with friends, chores, part-time jobs, music lessons, and so on.
</p>
<p>
    <strong>°</strong>
    Post the calendar in a spot you can easily see AND check the calendar every
    day.
</p>
<p>
    <strong>°</strong>
    If you're feeling like you're way too busy
</p>
<p>
    <strong>•</strong>
    Decide what you can change on your calendar that will keep your life in
    balance and your goals on track
</p>
<p>
    <strong>°</strong>
    If your grades in AP history are lower than where you feel they should be
</p>
<p>
    <strong>•</strong>
    Decide what you can do to improve the grades (ask your teacher for practice
    sheets, ask for help in finding a tutor, ask others in the class if they
    want to form a study group, etc.)
</p>
<p>
    § So now you can feel more confident that you will get an excellent grade
    from the AP class and this achievement will help you reach other goals,
    such as having a great GPA or getting a scholarship for college.
</p>

{% endblock %}
