{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                Sha'Niece finally decides to call and register for her GED class. She talks to a very encouraging lady on the phone who invites her down with her son to see the program. Sha'Niece goes the next day and is amazed at how much she has in common with all the girls who are there. Some of them are just starting class and have babies on the way too. One girl has four kids but is still at the top of her class. She is even applying for college.
            </p>
            <p>
                Sha'Niece is ecstatic! To her surprise, she doesn't feel overwhelmed or anxious. She believes that she fits in here. Best of all, there is a teacher who owns a beauty shop who starts to talk to Sha'Niece about cosmetology school. She learns that she can do what she is good at to make a living for her family. She is optimistic and encouraged!
            </p>
            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
             <p>
                 After his Saturday morning detention, he decides to talk to Ms. Jenkins about the application for the honors class. She helps him understand that she would have no problem talking to his mother about why she thinks the program may help.
             </p>
             <p>
                 Jamal is relieved. He thought for sure Ms. Jenkins would tell him not to bother or it was too late. While in her office, she calls his mom and tells her how smart and talented Jamal is in math. She even says he's one of the most promising students she's ever taught. Mom promises to think about the summer program. Before he leaves the teacher's office, Ms. Jenkins remembers a colleague who may be able to pay Jamal to help tutor other students while he is in the summer program.
             </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>
                Ivan  is relieved. His girlfriend sent him a text telling him she went to the free clinic with a friend and got a pregnancy test. The results were negative. He feels like a huge weight has been lifted off of his shoulders. He feels bad that he's been blowing his girlfriend off for the past week so finds her at lunch the next day. To his surprise, she told him she knew why he was avoiding her and actually worries a lot about him. She wants him to be more social and hang with friends more often. She tells him that her older brother is in a break dancing crew and that they are practicing after school at a community center.
               <p/>
               <p>
 The break dancing event ended up being a great time. Ivan really likes his girl's brother and some of the guys in his crew. They told him they'd be down for inviting him to practice a couple of times a month so that he could learn a few moves. Ivan agrees because he feels he can balance this with his work schedule. He is very excited about making some new friends. He and his girlfriend also made an important decision that day: to always use condoms whenever they have sex. The pregnancy scare was too much worry and she was able to get a lot of condoms for free at the clinic.
           </p>
           <p>
       </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>

            <p>
                Rather than continue to avoid his advisor, Danny decided to go in and talk with him about choosing a major. After he talked with his advisor about his interests and his concerns about the future, his advisor was able to make some suggestions that made it easier for Danny to choose which classes to take. His advisor also told him that a lot of people have a hard time with this decision and Danny felt better knowing that he wasn't the only one. Danny's advisor also gave him some suggestions for how to better manage his time so that he could still have fun with his friends but also do well in his classes.
            </p>
        <p>
            Danny felt proud of himself for taking care of this and even though he still had a lot of work to catch up on, he was starting to feel better about his situation.
               </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                Elena realized that skipping out on spending time with her old girlfriend Carla and missing a college tour was doing more harm than good. She felt even worse after deciding not to go, and she felt overwhelmed with guilt. Though she felt embarrassed, Elena got up the courage to ask her old friend Carla to grab something to eat with her after school one day the next week. Elena was so happy to see that her friend looked really excited and glad that Elena had asked.

            </p>
            <p>
                Over a slice of pizza, Elena found herself venting to her friend Carla not only about her fears of not making it to college, but also about Jose, the gang, and her family. She decided to hold nothing back and cried. It felt really good that she was able to let everything out and it felt even better that her friend actually cared. Elena's old friend Carla explained that she had really missed spending time with her.
            </p>
           <p>
               The two left the restaurant and instead of going back to the gang bangers and drinking, Elena decided to go home for the night. She couldn't avoid her family and she had to stop leaving her little sister alone. Elena's sister was so happy to see her that she didn't leave her side all night. They had a &#8220;sleepover&#8221; in Elena's room and read together late into the night. Elena studied harder than she had in a month. It felt good.
        </p>
        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
