{% extends "base.html" %}

{% block app_content %}
<h4>Identifying the parts of a TRAP and TRAC</h4>
<p>
    Here is a TRAP (Trigger, Response, Avoidance Pattern) whose parts, when
    identified, can give you a method to find the bad habits that you've built
    up in your life.
</p>
<p>
    <strong>Let's look at one example and use the TRAP method.</strong>
</p>
<p>
    “I really wish I had not taken this AP history class-I have too much
    homework!”
</p>
<p>
    § really wish I had not taken this AP history class <strong>•</strong>
    (This is the Response)
</p>
<p>
    § Having lots of homework and realizing the AP class is taking up more time
    than you prefer to spend with your studies.
    <br/>
    <strong>•</strong>
    (This is the Trigger-the requirements of the class compared to the amount
    of free time left for you seems discouragingly small)
</p>
<p>
    § Telling yourself, “I might as well quit the class; maybe I'll take it
    next year-besides, if I quit AP history I'll have a lot more time to spend
    with my friends and they're more important than a boring class.”
    <br/>
    <strong>•</strong>
(This is the Avoidance Pattern-you settle for a short-term sense of <em>encouragement</em> (your friendships) to make you forget your    <em>discouragement</em> about how challenging it is to take an extra-hard
    class.)
</p>
<p>
    There's a saying that goes, “everybody is afraid; what makes a person brave
    is that s/he acts even when afraid.” The way to real success is to act
    despite your initial discomfort or lack of energy. With time and
    persistence, new behaviors will actually improve your energy, your
    motivation, and your mood. It just takes time and determination to change.
</p>

{% endblock %}
