{% extends "base.html" %}

{% block app_content %}
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How you can fix TRAPs and bad habits with the TRAC method
    </li>
    <li>
        How to get more out of the activities you enjoy
    </li>
    <li>
        How to use BA to approach bigger problems
    </li>
</ul>
<p>
    We expect this module to take about 20 minutes.
</p>

{% endblock %}
