{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Story</strong>
</p>

<p>
    <strong>Ivan</strong>
    is relieved. His girlfriend sent him a text telling him she went to the
    free clinic with a friend and got a pregnancy test. The results were
    negative. He feels like a huge weight has been lifted off of his shoulders.
    He feels bad that he's been blowing his girlfriend off for the past week so
    finds her at lunch the next day. To his surprise, she told him she knew why
    he was avoiding her and actually worries a lot about him. She wants him to
    be more social and hang with friends more often. She tells him that her
    older brother is in a break dancing crew and that they are practicing after
    school at a community center.
</p>
<p>
    She wants Ivan to come with her to watch and maybe even try to learn some
    of the moves. When Ivan tells her that he was planning on picking up an
    extra shift at work, she encourages him to take a break and chill. After
    thinking about it, Ivan decides she's right. He knows the only way he'll
    feel more comfortable in social situations is if he lets himself be in more
    social situations.
</p>
<p>
    The break dancing event ended up being a great time. Ivan really likes his
    girl's brother and some of the guys in his crew. They told him they'd be
    down for inviting him to practice a couple of times a month so that he
    could learn a few moves. Ivan agrees because he feels he can balance this
    with his work schedule. He is very excited about making some new friends.
    He and his girlfriend also made an important decision that day: to always
    use condoms whenever they have sex. The pregnancy scare was too much worry
    and she was able to get a lot of condoms for free at the clinic.
</p>

{% endblock %}
