{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Step One: Getting un-“stuck”</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Sometimes relationship problems go nowhere for a long time. You may not
    know what's really wrong; you just know that you're upset. As far as
    solutions are concerned, you're either working it out, stuck, or ending the
    relationship. The goal of these steps is to help you move your options from
    “stuck” to “working it out” so you're not just angry and not making any
    progress with the relationship. However, if all your best efforts at
    finding a solution fail, you may decide to end (or take a break from) the
    relationship.
    <br/>
    <br/>
    Being stuck tends to get people down. We generally feel disappointed with
    relationships when they're stuck and eventually lose interest. Over time,
    these feelings can spiral into depression. When you become stuck it's often
    because of a communication problem. It's likely that this way of
    communicating has led to similar situations before. The key is to use each
    situation to figure out what you're doing that's keeping you stuck. If you
    change what keeps you stuck, you'll be less likely to make the same mistake
    again, which makes you stronger and increases your resiliency.
</p>

{% endblock %}
