{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Are my conflicts like each other or are they different?</strong>
</p>
<p>
    People tend to repeat behaviors even if the same problems come up again and
    again. If something we do is making us unhappy we have to learn to change,
    even if it's difficult and uncomfortable sometimes.
    <br/>
    <br/>
    Recognizing your habits can be difficult. One way to look for a habit is to
    remember times when you thought, “I have been in this situation before.”
    It's a pit-of-your-stomach sort of feeling-“Here I go again.” When we ask
    you to think about a problem in a relationship, think about those kinds of
    situations. We want you to learn to recognize and change the behaviors that
    cause you problems.
</p>

{% endblock %}
