{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Part II: Resolving relationship conflicts</strong>
</p>
<p>
    <img
        width="225"
        height="150"
        src="blob:https://word2cleanhtml.com/7f48fc10-eba4-46f1-99df-5b31db2702af"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P9.jpg"
    />
</p>
<p>
    The relationship diary should help you identify patterns in your
    relationships-both good patterns that you want to keep and unhelpful
    patterns that you want to change. The rest of this module will show you how
    to go about solving problems you've noticed so you don't continue to make
    the same mistakes.
</p>

{% endblock %}
