{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Good work!</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="304"
        src="blob:https://word2cleanhtml.com/d186be73-dcc9-4655-b071-d30b1b965336"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P19.jpg"
    />
</p>
<p>
    This is the end of the relationship skills modules. If you've made it this
    far, you're doing a great job. The purpose of this part of CURB is for you
    to learn to make the best of your relationships and grow into a person who
    is able to communicate well, without pain or frustration.
</p>

{% endblock %}
