{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Keeping a relationship diary</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Earlier in these modules you looked at the support offered by your close
    relationships. Watching your relationships carefully-keeping a relationship
    diary-can help you learn a lot about how you communicate with other people.
    To get started on using your relationship diary follow these tips.
</p>
<ul>
    <li>
        Choose a relationship and pay attention to how it works day by day.
        Look at your beliefs about yourself, the other person, and how the two
        of you get along, and record any thoughts you have about your
        relationship.
    </li>
    <li>
        For the next week, record the arguments and the good times you have
        with the other person in your relationship. Record all the related
        information in your relationship diary: what you said and did, what the
        other person said and did, how you felt, etc.
    </li>
    <li>
        After a week, go back and reread your diary. What patterns do you
        notice? Are they good (helpful) or bad (unhelpful) patterns?
    </li>
    <li>
        Think about the sorts of relationship conflicts you've had and
        solutions to those conflicts. The solution can be specific, like
        apologizing for leaving your room messy, or general, like learning to
        listen during an argument instead of interrupting.
    </li>
    <li>
        Try out your solutions the next time you have a conflict and record how
        it goes.
    </li>
    <li>
        Finally, remember what you learned from the other modules. The more
        ways you can look at your problems, the more potential solutions there
        are.
    </li>
</ul>

{% endblock %}
