{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Step Five: Look at specific incidents</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<ul>
    <li>
        Try to be as specific as you can when talking to the other person about
        the conflict. Avoid using “always” and “never.”
    </li>
    <li>
        If you are having trouble figuring out what has gone wrong with other
        conversations, write down what happened, what you said, and what the
        other person said.
    </li>
    <li>
        Think about when you began to feel bad.
    </li>
</ul>
<p>
    <br/>
    Imagine that you had tried the calm, cool and direct approach at that
    point. Would you have ended up feeling better?
</p>

{% endblock %}
