{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Skill Builder</h4>
<p>
    Think of a recent relationship conflict that put you in a bad mood, then
    think through the questions below. Consider what beliefs about yourself
    perhaps makes you feel this way. An example would be not speaking up
    because you think you will always be laughed at.
</p>
<div>
</div>
<p>
    1. What stage was your conflict in “talking it out”, “stuck” or “breaking
    up?”
    <br/>
    <br/>
</p>
<p>
    2. Which problem-solving tools could you have used to make things better?
    <br/>
    <br/>
</p>
<p>
    3. Imagine how acting differently in the situation that you described might
    have helped you feel better. Write down some ways in which things might
    have improved.
    <br/>
    <br/>
</p>
<div>
</div>

{% endblock %}
