{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">What if talking doesn't work?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Sometimes you can't solve a relationship problem even after you are able to
    talk about it. In these cases you have to decide if you can live with the
    disagreement or not. In the example of the brothers who are roommates,
    their personal habits may be so different and so important to both of them
    that they may need to stop rooming together. On the other hand, Susan and
    Natasha might be able to work out a compromise for going to the rink
    together that makes them both happy and allows them to continue being
    friends. Solving problems with other people can be hard, but it can usually
    be done. However, it's important to be realistic about whether or not a
    compromise can be reached.
    <br/>
    <br/>
    The goal of this training is to teach you how to work out the best solution
    for you in any given relationship problem. We want to get you un-“stuck” so
    you can either work out a compromise or change your expectations about the
    relationship. If the situation is just making you miserable despite your
    best efforts, drop the friendship and move on to others. You don’t have to
    stay in a relationship that will only make you unhappy.
</p>

{% endblock %}
