{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Step Three: Figuring out how you feel and saying it</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/e1afe5e3-5b33-4480-a14b-464484dbff7d"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P12.jpg"
    />
</p>
<p>
    While only you can know how you really feel and what the best way to say it
    is, here's some quick advice that might make it easier:
</p>
<ul>
    <li>
        Writing down your feelings or talking to someone you trust and who
        gives good advice can help you pin down problems.
    </li>
    <li>
        The success of the conversation can depend on <strong>how</strong> you
        talk about the problem. Setting up a time to talk to the other person
        when you're both calm and comfortable and have had time to think about
        it can help things go more smoothly.
    </li>
</ul>
<p>
    When you sit down to talk, using exaggerated general terms like “always” or
    “never” may anger the other person or make you feel hopeless. For example,
    if you get mad one day and blow up at your mother, saying to her, “You
    never listen to me! I always have to do what you want me to do!” she will
    feel like all the times she listened to you or did something for you were
    either ignored or wasted. It's easy to see an argument spinning out of
    control once “always” and “never” come into play.
</p>

{% endblock %}
