{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Poor communication can cause problems</h4>
</p>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Ideally, all relationship problems would be easy to work out. If the two
    people speak directly to one another and negotiate a compromise solution,
    things are usually fine. To do this, you have to know both: what the
    problem is and how to speak directly in a way that the other person can
    really understand. In the case of Susan and Natasha, there is a conflict
    over what activities to do together as well as a communication problem.
    Neither of them is really getting her point across.
    <br/>
    <br/>
    When people feel stuck in a relationship issue, they often feel there is no
    way out, which can be depressing or make them feel hopeless. You can stop
    feeling stuck by looking at the situation differently.
</p>

{% endblock %}
