{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Warm-up Exercise</strong>
</p>
<p>
    We hope you enjoyed thinking about your life goals thus far. This warm-up
    exercise is meant to help you think about your work on the program, from
    your point of view. Think about the following questions for a minute. Feel
    free to write down some of your thoughts!
</p>
<p align="center">
    <img
        width="61"
        height="61"
        src="blob:https://word2cleanhtml.com/3fc5b14c-a84c-4b1f-b2b8-c822f12863e2"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P3.jpg"
    />
</p>
<p>
    <strong>
        Please answer each of these questions as fully and honestly as you can.
    </strong>
</p>
<div>
</div>
<ul>
    <li>
        What was one of the goals you enjoyed thinking about most so far?
    </li>
    <li>
        Think about the last module you did. What was the coping skill you
        learned, and why do you think it might be helpful?
    </li>
    <li>
        How do you think that coping skill might work in real life to keep you
        focused on your goals and help you feel better?
    </li>
    <li>
        What motivated you to want to use that coping skill since that last
        visit to the Internet site?
    </li>
    <li>
        When you used the coping skill, how did using it change or affect your
        life?
    </li>
</ul>
<div>
</div>

{% endblock %}
