{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Wrap Up</h4>
<p>
    This module has a “tool box” of different skills that you can use to deal
    with problems you have in your relationships. By using these skills, you
    can figure out what the problem is and how to solve it. One technique is to
    keep up a relationship diary in which you record everything that goes on
    between you and another person. By using these skills, you can make
    arguments easier to solve and conflicts easier to deal with. Working out
    conflicts helps you to grow closer to your friends and family.
</p>

{% endblock %}
