{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Poor communication can cause problems</strong>
</p>
<p>
    <img
        width="204"
        height="136"
        src="blob:https://word2cleanhtml.com/a4091298-d806-475d-9819-adbd93731fb8"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P7.jpg"
    />
</p>
<p>
    Ideally, all relationship problems would be easy to work out. If the two
    people speak directly to one another and negotiate a compromise solution,
    things are usually fine. To do this, you have to know both: what the
    problem is and how to speak directly in a way that the other person can
    really understand. In the case of Susan and Natasha, there is a conflict
    over what activities to do together as well as a communication problem.
    Neither of them is really getting her point across.
    <br/>
    <br/>
    When people feel stuck in a relationship issue, they often feel there is no
    way out, which can be depressing or make them feel hopeless. You can stop
    feeling stuck by looking at the situation differently.
</p>

{% endblock %}
