{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">What causes relationship conflicts?</h4>

<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    In general, relationship conflicts result when the two people involved want
    or expect something different from one another. Sometimes individuals have
    goals that conflict. At other times, individuals see themselves competing
    for the same goal. Maybe two people want the same thing, but can't
    communicate well enough to achieve it.
    <br/>
    <br/>
    For example, Bill and Ron are brothers who share a bedroom. Ron wants to
    keep the room clean but Bill thinks that cleaning is a waste of time. This
    difference in expectations can cause problems. The conflict might be easily
    worked out with a compromise. However, in some situations compromise won't
    work. For example, Ron and Bill agreed to share some of the chores such as
    doing laundry, but lately Bill hasn't been keeping his part of the
    agreement. The laundry is piling up; Ron thinks he'll have to go ahead and
    do it which makes him angry. (And yet if Ron doesn't do the laundry soon
    there won't be any more clean clothes, a situation that neither brother
    wants.)
    <br/>
    <br/>
    In another example, Susan and Natasha enjoy going out together to a
    neighborhood skating rink. Susan likes to flirt with and meet guys at the
    rink. Natasha prefers to spend time skating together as friends and doesn't
    like meeting guys that way. However, Natasha does not speak her mind and
    goes along with what Susan wants, which usually means that Natasha doesn't
    get to do much skating. One of the reasons she doesn't discuss her opinions
    is that Susan gets mad when Natasha disagrees. This difference in
    expectations-and the difficulty in talking about them-can cause problems.
</p>

{% endblock %}
