{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Doing goals:</h4>
<div>
</div>
<ul>
    <li>
        Pick two relationships you want to improve-one friend and one family
        member-in the next week.
        <br/>
        <br/>
    </li>
    <li>
        Take ACTION. Decide whether the problem is just a communication
        breakdown or an actual conflict about what you want from one another.
        Write it down and let it rest for a while before you decide what you
        want to do next.
        <br/>
        <br/>
    </li>
    <li>
        Set a good time to sit down together alone, one time for each person,
        and use the calm, cool, direct approach to talk to that person.
        <br/>
        <br/>
    </li>
    <li>
        Write down how you feel. Ask them how they feel.
        <br/>
        <br/>
    </li>
</ul>
<div>
</div>
<div>

{% endblock %}
