{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Step Four: Speaking to be heard</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<ul>
    <li>
        Listen carefully to the other person; try to keep from speaking until
        he or she is finished. Once they have finished speaking, repeat what
        you heard them say starting with something like “Now tell me if I
        understand what you just said…” Let them correct you or agree that you
        understood them correctly.
    </li>
    <li>
        If you tend to get angry easily, you probably need to practice waiting
        to respond. People tend to “give as good as they get”; this is
        particularly true if they feel attacked or they are being told what to
        do. If you find it challenging to express certain feelings, you can
        start by practice speaking your mind in less challenging situations and
        tell others how their action made you feel. Try not to accuse them (for
        example, by saying “You did that because you hate me…”). Practicing
        will give you the confidence to speak up in more challenging
        situations. If you really need to confront someone about a big issue
        that has been bothering you and building up for a long time, first try
        to confront smaller issues with other friends until you feel less
        afraid of confronting.
    </li>
    <li>
        Choose your words carefully using the calm, cool, direct approach.
    </li>
    <li>
        If you value the friendship, do not use words that make the other
        person feel bad. Instead, make sure the other person knows you value
        him or her. The other person will then be much more likely to listen.
        If you tell the other person what to do, he or she will respond the
        same way: they'll tell you what to do.
    </li>
    <li>
        Likewise, if your words seem to show that you don't care about the
        other person you will get the same response.
    </li>
    <li>
        Using statements that begin with “I” is the best way to express
        yourself and be understood. For example, “I feel hurt when you…” or “I
        feel like I need a friend who…” rather than, “You hurt me.”
    </li>
</ul>

{% endblock %}
