{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Welcome back!</strong>
</p>
<p>
    <img
        width="199"
        height="133"
        src="blob:https://word2cleanhtml.com/92cbe6c2-f188-4978-89bb-a1797a441a00"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P2.jpg"
    />
</p>
<p>
    In the last module we focused on your “talking style” and how it can affect
    your relationships-especially during a conflict. Being calm, cool, and
    collected is the best way to go when you're upset. Remembering to consider
    the other person's point of view and feelings while also being fair and
    honest to yourself is a challenge for anyone, but learning to handle
    conflicts effectively can improve your relationships and your life.
    <br/>
    In this module, you'll learn how keeping a relationship conflict journal
    can help you better understand how you fight, why you get upset, and how to
    improve your talking style. You'll also be given step-by-step advice for
    dealing with conflicts.
</p>

{% endblock %}
