{% extends "base.html" %}

{% block app_content %}
<h4>Good work!</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    This is the end of the relationship skills modules. If you've made it this
    far, you're doing a great job. The purpose of this part of CURB is for you
    to learn to make the best of your relationships and grow into a person who
    is able to communicate well, without pain or frustration.
</p>

{% endblock %}
