{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Getting specific</strong>
</p>
<p>
    Whenever you find yourself using words like “always” or “never” to describe
    a fight or a problem you have with somebody, stop and try to ask yourself
    the specifics: exactly what is the problem. There are few truly “always” or
    “never” moments in life, although it's easy to think of situations in those
    terms when things get bad. Learning to be specific helps cut problems down
    to their real size and teaches us to be more realistic about our
    relationships in general.
</p>
<p>
    This chart (with examples included) can help you think about your problems
    in more specific terms:
</p>
<table class="table"  table-bordered">
    <thead>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Example</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>General</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Specific</strong>
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <strong>Problem</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>My friend never listens to me</em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>
                        My friend ignored me last night when
                        I tried to tell him something
                    </em>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    <strong>Feeling</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>
                        I'm depressed and this will never
                        get better
                    </em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>
                        I'm just upset about last night, but
                        I can talk to my friend about this
                        so we can work to make sure
                        it won't happen again
                    </em>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    You can make your own chart like this on a sheet of paper and use it to
    think through some of your own challenges.
    <a
        href="https://curb.peds.uic.edu/thriveresearch/programs/Curb_Teen/Module11/Module11Chart.docx"
        target="_blank"
    >
    </a>
</p>

{% endblock %}
