{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Part I: Relationship conflict and good times journal</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Arguments come up in every relationship over time. Each person in a
    friendship or romantic relationship brings his or her own ideas of what he
    or she wants in the relationship. When the two people have different ideas
    about the relationship, conflicts happen. Sometimes one person doesn't
    realize that there's a problem. Often two people find themselves angry with
    one another without really knowing why.
    <br/>
    <br/>
    You might have a lot of conflict with your parents. At this time in your
    life, your relationship with your parents is changing. You are becoming
    more independent. Your parents may be afraid to give you too much freedom.
    They have cared for you since you were born and may still be afraid that
    you will get hurt. This can create a tug-of-war between you.
</p>

{% endblock %}
