{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="150"
        src="blob:https://word2cleanhtml.com/31d7fec2-14d7-4e7e-8a28-60978a9b47db"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P1.jpg"
    />
</p>
<p>
    <strong>Module Eleven</strong>
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How to deal with difficult conflicts in your relationships
    </li>
    <li>
        How a relationship diary can help solve problems
    </li>
    <li>
        How to use a “tool box” for solving relationship problems
    </li>
</ul>
<p>
    We expect this module to take you about 20 minutes.
</p>

{% endblock %}
