{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Step Two: Figuring out the problem</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/3f838545-98c8-4f1f-949d-98437cdd5608"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P11.jpg"
    />
</p>
<p>
    To get to the “working on it” stage, you need to identify your relationship
    problem. Is the conflict caused by how you <strong>communicate</strong>
    with each other or is it caused by your <strong>expectations</strong> of
    the relationship? If the conflict is about expectations-what you expect
    each other to be and do-you may need to compromise to improve the
    relationship. Moreover, the other person might not even know that there's a
    problem. If that's the case, you'll have to talk to him or her to make your
    issues clearly known and understood. The best way to do that is to ask the
    person to talk; listen to what he or she has to say first and then tell him
    your side of the story.
    <br/>
    <br/>
    But before you do that you'll have to understand exactly how you feel.
</p>

{% endblock %}
