{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Story</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    Tracy and Sha'Niece are with their kids at the park. Tracy is going on and
    on about her man's job and all the money he makes as a truck driver. She
    tells Sha'Niece she's stupid for wanting to work.
</p>
<p>
    Tracy tells Sha'Niece, “All you need to do is find a good man to take care
    of you!” They begin screaming and yelling at each other. Sha'Niece takes
    her kids and walks home. Why does Tracy rub her money in her face? Life
    isn't fair.
</p>

{% endblock %}
