{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">
        What if I'm afraid to talk, or afraid that I'll get too angry?
    </h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    If this is a problem for you, it's best to practice alone or with someone
    else you trust. If you don't or can't speak your mind, your issues will
    continue to come up. If you are really afraid to talk to the other person
because you believe that doing so might make you unsafe,    <a href="mailto:be">be</a>sure to talk to a doctor, someone at a helpline
    like 800-273-TALK, a teen-line like 800-852-8336 or another adult you
    trust.
</p>

{% endblock %}
