{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>
    <p>        We all go through challenges in life. Read through some stories below. Can you relate?</p>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                Tracy and Sha'Niece are with their kids at the park. Tracy is going on and on about her man's job and all the money he makes as a truck driver. She tells Sha'Niece she's stupid for wanting to work.
            </p>
            <p>
                Tracy tells Sha'Niece, &#8220;All you need to do is find a good man to take care of you!&#8221; They begin screaming and yelling at each other. Sha'Niece takes her kids and walks home. Why does Tracy rub her money in her face? Life isn't fair.
   </p>

            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
                <p>
                    Jamal's applications were received and he has been accepted to both colleges! Now he is feeling overwhelmed by opportunity. He had hoped that by a school not accepting him, it would make his choice easier. To make matters worse, his mom is really pushing him to play basketball. She has told all her friends that he is going to play in college and be such a super-star!
                </p>
                <p>
                    Jamal and mom got into a heated argument about people being in his business. She called him a spoiled brat who didn&#146;t want to help his family and he called her a gold digger! He really feels bad about yelling at his mom. He knows life is tough and she is doing her best.
                </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>
                <p>
                    When Ivan got back to the house, his mother was nowhere to be found. His father was out in the backyard drinking a beer with a neighbor. He found his sister watching TV in the living room and noticed that she'd been crying. She explained that the fighting got worse after he left. She said it didn't get physical but their mother was so upset that she left to go stay with their aunt for the night.
                </p>
               <p>
                   Feeling too mad to stay in the house, Ivan went to go meet up with the guys from the break dance crew. He didn't even want to care about his family for the night so for the first time, he initiated the weed-smoking. Just when he felt really high, he got a call on his cell from &#8220;home&#8221;. He didn't answer the call because he didn't want to sound high. A voicemail was left and when he listened to it, it was his father. He said he wanted to talk to Ivan about what happened. He also said he was worried about Ivan because he didn't know where he was.
               </p>
               <p>
                   Ivan felt guilty, but also felt too high to go home. He slept at his girlfriend's house that night and found himself feeling strangely at peace. Ivan realized that his father was still worried about him, which meant he still cared even though he was mad. Ivan regretted smoking weed and regretted even more not being able to call his father back or go home.
               </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>
            <p>
                Danny's parents have really been bothering him lately. Every time they call they seem to have something new to nag at him about. His mom always asks if he is eating healthy and if he's doing his laundry and they always check to make sure he is still doing well in school. Lately when they've asked about school he tries to change the subject. He just doesn't feel like explaining the whole story to them and would rather not talk about it.
            </p>
            <p>
                Danny's been feeling more and more frustrated with his parents because it feels like that's all they keep asking him about and he really doesn't want to admit to them that he's having a hard time. Yesterday Danny's mom called and was really angry with him, because he overdrew his bank account and the bank charged a fee that she found out about-she and Danny's dad are co-signers on the account. Danny has been really stressed out about keeping up with school, hasn't been getting along with his roommates and the tension has been mounting with his parents.
           </p>
           <p>
               So when his mom called and started to yell at him for being irresponsible Danny got really angry and yelled back at her, blaming her for putting too much stress on him. Later Danny felt really bad for yelling at his mom and he knew that the reason he was so upset was because he was frustrated with himself for not being more careful with his money. When his mom started to yell at him Danny could feel himself start to break down.
          </p>
          <p>
              He called his mom later to apologize and explained to her that he has been having a hard time keeping up in school this semester and that even though he's been trying to be responsible it's been tough adjusting to all the responsibilities that come with living on your own, away from home. Danny promised his mom that he would be more careful with his money and that he would try to communicate better in the future so that he wouldn't just blow up at her.
         </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                Elena found herself still roaming around the city at 9pm trying to figure her feelings out. Fortunately, she had avoided calling Jose but in turn, she also avoided all of her mother's phone calls and texts asking where she was.
            </p>
            <p>
                Finally the phone calls got really annoying and Elena answered the phone, talking angrily at her mom. Feeling disrespected, her mother yelled back angrily and accused her of walking out on her and her sister just like her father. Before Elena could yell back, her mother had hung up the phone.
            </p>
            <p>
                Elena found a place to sit and think about the conversation. She knew she wasn't walking out on her family in the way that her father had, but as she thought more about it, she knew she didn't want to turn into something like her father. She got up and began to walk home, planning what she would say to her mother when she walked in the door.
            </p>
            <p>
                She was very happy to find her mother sitting outside on the steps of the house waiting for her. Her mother hugged her and cried when she approached the house. Elena apologized, but also calmly explained to her mother that she would have to be patient as Elena adjusted to their new, and better, relationship. Her mother emotionally agreed and they walked into the house and shared some food together. Elena was proud at how this argument ended.
            </p>

        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
