{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Step Five: Look at specific incidents</strong>
</p>
<p>
    <img
        border="0"
        width="177"
        height="156"
        src="blob:https://word2cleanhtml.com/05697fca-578d-49ea-99ba-6645710b7fa2"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM11P15.jpg"
    />
</p>
<ul>
    <li>
        Try to be as specific as you can when talking to the other person about
        the conflict. Avoid using “always” and “never.”
    </li>
    <li>
        If you are having trouble figuring out what has gone wrong with other
        conversations, write down what happened, what you said, and what the
        other person said.
    </li>
    <li>
        Think about when you began to feel bad.
    </li>
</ul>
<p>
    <br/>
    Imagine that you had tried the calm, cool and direct approach at that
    point. Would you have ended up feeling better?
</p>

{% endblock %}
