{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Step Six: Problem solving</strong>
</p>
<p>
    Try to think about what the other person's side of the issue might be. In a
    conflict, neither side is completely right or completely wrong. Try to find
    a compromise that will work for both of you. Working out the problem may be
    hard, but figuring out the true nature of the problem is half the battle.
    With hard work, communication, and compromise, you can come closer to
    getting your problem solved.
</p>

{% endblock %}
