{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>
    <p>        We all go through challenges in life. Read through some stories below. Can you relate?</p>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                Sha'Niece has been doing hair on weekends and going to a basic bookkeeping class on weekdays. She enjoys the class and really appreciates the help she gets from her teacher and friends. She is still considering the idea of going to cosmetology school someday. She is just waiting for a reply from her application and believes the bookkeeping class-offered for free at her neighborhood library-will come in handy someday.
            </p>
            <p>
                Sha'Niece's grandmother thinks the extra money she could get from doing hair on the weekdays would be a big help to the family. She understands Sha'Niece wanting to go to cosmetology school and she supports her efforts, but the idea of her granddaughter paying to go to a school to learn how to do something that she already knows how to do is pointless to Gran. Sha'Niece understands Gran's concerns, but realizes that Gran doesn't see the big picture. Sha'Niece wants to own her own business someday. She knows it will take a lot of time and sacrifice, but knows in the long run it will be worth it.
   </p>

            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
                <p>
                    Jamal is beginning to feel pressure from his mother to choose the college that will offer him a basketball scholarship, but that doesn't have a great math program! He thinks he wants to go to college and study to be a math teacher. He thinks that basketball, while fun, won't give him the long-term career he wants. Jamal knows his mom wants the best for him so he decides to sit and talk to his mother after work one day about his desire to teach.
                </p>
                <p>
                    Mom understands, but she still thinks that basketball is a better choice. She believes that college may afford him the opportunity to go to the pros before he is a junior or senior. She sees a lot of benefit in his playing basketball professionally over time. While Jamal respects his mom's ideas, he decides that he will wait until he is given a choice that he wants. Jamal knows, ultimately, Mom will support his final decision.
                </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>

                <p>
                Ivan's mother notices that he is leaving the house extra early on a Saturday and asks where he is going. Ivan is afraid to tell her, because he thinks she'll think he's betraying the family by seeking out information on college. College is not something he thinks his family values and he is scared this will cause his mother more financial worry. But he tells her anyway, and he is surprised at how proud of himself he feels telling her that he is going to a workshop on college, and then going to work so he can bring home more money to the family.

                </p>
               <p>
                   To his surprise, his mother starts to cry. She tells him she is very proud and that she never dreamed he would want to go to college. She gives him a reassuring hug and tells him to hurry so he won't be late for the presentation. When he got to the school, he found his girlfriend waiting for him in the hallway. He felt a sense of support and a sense of a future he had never felt before. After the presentation, he hopped back on his bike and got to the restaurant right on time. He was greeted by his boss, who seemed glad to have him there for an extra shift on a Saturday. He realized he had a lot more support than he thought.
               </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>
            <p>
Danny has a full week of finals coming up and he is really overwhelmed by all the studying he has to do. He has worked really hard to pull his grades up but the grade he gets on his final will have a big impact on his overall grade. Danny is feeling a lot of pressure to do well and has been spending a lot of time studying. Because Danny has been feeling really stressed about his finals, he has had a hard time concentrating on his work and instead spends his time worrying about his grades. Danny realizes however that all he can do at this point is work really hard to prepare for his tests.
            </p>
            <p>
                He also reminds himself that he is there to learn, not just to memorize the material and this helps Danny to think about how to study. He writes out what he needs to do in order to prepare for each class and makes a study schedule for himself so that he gives himself enough time to prepare for each class. Danny promises himself that when he is done with finals he will treat himself to a fun night out with his friends and a whole Sunday of lying around watching football. Having a short-term goal in mind and making a schedule for himself so he doesn't feel so overwhelmed helps Danny to feel organized and not so bogged down.
           </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                When Elena and her little sister returned home from the movies, they found their mother crying at the kitchen table. As her sister went immediately to comfort their mother, Elena noticed some things were different around the house. The TV was gone, one of the doors was broken, and some plates were smashed on the floor. Seeing that Elena had noticed this, Elena's mom explained, &#8220;Dad is gone.&#8221; She gently explained to the girls that for a long time, she was aware that their father had been seeing other women and drinking heavily. It came down in a huge argument that evening while the girls were out, and their father had decided to collect some of his things and left.
            </p>
            <p>
                That night, Elena took charge and decided to make dinner. After her little sister had gone to sleep, Elena and her mother sat quietly in the living room. Elena's mother broke the silence telling Elena how lucky she felt to have her as a daughter and apologized deeply for being so absent. She explained she had been working extra jobs and shifts knowing their father would eventually leave. She even told Elena she had been saving some extra money for her &#8220;nursing school fund&#8221;. Though it was a sad night, a part of Elena never felt closer to her mother. She felt lucky and loved.
            </p>

        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
