{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Story</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Jamal</strong>
    is beginning to feel pressure from his mother to choose the college that
    will offer him a basketball scholarship, but that doesn't have a great math
    program! He thinks he wants to go to college and study to be a math
    teacher. He thinks that basketball, while fun, won't give him the long-term
    career he wants. Jamal knows his mom wants the best for him so he decides
    to sit and talk to his mother after work one day about his desire to teach.
</p>
<p>
    Mom understands, but she still thinks that basketball is a better choice.
    She believes that college may afford him the opportunity to go to the pros
    before he is a junior or senior. She sees a lot of benefit in his playing
    basketball professionally over time. While Jamal respects his mom's ideas,
    he decides that he will wait until he is given a choice that he wants.
    Jamal knows, ultimately, Mom will support his final decision.
</p>

{% endblock %}
