{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How do my relationships relate to my goals?</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/67f2147e-55a8-4459-af37-629a356d09d4"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM9P8.jpg"
    />
</p>
<p>
    Think about your personal goals. Now think about what you have to do in
    order to achieve them. No matter what that goal is, it will probably
    involve a network of people. In order to get a better job, you have to be
    able to communicate well with others and to work well in a team. To learn a
    new skill, you'll need to have other people to practice with. And in order
    to begin a strong friendship or relationship, you'll need to have good
    social skills. We all need good relationships with other people to be our
    best and to do our best.
</p>

{% endblock %}
