{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">What's next?</h4>
<p>
    The relationship modules (Modules 9, 10, 11, and 12) focus on learning or
    understanding four things:
</p>
<ul>
    <li>
        How the way you talk to other people affects them and your
        relationships with them
    </li>
    <li>
        How to change the way you communicate so you can get along better with
        others
    </li>
    <li>
        How to communicate better with other people
    </li>
    <li>
        How to be more realistic about what you expect of other people
    </li>
</ul>

{% endblock %}
