{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Why do I need other people?</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/c572409d-efca-4905-8e6d-12ea63f92859"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM9P4.jpg"
    />
</p>
<p>
    Everything that we want in life involves other people. Sometimes people
    disappoint or hurt us, but you can't avoid disappointment by avoiding other
    people-that just isn't realistic. Avoidance won't let you take care of
    yourself or help you reach your goals.
</p>
<p>
    To succeed as a young adult or a teenager you need to be able to do 4
    things:
</p>
<ul>
    <li>
        Build a strong network of friends
    </li>
    <li>
        Communicate well with other people
    </li>
    <li>
        Solve conflicts with friends and family
    </li>
    <li>
        Change roles and build new social networks
    </li>
</ul>
<p>
    The goal of the next four modules (Modules 9, 10, 11, and 12) is to help
    you build skills in all four areas. By learning to recognize and change
    common relationship problems, you can strengthen your life skills and
    reduce the risk of unexpected or painful problems-which can lead to
    depression.
</p>

{% endblock %}
