{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="146"
        src="blob:https://word2cleanhtml.com/b766ae19-7561-4d8c-a347-46b79bd0efdb"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM9P1.jpg"
    />
</p>
<p>
    <strong>Module Nine</strong>
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        The importance of social networks (IPT)
    </li>
    <li>
        What a “working model” is and why it's important
    </li>
    <li>
        How to think about your social network
    </li>
</ul>
<p>
    We think this module will take you about 20 minutes.
</p>

{% endblock %}
