{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">
        Does that mean I'll never have conflicts with people again?
    </h4>
    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
<p>
    No. Conflict is a part of relationships with friends, family and others.
    It's only natural and there's no getting rid of it. Even people in close,
    strong relationships have disagreements. However, people with good social
    skills can use conflicts to actually make their relationships stronger.
    Using IPT can lessen the negative feelings you associate with conflicts.
</p>

{% endblock %}
