{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Skill Builder</strong>
</p>
<p>
    It wouldn't make sense to try and improve your social skills by just
    reading about them, just as watching the Olympics won't make you better at
    running. You have to practice your skills in the real world with real
    people. In each module of CURB, you are asked to complete a homework
    assignment, but no one can make you do this; it's up to you to make sure
    the assignments get done.
</p>
<p>
    Since we don't grade you on your participation in CURB, only you are going
    to see how healthy communication in relationships can help support you as
    you grow into your resilient adult self, balancing the need for support and
    independent thought and identity.
</p>
<p>
    If it doesn't work for you, that’s ok. Feel free to ask for help from
    people around you (after all, this is about relationships), and talk to
    your doctor or another supportive adult if you feel uncomfortable or upset
    while doing this program. If things ever feel out of control, you can
    always call a hotline like 800-273-TALK (8255) and talk to someone at any
    time! Go out and do what you can. Good luck!
</p>
<div>
</div>
<p>
    1. Think about the goals that you wrote earlier in the program. List any
    goals that require working or being with other people?
    <br/>
    <br/>
</p>
<p>
    2. Describe a recent situation in which you noticed you got down after
    something happened with a friend or family member. What do you think the
    problem was?
    <br/>
    <br/>
</p>


{% endblock %}
