{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Why do people have so many relationships?</strong>
</p>
<p>
    <img
        width="198"
        height="132"
        src="blob:https://word2cleanhtml.com/f537937b-5bac-411d-8a73-bb746ccd2e92"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM9P6.jpg"
    />
</p>
<p>
    The ancient Greek philosopher Aristotle said it best: “humans are social
    animals”. We like to be around other people. Some of us are happy with just
    a few close friends while others like to have many people around all the
    time, but everyone needs a circle of people around them-to have fun with,
    to feel close with, and to get support from. We all need help from other
    people in achieving some of our goals. Being able to communicate well
    improves our relationships as well as makes us more successful.
    <br/>
    <br/>
    When you think about your social life, think about it in terms of a network
    connecting you to different people in different ways. You network by
    talking on the phone, talking online, and by seeing people at school and
    work. All the people you know are in your networks. Below you will learn
    ways to think about your social network and take steps to develop and
    improve it.
</p>

{% endblock %}
