{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How do my relationships relate to my goals?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Think about your personal goals. Now think about what you have to do in
    order to achieve them. No matter what that goal is, it will probably
    involve a network of people. In order to get a better job, you have to be
    able to communicate well with others and to work well in a team. To learn a
    new skill, you'll need to have other people to practice with. And in order
    to begin a strong friendship or relationship, you'll need to have good
    social skills. We all need good relationships with other people to be our
    best and to do our best.
</p>

{% endblock %}
