{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Wrap-up</strong>
</p>
<p>
    The relationships you have with other people are important to almost
    everything you want to do in life. The best way to think about these
    relationships is a social network that connects you to other people. Your
    working model of how to deal with other people in your network is what you
    learned from your family, but it can change over time. IPT is a type of
    training that can help you think about your social network and change it in
    the ways that you want.
</p>

{% endblock %}
