{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Communication and Compromise</h4>
<p>
    To really do our best, we have to be able to figure out what other people
    want as well as what we want. Two of the most important skills you'll learn
    are <strong>communication</strong> and <strong>compromise</strong>.
    Communication is letting other people know what you want while learning
    what they want. Compromise is working with another person to find the best
    possible solution for everybody. Relationships really are a two-way street;
    it's harder to achieve your goals and be happy if you can't compromise.
</p>

{% endblock %}
