{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Welcome back!</strong>
</p>
<p>
    <img
        width="263"
        height="197"
        src="blob:https://word2cleanhtml.com/4f46eaf8-e1ae-4a90-a28b-a2fe7f4acfe2"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM9P2.jpg"
    />
</p>
<p>
    Continuing CURB takes effort and strength. Congratulations on reaching the
    next step!
    <br/>
    <br/>
    In the last few modules we focused on some ideas from Cognitive Behavioral
    Therapy (CBT), where you learned to analyze your thought patterns, to
    identify negative thoughts, and to use counter-thoughts to think positively
    and improve your mood. Now you can learn about Interpersonal Therapy (IPT),
    which takes some of the focus off of you personally and instead works on
    communication skills and how to build happy, successful relationships.
    <br/>
    <br/>
    IPT points out that our social support-the empathy (ability to take the
    other person's point of view), caring, communication, and closeness that we
    share with people who are important to us-plays an important role in our
    mental and emotional health. According to IPT, if we can learn to
    communicate our thoughts and feelings better, we can improve on the
    problems we have with other people.
    <br/>
    <br/>
    Getting along with other people is an important step in reaching adulthood.
    When we're children, our families have been assigned to give us love,
    affection, and protection. Later we enter communities, moving from our
    biological families out into the world to build different families. Forming
    strong relationships in your personal and work life is the most important
    part of becoming an adult.
</p>

{% endblock %}
