{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">
        Aren't men and women different when it comes to relationships?
    </h4>
    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
<p>
    We know the stereotype: men are strong and silent while women talk about
    their feelings and relationships. The truth is that even if women talk more
    about relationships, making and keeping good relationships is important to
    men, too. It may surprise you, but on average being married adds several
    years to a man's life expectancy. Men and women who feel connected to other
    people tend to be happier, healthier, and perform better at school and
    work. Learning how to make relationships work better can help everyone-men
    and women alike-communicate more effectively in loving relationships, with
    friends, and at school and work.
</p>

{% endblock %}
