{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Can I change my relationship problems?</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="290"
        src="blob:https://word2cleanhtml.com/19f82c9b-4282-484c-9c25-11f0850c2b17"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM9P13.jpg"
    />
</p>
<p>
    Teenagers and young adults generally have two main kinds of social
    problems:
</p>
<ul>
    <li>
        Relationship conflicts, such as fights with parents or friends
    </li>
    <li>
        Role or location changes, such as moving, leaving for college, or
        starting or ending a romantic relationship
    </li>
</ul>
<p>
    Fortunately, IPT can help you build a stronger circle of friends at home,
    school, work, or anywhere else. After mastering IPT, you'll be able to
    better deal with challenges and find happiness and strength in a more
    durable, functional network of friends and family.
</p>

{% endblock %}
