{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How can I find patterns in my relationships?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    The first thing you can do is to think in detail about your relationships.
    This process is about more than just you or just the other person; it's
    about the relationship itself. When two people grow close, their
    relationship becomes a complex thing with good and bad sides. So instead of
    just thinking about the other people in your life or just thinking about
    yourself,
    <strong>
        the goal here is to think about the patterns and habits in your
        relationships.
    </strong>
</p>
<p>
    There are spaces for your family, your close friends, friends who you see
    less often, and other people who you know. List the people in each group,
    then add the strengths of your relationships with those people and the
    parts of those relationships you would like to improve. Your strengths
    might include enjoying spending time with them, how they help you during
    bad times, or other things important to you. Here's an example that focuses
    on the family part of a chart:
</p>
<table>
    <thead>
        <tr>
            <td width="150">
                <p align="center">
                    <strong>My Family</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Strengths</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Things I Could Improve</strong>
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    Mom
                </p>
            </td>
            <td>
                <p>
                    Mom: talking about problems
                </p>
            </td>
            <td>
                <p>
                    The fights I have with my mom and dad about staying out
                    late
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Dad
                </p>
            </td>
            <td>
                <p>
                    Dad: playing basketball together
                </p>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Marya (sister)
                </p>
            </td>
            <td>
                <p>
                    Marya: helps me write essays for school
                </p>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Zach (brother)
                </p>
            </td>
            <td>
                <p>
                    Zach: playing video games together
                </p>
            </td>
            <td>
                <p>
                    Making fun of Zach too much
                </p>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
