{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Doing goals:</strong>
</p>
<p>
    <img
        border="0"
        width="128"
        height="85"
        src="blob:https://word2cleanhtml.com/7a7c89c7-2bc8-4d66-9d5e-a5ddc2c99a25"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM9P22.jpg"
    />
</p>
<ul>
    <li>
        Notice once a day how you feel when you talk to your family or close
        friends. Practice paying close attention while they are talking to you
        once this week. Ask them: What could you do with or for them to help
        them reach a goal today? Tell them how much they have helped you reach
        a goal this week, and thank them for doing that. How does what they say
        or what you say make you feel?
    </li>
    <li>
        Record this experience in your mood diary or other journal.
    </li>
</ul>
<div>

{% endblock %}
