{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Can I change how I act around other people?</strong>
</p>
<p>
    You can learn to pay attention to the way you act around other people and
    change it just like you can pay attention to negative thinking and change
    that. You may have unhealthy relationship habits or patterns of thinking
    that are hurting your relationships. The purpose of this and the next
    modules is to help you identify what parts of your life are keeping you
    down and to help you learn how to change those thoughts, habits, and
    patterns to improve your relationships.
</p>

{% endblock %}
