{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Doing goals:</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<ul>
    <li>
        Notice once a day how you feel when you talk to your family or close
        friends. Practice paying close attention while they are talking to you
        once this week. Ask them: What could you do with or for them to help
        them reach a goal today? Tell them how much they have helped you reach
        a goal this week, and thank them for doing that. How does what they say
        or what you say make you feel?
    </li>
    <li>
        Record this experience in your mood diary or other journal.
    </li>
</ul>
<div>

{% endblock %}
