{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Isn't making friends just a natural part of being human?</strong>
</p>
<p>
    Making friends is part of everyday life. But like many things we do often,
    making and keeping relationships is a complex skill. We can easily learn
    unhealthy habits without realizing it. Have you ever noticed that you often
    make the same mistakes when doing a particular activity? For instance, if
    you throw a baseball you may always tend to throw too much to the right. Do
    you actually remember learning to make that mistake? Of course not! But you
    probably have to pay attention to avoid it.
</p>

{% endblock %}
