{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Working models</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Just like the ball you always throw to the right, we often tend to act a
    certain way toward other people. We first learn from our parents and
    siblings how to be together and get along. When we get older, we apply
    those skills to everyone in our networks. The habits you form early on are
    a “working model” of relationships: you expect everyone you meet to act in
    the same way as the people you knew before. Sometimes these models work
    well, and sometimes they need some updating.
</p>

{% endblock %}
