{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Relationship circles</strong>
</p>
<p>
    One useful way to think about your relationships is to picture a set of
    circles, each standing for the different people in your life. You are at
    the center. In the circle beyond that is your family, like your mom, dad,
    siblings, grandparents, or other people you consider to be your family.
    Beyond that are your friends, the people with whom you spend a lot of time
    and to whom you are close. Beyond that are the people you know in your
    community: people at school, work, maybe at your church or on a sports
    team. Each of these circles is important to you for a different reason.
</p>
<p>
    Here's a picture of what the circles might look like:
</p>
<p align="center">
    <img
        width="225"
        height="225"
        src="blob:https://word2cleanhtml.com/068ba4f1-256f-4bc9-b2dc-ee4cddfbeb16"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM9P7.jpg"
    />
</p>
<p>
    For example, let's look at someone's relationship circles. We'll call him
    Claudio. Claudio's family circle includes his parents, with whom he likes
    to talk and who can help him with school or give him advice. In the circle
    beyond that, he has his friends; he has a couple of friends with whom he
    likes to play music and some other friends with whom he likes to talk. In
    his community, he has his co-workers at his job and his teammates on the
    baseball team at school.
</p>
<p>
    Think about your relationships and how they fit into this circle.
    Try to fill out the circles pictured above.
</p>

{% endblock %}
