{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How do you know if a “working model” is working?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    If you notice that you're having the same kinds of problems with different
    people at different times, it's probably time to take a closer look at how
    you understand your relationships. How you currently respond to problems
    with other people may not be the best way. You may need a different or
    modified set of “tools” to make your relationships in your network work
    better. Two examples of tools are
    <strong>
        learning how to talk directly and openly with other people
    </strong>
    and<strong>learning how to resolve your differences with others.</strong>
    <br/>
    <br/>
    <strong>You can learn to recognize problem situations</strong>.
    Changes in your mood can tell you a lot about how you really feel about
    your social life and help you identify the problem spots.
</p>

{% endblock %}
