{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Can I change my relationship problems?</h4>
    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
<p>
    Teenagers and young adults generally have two main kinds of social
    problems:
</p>
<ul>
    <li>
        Relationship conflicts, such as fights with parents or friends
    </li>
    <li>
        Role or location changes, such as moving, leaving for college, or
        starting or ending a romantic relationship
    </li>
</ul>
<p>
    Fortunately, IPT can help you build a stronger circle of friends at home,
    school, work, or anywhere else. After mastering IPT, you'll be able to
    better deal with challenges and find happiness and strength in a more
    durable, functional network of friends and family.
</p>

{% endblock %}
