{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>
        So if I learn IPT, will all my relationships will be perfect?
    </strong>
</p>
<p>
    No. Growing into adulthood includes making and, in some cases, changing
    relationships. We learn something from each relationship, hopefully
    becoming better judges of people or situations. Some people call this
    “emotional IQ.” The goal is to avoid making the same mistakes over and
    over; nothing is perfect, no matter how much effort you put into it. Every
    time you make a new friend or encounter a new situation you'll learn
    something, and the more you learn the better your life can be.
</p>

{% endblock %}
