{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What is the main goal of Project CURB?</strong>
</p>
<p>
    <img
        width="198"
        height="149"
        src="blob:https://word2cleanhtml.com/878140d0-43a7-4e77-b9f8-30ab79548e82"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM8P4.jpg"
    />
</p>
<p>
    Stressful situations can make you feel anxious just by thinking about them.
    We usually feel stress if we believe that a problem is bigger than our
    capabilities. Examples of these sorts of situations may include
    relationship problems or taking an important exam.
</p>

{% endblock %}
