{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>The RIBEYE Model</strong>
</p>
<p>
    The RIBEYE Model can give you an easy way to remember the important aspects
    of problem solving and help you get control of a situation. Use this
    step-by-step model to help focus on problem solving skills.
</p>
</br>
<table class="table">
    <tbody>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Relax</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    Relax or calm yourself using some way that helps you to
                    relax (such as counting to 10, going to another room or going for a walk,
                    waiting until the next day, etc.). Don't try to solve the problem while you
                    are angry or upset.
                </p>
            </td>
        </tr>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Identify the problem</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    Be specific. Decide what part of the problem is yours.
                    Don't take on somebody else's problems. Think of what you can control and
                    what you can't.
                </p>
            </td>
        </tr>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Brainstorm</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    Let yourself think of all possible solutions to the
                    problem. Even if they seem ridiculous or silly,
                    consider them. Write down each
                    possible solution. It sometimes helps to do this with someone.
                </p>
            </td>
        </tr>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Evaluate each possible solution</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    Think of the positive and the negative consequences for
                    each possible solution.
                </p>
            </td>
        </tr>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Yes to one</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    Choose one solution and say “yes” to it in your mind.
                    Choose the solution with the most positives if possible.
                </p>
            </td>
        </tr>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Encourage</strong>
                </p>
            </td>
            <td>
                <p align="center">
                    Congratulate yourself for having made a decision. Put your
                    decision into practice and evaluate how it works. If it turns out to have
                    been a mistake, you can learn from it and re-do the problem solving to come
                    up with a better solution. If it turns out well for you, congratulate
                    yourself again and take credit for it.
                </p>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
