{% extends "base.html" %}

{% block app_content %}
<h4>How do I deal with situations that make me uncomfortable?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    One of the biggest obstacles to building relationships can be “low
    frustration tolerance” (LFT). This means that a person can't achieve the
    goals that s/he wants because s/he is easily frustrated when things go
    wrong and gives up too easily. It can be hard for all of us to do something
    the first time, whether it's talking to somebody new or taking a first big
    test in a class. Many people tend to avoid new situations, but you can
    overcome those barriers through your training. Even if it's hard sometimes
    to do something the first time, it's just as true that the more you do
    something, the easier it will be to do it.
</p>
<p>
    <strong>For example:</strong>
    The scientist who first described low frustration tolerance, Dr. Albert
    Ellis, had a problem meeting women to date. So he made himself go to the
    park every day for 100 days and each day ask a different woman out on a
    date. By the 100th day, he was completely comfortable talking to women.
</p>
<p>
    You don't have to do anything that extreme, but the point is as we gain
    experience, we learn that new situations aren't as uncomfortable as they
    might originally seem. The answer for how to deal with uncomfortable
    situations is simple:
    <strong>
        Keep putting yourself in these kinds of situations until they aren't
        uncomfortable anymore.
    </strong>
    It may sound strange, but it works.
</p>
<p>
    Here are a few tricks you can use to reduce LFT:
</p>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Modeling</h5>
      <p class="card-text">Look to a friend or relative, or even someone famous, who inspires you.
              When you come into a difficult situation, think to yourself about how
              that person would act.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Practice</h5>
      <p class="card-text">Practice trying new things and putting yourself in unusual
              situations. This can help you to feel more comfortable doing and dealing with new
              things.</p>
    </div>
  </div>
 </div>
</br>
<p>
    There are other helpful strategies for dealing with stressful situations or
    thoughts, including: planning for the situation, not responding to
    stressful negative thoughts, changing the situation, and using the CAB
    method, and using the “Ribeye” model which you’ll learn about in this
    module.
</p>

{% endblock %}
