{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Changing the way you respond: the ABC and CAB methods</h4>
<p>
    You can use the ABC and CAB methods to-change your emotional responses to
    situations. When the situation presents itself, you can think about which
    belief is associated with the activating event/stressful situation, and
    then use positive counter-thoughts against it.
    <br/>
    <br/>
    Imagine a situation in which you become panicked during a test and lose
    your concentration. The belief might be, “I am going to fail; I never do
    well on tests!” A counter-thought like, “I studied hard for this test and
    understand the material. I know I can do well!” could help you calm down
    and complete the test. If these sorts of situations occur in your life
    repeatedly, you can anticipate them and plan your response rather than
    waiting for panic to set in.
</p>

{% endblock %}
