{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Coping and Thriving</strong>
</p>
<p>
    <img
        width="198"
        height="299"
        src="blob:https://word2cleanhtml.com/1dd3471e-e2a4-4f78-aef7-ab46866b9fa9"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM8P5.jpg"
    />
</p>
<p>
    The world is not just a series of hopeless and stressful situations. A lot
    of our successes depend on how we think and feel about our goals. Our
    problems become much easier to solve if we look at them as challenges to be
    met or problems to be solved and even enjoyed. With persistence, patience,
    enthusiasm, and humor, anyone can rise to the challenge and solve almost
    any situation.
</p>

{% endblock %}
