{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Story</h4>
<p>
    The summer program is coming to an end. Jamal is excited about the progress
    he has made and feels satisfied with his final grade of “B”. He has decided
    to put in for the early admission college applications. One is to a school
    that is offering him a scholarship for math and that has an okay basketball
    program too. The other is for a school with a great basketball program and
    an okay math program.
</p>
<p>
    Jamal decided in the summer program that he wants to be a teacher. More
    specifically, he wants to be a math teacher. Jamal realizes that while he
    is a good at basketball, he may not be good enough to go pro. Jamal's
    dreams of becoming a professional ball player are slipping away. He begins
    to wonder how he can help his mom, since he may not make the tons of money
    he expected to get by playing in the NBA. He decides to submit his two
    applications and see how it goes. Jamal spent two whole days working with
    Mrs. Jenkins to finish them and decides to hang out with his friends and
    play ball all day on Saturday. He is proud of his accomplishments and
    decides to enjoy the rest of his summer!
</p>

{% endblock %}
