{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How can I better cope with these kinds of challenges?</strong>
</p>
<p>
    <img
        width="113"
        height="168"
        src="blob:https://word2cleanhtml.com/1c5f9b88-e069-4f33-b7f3-99d33e9ce181"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM8P6.jpg"
    />
</p>
<p>
    You may not need to use these techniques for many situations. You may feel
    confident overcoming many of life's difficulties with only a little bit of
    effort. But some situations may seem so overwhelming that stress gets in
    the way of solving the problem.
    <br/>
    <br/>
    As with underlying beliefs, the best way to tackle your challenges is to
    figure out what stresses you out the most and deal with that first. If you
    face challenges head-on you can relieve your stress and gain the confidence
    to keep going. After that, you can go on to fix smaller problems that you
    have.
    <br/>
    <br/>
    The next parts of this module will teach you different methods of coping.
</p>

{% endblock %}
