{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>
    <p>        We all go through challenges in life. Read through some stories below. Can you relate?</p>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                After two tries, Sha'Niece passes the GED! With persistence, she completed her goal. She is given the opportunity to apply to a beauty school. When she receives the application, she finds out that she needs $100 to apply and that the tuition is $1,500 a semester. She wonders how she will ever make a life for herself and her children!
            <p>
      Sha'Niece decides not to fill out the application because she doesn't have the money for it. As she continues to think about, she figures out that if she does hair for a month, she could save up enough money to apply! She decides to give it a go. It takes her two months, but on the last day, she earns an extra $25. She sends off her application and decides to take the children to the zoo with her extra cash. She's happy that she was able to turn in her application and even enjoy time with her kids!
   </p>

            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
                <p>
                    The summer program is coming to an end. Jamal is excited about the progress he has made and feels satisfied with his final grade of &#8220;B&#8221;. He has decided to put in for the early admission college applications. One is to a school that is offering him a scholarship for math and that has an okay basketball program too. The other is for a school with a great basketball program and an okay math program.
                </p>
                <p>
                    Jamal decided in the summer program that he wants to be a teacher. More specifically, he wants to be a math teacher. Jamal realizes that while he is a good at basketball, he may not be good enough to go pro. Jamal's dreams of becoming a professional ball player are slipping away. He begins to wonder how he can help his mom, since he may not make the tons of money he expected to get by playing in the NBA. He decides to submit his two applications and see how it goes. Jamal spent two whole days working with Mrs. Jenkins to finish them and decides to hang out with his friends and play ball all day on Saturday. He is proud of his accomplishments and decides to enjoy the rest of his summer!
                </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>
                <p>
                The same teacher that Ivan talked to a couple weeks ago pulls him aside again after class. He hands him a flyer for a presentation that will take place at the high school on Saturday. It is an informational workshop for undocumented students looking to go to college. The flyer says an expert is going to come in and talk about financial aid, immigrant-friendly colleges, scholarships, and more.
                </p>
               <p>
                   At first Ivan feels excited but then, the anxiety sets in. First of all, he knows he is supposed to work at the restaurant on Saturday. If he tries to get the day off, not only will the boss be mad, but he'll be letting his family down. Secondly, he is scared of sounding stupid. He knows the presentation will be in English and worries that if he wants to ask a question, he won't be able to find the right words.
               </p>
               <p>
                   His teacher tells him to relax. The presentation is from 9:00 a.m. to 10:30 a.m., and Ivan starts work at 11:00 a.m., so he can do both things. Then he points out another line on the flyer that says, &#8220;This presentation will be provided in English and Spanish&#8221;. Ivan feels a lot less nervous especially after his girlfriend decides to attend, too.
               </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>
            <p>
Danny has a full week of finals coming up and he is really overwhelmed by all the studying he has to do. He has worked really hard to pull his grades up but the grade he gets on his final will have a big impact on his overall grade. Danny is feeling a lot of pressure to do well and has been spending a lot of time studying. Because Danny has been feeling really stressed about his finals, he has had a hard time concentrating on his work and instead spends his time worrying about his grades. Danny realizes however that all he can do at this point is work really hard to prepare for his tests.
            </p>
            <p>
                He also reminds himself that he is there to learn, not just to memorize the material and this helps Danny to think about how to study. He writes out what he needs to do in order to prepare for each class and makes a study schedule for himself so that he gives himself enough time to prepare for each class. Danny promises himself that when he is done with finals he will treat himself to a fun night out with his friends and a whole Sunday of lying around watching football. Having a short-term goal in mind and making a schedule for himself so he doesn't feel so overwhelmed helps Danny to feel organized and not so bogged down.
           </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                Elena's friend reminds her that deadlines are coming up for submitting college applications, for four-year and community colleges. Elena panics. She doesn't know how her suspension will affect her record and she's not sure of the status of her grades right now. She knows she was being bad for a while but she has been working hard for the past several weeks.
            </p>
            <p>
                She makes an appointment with her guidance counselor at school. The counselor explains that because she had always been a good student in good graces with the deans before, they were willing to take her suspension off her academic record. While she is relieved, there is some bad news. Elena is currently failing her biology class because she missed a big test when she was skipping school. The counselor encourages her to talk with her teacher.
            </p>
            <p>
                The teacher tells Elena that she is walking on thin ice. He will give her one chance to bring her grade up but she has to do a 15-page research paper on nursing, explaining why she wants to be a nurse and what it will take to become one. The paper is due in three days. Elena is so angry she decides to screw it and thinks that she will just apply for college next year. Before she makes her final decision Elena talks it over with her friend. Elena's friend Carla reminds her that her mom works in a doctor's office and may be able to get her a tour of the office.
            </p>
            <p>
                Carla's mom takes her for a tour and Elena runs with it. She found two registered nurses who were willing to let her interview them for her paper. After pulling an all-nighter, Elena submits a really good paper. The teacher was so impressed with Elena, he gave her two vouchers to the movie theater for her &#8220;most improved&#8221; work. That Saturday, Elena took her little sister to the movies and felt pretty good about herself and the work she'd done.
                </p>

        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
