{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">What is the main goal of Project CURB?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Stressful situations can make you feel anxious just by thinking about them.
    We usually feel stress if we believe that a problem is bigger than our
    capabilities. Examples of these sorts of situations may include
    relationship problems or taking an important exam.
</p>

{% endblock %}
