{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Skill Builder</strong>
</p>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Skill Builder 1</h5>
      <p class="card-text">Predict your reactions to some common life events and develop a
  coping plan based on the approaches in the diagram in the first exercise.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Skill Builder 2</h5>
      <p class="card-text">Think about how to cope with everyday hassles based on what you
      have learned in this module. Write about a specific situation that fit in your life.</p>
    </div>
  </div>
 </div>

<br>
{% endblock %}
