{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Wrap-up</strong>
</p>
<p>
    <img
        border="0"
        width="204"
        height="136"
        src="blob:https://word2cleanhtml.com/ffde0cb5-6823-4a53-9b70-385b896dfd84"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM8P17.jpg"
    />
</p>
<p>
    Changing how you think (and then feel) about difficult situations can help
    you to solve problems in your life. You can also deal with stressful
    negative thoughts through the methods discussed in this module. You can
    also use the CAB method of problem-solving to look at how your negative
    thinking may get in the way of your goals.
    <br/>
    <br/>
    Decision making in stressful situations is a hard skill to grasp, and some
    adults don't succeed at it. Think of an adult in your life who hasn't
    seemed to grow up all the way, and how this affects him or her.
    <br/>
    <br/>
    All of the methods you have learned combine to help you be aware of your
    experience in the world and learn how you can change and affect it (and
    other people) for the better.
    <br/>
    <br/>
    Congratulations on finishing the CBT modules!
</p>

{% endblock %}
