{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="366"
        src="blob:https://word2cleanhtml.com/6afb466e-beb0-420b-aef9-3de46bf52ff0"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM8P1.jpg"
    />
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How to problem-solve difficult situations
    </li>
    <li>
        How to deal with stressful negative thoughts and situations
    </li>
    <li>
        How to use the CAB method in problem-solving
    </li>
</ul>
<p>
    We think this module should take you about 20 minutes.
</p>

{% endblock %}
