{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Not responding to your thoughts</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/ad476bb5-fdad-4114-963d-118eb26a5733"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM8P9.jpg"
    />
</p>
<p>
    Sometimes you cannot avoid a situation physically (for example, an
    important test), but the negative thoughts can make it harder to prepare
    for it. In order to avoid your negative thoughts, you can control how you
    respond to the situation mentally. Sometimes the best way to deal with
    repetitive negative thoughts is simply to <strong>stop them</strong>. Here
    are some techniques to help you stop your negative thoughts. You can choose
    which technique would work best for you.
</p>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Thought Stopping</h5>
      <p class="card-text"> When you are alone and experience the negative
      thoughts, yell “stop!” as loud as you can. Gradually, you can get the
      same effect by just saying it silently to yourself in public
      situations.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Worrying Time</h5>
      <p class="card-text">Take 15 minutes a week and make an appointment with
      yourself for “worry time” when you can make a list of your worries.
      This may help you stop constant worrying because you can remind
      yourself that you won't forget the things you need to do.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Make Your Own Method</h5>
      <p class="card-text">The best sort of method to stop negative thoughts
      is one you design yourself. Try to find a way that will help you easily
      pick out your negative thoughts, realize that they're just problems to
      be solved, and then stop those thoughts.</p>
    </div>
  </div>
</div>
</br>
{% endblock %}
