{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Project CURB Basics</strong>
</p>
<p>
    <img
        width="198"
        height="297"
        src="blob:https://word2cleanhtml.com/c0c2baf5-adc4-4886-b4e6-0ba4c55c9f8f"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM8P3.jpg"
    />
</p>
<p>
    We gain confidence in ourselves when we successfully take on difficult
    situations. Successful problem-solvers are able to control themselves so
    that they don't respond automatically (or inappropriately) to problems or
    passively avoid them by doing nothing.
    <br/>
    <br/>
    If we have a pattern of negative thinking, we will often get tripped up in
    difficult situations. When we make things seem worse than they are, we cope
    less effectively and may become depressed.
    <br/>
    <br/>
    Situations in which we have lost someone or something important to us are
    often hard to understand as anything but negative. But learning to cope and
    adapt to life's challenges is critical to developing as an adult and
    avoiding excessively down moods. Take a minute to think about your life
    goals. How many of them will involve challenges and possible losses? Taking
    tests, writing applications, starting new jobs, and forming new
    relationships are all part of moving into adulthood. Each one can be
    difficult and, at times, disappointing.
</p>

{% endblock %}
