{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Changing the situation</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/4a80f9f8-8417-4598-8b5a-5e82509f2006"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM8P10.jpg"
    />
</p>
<p>
    Many situations are difficult to change because we cannot predict them in
    advance or control them. Seeking to change a situation is only useful when
    you can anticipate and influence its outcome. We can only change some
    situations and even then we won't necessarily be able to make the
    situations completely different.
    <br/>
    <br/>
    For example, most of us have put off completing projects at school or at
    home from time to time. The result is usually a poor grade from a teacher
    or disappointment from a parent. While you can't change your grade once the
    project has been turned in, on your next assignment you can start to work
    earlier and do other things to reduce the risk of a bad outcome. Be aware
    that you may often see situations as “all or nothing” with regard to whom
    is in control. The key is determining if you have enough control of the
    problem yourself to make things turn out at least somewhat better.
</p>

{% endblock %}
