{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How can I better cope with these kinds of challenges?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    You may not need to use these techniques for many situations. You may feel
    confident overcoming many of life's difficulties with only a little bit of
    effort. But some situations may seem so overwhelming that stress gets in
    the way of solving the problem.
    <br/>
    <br/>
    As with underlying beliefs, the best way to tackle your challenges is to
    figure out what stresses you out the most and deal with that first. If you
    face challenges head-on you can relieve your stress and gain the confidence
    to keep going. After that, you can go on to fix smaller problems that you
    have.
    <br/>
    <br/>
    The next parts of this module will teach you different methods of coping.
</p>

{% endblock %}
