{% extends "base.html" %}

{% block app_content %}
<h4>How do I work on BA skills?</h4>
<div>
    <img
    class="rounded mx-auto d-block"
    src="/static/images/Module2/M{{ module_id }}-{{module_part }}.png"
    />
</div>
</br>
<p>
    BA often requires some trial and error. Learning any skill is a process-you
    can never do anything perfectly the first time. However, with persistence
    and practice you can learn new methods of improving your mood and your
    life. And you're not on your own-we've designed exercises that will guide
    you through these new skills.
</p>
<div>

{% endblock %}
