{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Can I change my thoughts and feelings?</strong>
</p>
<p>
    <img
        width="198"
        height="299"
        src="blob:https://word2cleanhtml.com/f042a157-01c1-407d-bda0-87bb47a7f50e"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM2P5.jpg"
    />
</p>
<p>
    If you feel unhappy and like you don't have a lot of energy it's easy to
    tell yourself that you'll change things when you feel better. But
    withdrawing from the world will only leave you with less energy and make
    you feel more depressed. Having low energy or down moods makes it even more
    important to work harder to improve your life. You can use BA no matter how
    you feel or how little motivation you have now. Since it deals with the way
you act,    <strong>BA can help you change your habits and your mood quickly</strong>.
</p>
<div>

{% endblock %}
