{% extends "base.html" %}

{% block app_content %}
    <h4>Doing goals:</h4>

<ol>
<li>
    Do something that you're good at and enjoy doing. For example, if you're
    a fantastic dancer, set aside some time to dance. You'll improve and you'll
    also feel good that you're doing something you do well.
</li>
<br/>
<li>
    Increase your physical activity to boost your mood. If you enjoy working
    out or playing a sport, do that; if you don't, use the stairs instead of
    the elevator. Or, walk or bike short distances instead of driving or riding
    the bus.
</li>
<br/>
<li>
    Do something good for someone else. It can be as easy as calling your
    grandmother or as much as starting a collection of money to support
    research to find a cure for cancer. Other examples might be volunteering at
    an animal shelter or soup kitchen.
</li>

<br/>

{% endblock %}
