{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                Sha'Niece's brother, Brian, notices that when Sha'Niece is depressed, she starts to
                pull away from her family and son. Brian tells Sha'Niece she needs to talk
                about herself in more positive ways. She begins to do so and this allows
                her to reengage with her family and feel better.
            </p>
            <p>
                Taking La'Damen to the park, though a hassle at first, helps her to smile
                and play with her son, which makes her happy. As she walks home with
                La'Damen, she passes a beauty shop and smiles. Maybe one day I can do hair
                in a shop too, she thinks.
            </p>
            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
             <p>Concerned about disappointing his mother and his boys, Jamal gets frustrated. He watches a TV show about a couple of college basketball players which makes him feel happy. He feels good when they talk about college. He wants to help his mom and earn more money as an adult, and he knows if he does this it will let his mom stop working so hard. This makes him feel useful. Now, how can he convince his mom to let him try to do the summer honors program, too?
             </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>
                Ivan recently started a dating a girl he met in art class. He felt very attracted to her as they have a lot of common interests. She's into art and also spent most of her life growing up in Mexico. He feels extra comfortable around her because she always wants to speak Spanish.
               <p/>
               <p>
               They have been together for two months and started having sex right after they started dating. They usually don't use condoms because they don't really know where to get them for free, and condoms can be expensive. Last week, Ivan's girlfriend told him that there is a possibility that she is pregnant. Her period is over a week late.
               <p/>
               <p>
               Ivan doesn't know what to do because the last thing he needs is a child at this point. Ivan hopes that if she is pregnant, his girlfriend will consider an abortion. Ivan has been avoiding his girlfriend for the last few days because he does not want to deal with thinking about a pregnancy. He has picked up some extra shifts at the restaurant in order to make some extra money&#8230;just in case. If he becomes a dad, he knows he won't go to college.
           </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>

            <p>  Danny has soccer practice twice a week with his intramural team. Since high school Danny hasn't really had a chance to play soccer and he really enjoys being out on the field again and being active. Danny has had a hard time this year keeping up with his schoolwork because he's afraid of failing and often can't seem to start his work until it's nighttime.
        </p>
        <p>
               He often stays up late trying to finish his homework because he leaves it to the last minute. As a result, Danny feels exhausted during the week and some nights Danny is feeling too tired and overwhelmed to go to soccer practice. Even though he doesn't want to go, he knows that he always feels better after practice. Running around the field somehow helps to energize him and when practice is over Danny feels really good.
               </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                Elena finds herself very angry lately. Her parents have a lot of financial issues and they are thinking about divorce. Her mom works full time and hardly has any time to spend with her, and her dad is never home. Elena has found herself getting involved in fights, which she never used to do, and her grades are plummeting in school. To make matters worse, the Latin Kings and Jose, Elena's boyfriend, are starting to put constant pressure on Elena to get officially involved in the gang. Elena is considering joining so they can leave her alone.
            </p>
            <p>
               Before Jose, she had a reputation of being a &#8220;nerd girl&#8221; and she hated it. At least being around Jose and his gang banger friends has made her seem a lot more tough and cool. What Jose doesn't know is that Elena has actually hooked up with a couple of other guys when she's been drinking. It seemed to make her feel less lonely and for a while, it seemed to get her mom to pay a little more attention to her. When Elena's mom noticed her hanging around with a few different guys, she would try to talk some sense into her. Elena started to thrive on that attention, but now her mom is too worried about her failing marriage to worry about her daughters. In this recent haze of fighting and drinking, Elena got suspended from school.
           </p>
           <p>
               Elena felt waves of panic for days&#8230;she didn't think she was the type of girl she has become. Still, she feels there is no point in turning things around. She has no support to make any kind of change anyway.
        </p>
        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
