{% extends "base.html" %}

{% block app_content %}
    <h4>Welcome back!</h4>
<p>
    <img
    class="rounded mx-auto d-block"

        src="/static/images/module2/image002.jpg"
    />
</p>
<p>
    In the last module we talked about resiliency-the ability to be flexible
    enough to deal with life's challenges and emerge stronger than before. It's
    learning how to solve difficult problems so you can achieve your goals.
    <br/>
    <br/>
    The next three modules (Modules 2, 3, and 4) are an introduction to
    Behavioral Activation (BA) training. BA will help you work quickly and
    easily to improve your mood by learning to pay attention to the ways that
    you act, think, and feel.
</p>
<div>
    <p align="center">
        <a> </a>
    </p>

{% endblock %}
