{% extends "base.html" %}

{% block app_content %}
<div>
    <img
    class="rounded mx-auto d-block"
    src="/static/images/module{ module_id }}/M{{ module_id }}-{{ module_part }}.png"
    />
</div>
    <h4>In this module you will learn:</h4>
<ul>
    <li>
        How your thoughts, feelings, and actions are connected
    </li>
    <li>
        What Behavior Activation (BA) is about
    </li>
    <li>
        The “outside-in” approach to life
    </li>
</ul>
<div>
    <p>
        We think this module will take about 20 minutes.
    </p>
</div>

{% endblock %}
