{% extends "base.html" %}

{% block app_content %}
    <h4>Can I change my thoughts and feelings?</h4>

<div>
    <div class="row featurette">
          <div class="col-md-8">
              If you feel unhappy and like you don't have a lot of energy it's easy to
              tell yourself that you'll change things when you feel better. But
              withdrawing from the world will only leave you with less energy and make
              you feel more depressed. Having low energy or down moods makes it even more
              important to work harder to improve your life. You can use BA no matter how
              you feel or how little motivation you have now. Since it deals with the way
          you act, <strong>BA can help you change your habits and your mood quickly</strong>.
          </div>
          <div class="col-md-2">
              <img
                  class="rounded mx-auto d-block"
                  src="/static/images/module2/image003.jpg"
              />
          </div>
        </div>
    </div>


{% endblock %}
