{% extends "base.html" %}

{% block app_content %}
</p>
<p>
    <strong>How does BA work?</strong>
</p>
<p>
    It's often easier to change what you do rather than to change how you
    think. Unlike many other training methods, you will not focus on your
    thoughts and feelings. BA starts on the “outside.” You will make changes in
    your life, the way you act, your environment, and the way you make your way
    around the world, in order to see how the outer world affects your inner
    feelings.
</p>
<div>

{% endblock %}
