{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="224"
        src="blob:https://word2cleanhtml.com/f187b9ec-36e3-4d17-9a0d-04e9f5062282"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM2P1.jpg"
    />
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How your thoughts, feelings, and actions are connected
    </li>
    <li>
        What Behavior Activation (BA) is about
    </li>
    <li>
        The “outside-in” approach to life
    </li>
</ul>
<div>
    <p>
        We think this module will take about 20 minutes.
    </p>
</div>

{% endblock %}
