{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="224"
        src="/static/images/module2/image001.jpg"
    />
</p>
    <h4>In this module you will learn:</h4>
<ul>
    <li>
        How your thoughts, feelings, and actions are connected
    </li>
    <li>
        What Behavior Activation (BA) is about
    </li>
    <li>
        The “outside-in” approach to life
    </li>
</ul>
<div>
    <p>
        We think this module will take about 20 minutes.
    </p>
</div>

{% endblock %}
