{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What will I learn next?</strong>
</p>
<div>
</div>
<p>
    <strong>•</strong>
    Try to think of some ways in which your thoughts, feelings, and behaviors
    are all connected. What are some ways in which the way you think might
    change the way you feel? How might the way you think change the way you
    act? Try to reflect on a few examples from your life, you can even write
    them down somewhere!
    <br/>
    <br/>
    <strong>•</strong>
    One of the ways to get the most out of BA is to have a clear set of goals.
    Think of some of your behaviors that you would like to change, or certain
    situations that make you feel sad or uncomfortable. Try to be as specific
    as you can: the best way to solve a problem is to break it down into small,
    easy, specific steps. You can tackle big problems, but make sure to break
    them down into smaller problems first. Just like before, feel free to write
    down your goals to help you remember!
    <br/>
    <br/>
</p>
<div>

{% endblock %}
