{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Story</strong>
</p>
<p>
    Sha'Niece's brother, Brian, notices that when Sha'Niece is depressed, she starts to
    pull away from her family and son. Brian tells Sha'Niece she needs to talk
    about herself in more positive ways. She begins to do so and this allows
    her to reengage with her family and feel better.
</p>
<p>
    Taking La'Damen to the park, though a hassle at first, helps her to smile
    and play with her son, which makes her happy. As she walks home with
    La'Damen, she passes a beauty shop and smiles. Maybe one day I can do hair
    in a shop too, she thinks.
</p>

{% endblock %}
