{% extends "base.html" %}

{% block app_content %}
    <h4>What will I learn next?</h4>
    <div>
        <img
        class="rounded mx-auto d-block"
        src="/static/images/module{{ module_id }}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
    </br>
<p>
    The next two modules (Modules 2 and 3) outline the theory behind BA and the
    techniques it offers.
</p>
<p>
    In Module 3, you can learn about the ways your actions and behaviors and
    your mood are all connected to each other, and you can learn how to realize
    ways in which your habits might cause a cycle of depression.
</p>
<p>
    Module 4 shows how to avoid this cycle, and how you can build new habits to
    improve your mood and enrich your life.
</p>
<div>
    <p>
        With practice, persistence, and a little hard work, you can use BA to
        its best advantage and improve the way you live your life.
    </p>
</div>

{% endblock %}
