{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Surviving tough times and tragedies</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/ed9f5e06-9c8e-4ac7-94a8-f2f2ac340fe0"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM13P10.jpg"
    />
</p>
<p>
    All of the coping strategies we described may seem small compared to what
    may be required of you in a real tragedy. This might be the loss of a loved
    one, witnessing a disaster, or being a victim of a crime. Any one of these
    situations can affect someone for a long time. Many people turn to
    counselors or religious leaders to help them cope and understand traumatic
    situations. As time passes, many people are able to find a way to grow
    stronger after a tragedy.
    <br/>
    <br/>
    <strong>
        There is an important difference between a survivor and a victim:
        successful survivors don't blame themselves for the acts of others
    </strong>
    . They realize that they have to take charge of their lives after a loss or
    injury. They often find a way to turn their loss into a personal mission
    for personal improvement or to help others. In this way they can see their
    losses not just as tragedies, but as events that lead them to grow stronger
    and serve others. If you’ve been through a traumatic situation and feel
    like you’re struggling, don’t hesitate to talk to someone like a counselor
    or religious leader who can help you feel more like a survivor!
</p>

{% endblock %}
