{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>
    <p>        We all go through challenges in life. Read through some stories below. Can you relate?</p>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                Over the past year, Sha'Niece has had another child, completed her GED, applied to cosmetology school and been accepted for the next term. However, she has not received her financial aid for the term. She knows that she is closer to her goal of owning a hair salon but she is a little discouraged that things are not going her way. She has met some new friends with similar goals and has learned lots of new parenting tips. She has also formed a mentoring relationship with Mrs. Brown from the library. While things aren't going as perfectly as she had hoped, she is looking toward the future with a definite plan in hand.
            </p>

            <br>
            </div>
         </div>
         <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
                <p>
                    Well, the time has come to make a choice for a college and while very difficult to do, Jamal has decided to go to the school that his mom wanted. This school doesn't have the best math program, but he will get to play basketball. Jamal was initially apprehensive, but also excited about being able to play his favorite sport and still be in school.
                </p>
                <p>
                    He is looking forward to meeting new people and living on his own. But, he is afraid he will miss him mom and sister dearly. Jamal has decided to use many of the new skills he has learned to help him stay focused and positive about the future. Just before it's time to leave home, he receives a call from Mrs. Watkins his high school math teacher, reminding him that her door is always open and that she has faith in him.
                </p>
             <br>
             </div>
        </div>
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>

                <p>
                    Ivan worked harder than ever before for the rest of the school year, because for the first time, it mattered: he would be able to go to college after he graduated next year. At the end of the school year, Ivan tried two new things with his family. First, he brought home his report card and showed it to his parents. He explained to them what it meant and explained that his 3.3 Grade Point Average would get him on the honor roll-and what that meant. Second, he thought about things other than working and bringing home money that he could do for his father that would make his father happy.
                </p>
               <p>
                   Ivan knew that his father loved watching baseball, so he worked some extra, extra shifts, and bought tickets to a White Sox game for his parents, himself and each of his five siblings. For the first time in years they did something all together other than worry about money or argue about work. The family was happy spending time together.
               </p>
               <p>
                   Ivan's teacher helped him find a Spanish-speaking social worker to connect his family to some resources in the community which Ivan hopes will help with the family's poor financial situation. Away from school, work and home, Ivan worked on spending time with his girlfriend, her brother and the break dancing crew without smoking weed. After a while, they seemed to get used to him not smoking so they stopped making fun of him. Ivan started to feel less and less anxious in social situations as he felt more accepted with them. He started to get a lot more into dancing and officially joined the crew.
               </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>
            <p>
                Danny has had a hard time this semester and there have been times when life felt too overwhelming to handle. But as he approached each situation, Danny learned to become more resilient and found that when he was able to counteract his negative thoughts and think positively about the future, he was able to cope more easily with life's challenges. Every day Danny tries to approach the difficulties in life with humor and refocuses his energy when he finds himself struggling with his negative emotions.
            </p>
            <p>
                Danny looks forward to the future and has been setting small goals for himself to help him stay motivated. Danny tries to approach each day with optimism, although some days are harder than others. He also realized that his friends are important to him and has been trying to reach out to them again. He knows he has to have boundaries so that he doesn't fall back into old habits but Danny also recognizes the importance of having a strong support network. He also spends more of his time with his friends from soccer. They have a lot in common and Danny always feels better when he is surrounded with friends and is active in his life, and knowing that he knows himself well enough to communicate better with others and to avoid some of the pitfalls of college life.
           </p>
             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                Elena went through a lot during her senior year: drinking alcohol heavily, her parents' divorce, school suspension, gang involvement, risky sex, and a major break-up. But her year ended a lot better than it had begun, with a solid relationship with her mom, an old friendship renewed, a loving sister by her side, a healthy lifestyle and a college acceptance letter.
            </p>
            <p>
                When Elena starts at the local community college in the fall, she feels she can take the experiences she had in the past, put the bad stuff behind her, and take her lessons learned with her. She knows that she has tendencies to put walls up and avoid those closest to her when things go wrong. She also knows she has a tendency to drink and hook up to forget about things when stuff is bad. Elena also knows that keeping busy with positive responsibilities like family, good friends, and goals for the future, keep her away from those tendencies that can bring her down. Elena feels focusing on good relationships with others, and her good relationship with herself, will keep her out of trouble in college.
            </p>

        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
