{% extends "base.html" %}

{% block app_content %}
<h4>Growing Resilient</h4>
<p>
    We all have coping mechanisms-first responses-for dealing with something
    difficult. But you can “grow the seeds” of resiliency and therefore improve
    and expand your ability to be resilient.
</p>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Grow your sense of humor</h5>
      <p class="card-text">Resilient people sometimes use humor to take the
      sting out of bad circumstances. They don't make fun of others, but they do find the funny
      side of situations.<br>
  </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Prioritize your problems</h5>
      <p class="card-text">Tackle problems in order of importance.
      Resilient people tackle situations in the order of their
      importance and they look forward to the future with a hope
      that challenges will get better.</p>
    </div>
  </div>
 </div>
 <br>
 <div class="card-deck">
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Set it aside-for now</h5>
       <p class="card-text">Setting aside problems is sometimes necessary until
       you feel ready to cope with them and solve them. Sometimes you may have too many problems at one time. If
       one problem is too big or if you have one too many problems
       for a given time, you put a problem aside for a while-as
       long as you don't pretend that it doesn't exist.
   </p>
     </div>
   </div>
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Be constructive</h5>
       <p class="card-text">Refocusing your energy on constructive activities can
       help you cope with difficulty while also helping to
       boost your spirits (and perhaps that of others, too).
       This strategy can also help you if you are struggling with
       a habit you want to break when you’re using it to cope with
       your challenges.</p>
     </div>
   </div>
  </div>
</br>

<p>
    You learned some of these skills in Modules 1-5 of CURB.
</p>



{% endblock %}
