{% extends "base.html" %}

{% block app_content %}
<h4>Ways of living means “right-sizing”</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Living a life based on what you believe is right for you and the world
    around you gives you the motivation to deal with everyday problems and big
    challenges. Setting goals is an important way of knowing what you want and
    moving towards it. Resilient people accept that problems will arise: rather
    than feel overwhelmed, they learn to problem-solve and accept them as part
    of life's challenges. Fulfilling your basic needs for companionship and fun
    is important. People who feel they can meet their needs feel more hopeful
    about everyday living.
</p>

{% endblock %}
