{% extends "base.html" %}

{% block app_content %}
<h4>Organized Coping</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Believing that that <strong>you are in charge of your life</strong> helps
    you take responsibility for your situations and feelings. Here you will
    learn several skills to help you think through life's problems and
    conflicts that will put you in charge of your life. Setting goals is
    important. Unrealistic, negative thinking about the things that happen to
    us is often what brings us down, not the situation itself.
    <br/>
    <br/>
    You can learn to be more <strong>optimistic</strong> about situations,
    whether they're good or bad. If a problem looks solvable, it makes more
    sense to be optimistic instead of pessimistic. If we do not allow ourselves
to believe we can solve a problem, we can't actually solve it.    <strong>Hope</strong> allows us to take optimism a step further. We have
    hope even in difficult situations because we believe that we-perhaps with
    the help of others-can find new ways to solve our problems. Trusting in the
    good intentions of others also helps solve problems. Better communication
    makes it less likely that you'll mistrust somebody.
</p>

{% endblock %}
