{% extends "base.html" %}

{% block app_content %}
<h4>What is “resiliency”?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    How do the oldest trees get so tall? They bend. If they couldn't bend with
    the wind and the storms they would fall over pretty quickly. In the same
    way, big skyscrapers like the John Hancock Tower-some of the strongest,
    biggest things that humans have built-are designed to bend slightly with
    the wind, allowing them to stay safe and strong. Just like trees and
    buildings, people need to be able to be flexible in certain situations.
    That's resiliency.
    <strong>
        Resilient people recover quickly from disappointments and make the best
        of difficult situations.
    </strong>
    We learn how to be resilient and it helps to keep us flexible enough to
    deal with life's challenges.
</p>

{% endblock %}
