{% extends "base.html" %}

{% block app_content %}
<h4>Building resiliency through building community</strong>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    </h4>or not resilient. Strong, flexible communities help individuals respond
    with their best in tough times. A community can be your school, group of
    friends, ROTC unit, neighborhood, church, or workplace. People who devote
    time in helping others often find that others are there for them when they
    need it. Membership in religious and community service organizations is
    associated with long-term happiness and better physical health.
    <br/>
    <br/>
    The purpose of Project CURB is to help you grow as a person in a community.
    While we use the Internet as a way to help you learn and we know that it is
    possible to see the World Wide Web as a kind of community, we also hope
    that you will take these lessons into your everyday living.
</p>

{% endblock %}
