{% extends "base.html" %}

{% block app_content %}
<h4>Why bother doing this?</h4>
<div>
    <div class="text-center">
        <img
        class="img-fluid rounded"
        src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
    </div>
    <p>
        The time to build your strength is when you are young. Studies of older
        people show that having good coping skills (resiliency) makes for
        happier and more successful living. It also reduces your risk of
        depression and drug and alcohol abuse. The patterns we build now will
        guide us in the future. Having a good experience coping with misfortune
        when we are young gives us strength for the challenges to come. Older
        adults, who can look back at having overcome something early in life,
        are more successful at coping.

{% endblock %}
