{% extends "base.html" %}

{% block app_content %}
<h4>Doing goals:</h4>

<ul>
    <li>
        Try a new coping skill like humor, refocusing your energy on something
        else, or tackling problems in their order of importance three times in
        the next week. Think about what you learned about being flexible!
    </li>
    <li>
        Each day for the next week, think hopefully about some problem you're
        having. Imagine yourself being successful overcoming it. See if you
        feel better and have more luck solving the problem.
    </li>
    <li>
        Pick a new (to you) community organization, school club, sport, or
        church program to check out each week for the next month. Pick one
        program to commit yourself for the next three months.
    </li>
</ul>

<div>

{% endblock %}
