{% extends "base.html" %}

{% block app_content %}
<h4>Aren't some people just born stronger than others?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<div>
    <p>
        It's true that some people find it easier to roll with the punches.
        They don't get as upset about everyday ups and downs. Other people may
        find it more difficult than others to always look at the sunny side of
        things. It is possible to learn to be more resilient, no matter what
        your temperament is naturally.

{% endblock %}
