{% extends "base.html" %}

{% block app_content %}
<h4>Skill Builder</h4>

<p>
    <strong>
        Take some time to think through the following questions, feel free to
        write them down to help you!
    </strong>
</p>
<div>
</div>
<ol>
    <li>
    Think of some examples in your life of how you have used coping skills
    like humor, refocusing your energy on something else, or dealing with an
    old problem.

</li>
<li>
    Think of an example of a problem you thought you could never solve but
    did. What were the steps you took to solve it. Why did the steps work?
    </li>
<li>
    Think about how a community organization, school club, sport, or church
    program could help you build resiliency and achieve your goals.
</li>
<li>
    Think about how using humor, joining organizations that serve the
    community, attending church or using any other good coping skills helps
    other teens around you.
</li>
</ol>


{% endblock %}
