{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Story</strong>
</p>
<p>
    Well, the time has come to make a choice for a college and while very
    difficult to do, Jamal has decided to go to the school that his mom wanted.
    This school doesn't have the best math program, but he will get to play
    basketball. Jamal was initially apprehensive, but also excited about being
    able to play his favorite sport and still be in school.
</p>
<p>
    He is looking forward to meeting new people and living on his own. But, he
    is afraid he will miss his mom and sister dearly. Jamal has decided to use
    many of the new skills he has learned to help him stay focused and positive
    about the future. Just before it's time to leave home, he receives a call
    from Mrs. Watkins his high school math teacher, reminding him that her door
    is always open and that she has faith in him.
</p>

{% endblock %}
