{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="452"
        src="blob:https://word2cleanhtml.com/10b0d602-2b3f-4db9-aa57-7b3e3ae5790e"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM13P1.jpg"
    />
</p>
<p>
    <strong>Module Thirteen</strong>
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        What “resiliency” is
    </li>
    <li>
        How you can cope with challenges and thrive in your life
    </li>
</ul>
<p>
    We think this module should take you about 15 minutes.
</p>

{% endblock %}
