{% extends "base.html" %}

{% block app_content %}
<h4>Broadening your life</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Resilient people don't just deal with problems-they also do meaningful
    things or activities.
</p>
<ul>
    <li>
        They find things they like to do, such as hobbies, skills, or games.
    </li>
    <li>
        They create things such as art or music or books or machines.
    </li>
    <li>
        They get involved in trying to make their city, their area, or their
        country a better, happier place.
    </li>
    <li>
        If they are religious, they get involved in their faith and their
        church or other places of worship.
    </li>
    <li>
        They set high goals for themselves and their lives and work hard at
        achieving those goals.
    </li>
</ul>
<p>
    <br/>
    In short, <strong>resilient people live meaningful lives.</strong> They go
    above being an ordinary person and try their best to do or be something
    special.
</p>

{% endblock %}
