{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Broadening your life</strong>
</p>
<p>
    <img
        width="151"
        height="225"
        src="blob:https://word2cleanhtml.com/66f025db-78be-4245-9ee9-709c8b0e6f58"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM13P13.jpg"
    />
</p>
<p>
    Resilient people don't just deal with problems-they also do meaningful
    things or activities.
</p>
<ul>
    <li>
        They find things they like to do, such as hobbies, skills, or games.
    </li>
    <li>
        They create things such as art or music or books or machines.
    </li>
    <li>
        They get involved in trying to make their city, their area, or their
        country a better, happier place.
    </li>
    <li>
        If they are religious, they get involved in their faith and their
        church or other places of worship.
    </li>
    <li>
        They set high goals for themselves and their lives and work hard at
        achieving those goals.
    </li>
</ul>
<p>
    <br/>
    In short, <strong>resilient people live meaningful lives.</strong> They go
    above being an ordinary person and try their best to do or be something
    special.
</p>

{% endblock %}
