{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Grace under pressure</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/b186ef90-bec7-4e74-a660-768eaca3b7ef"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM13P11.jpg"
    />
</p>
<p>
    Every situation has parts that you can change and parts that you can't.
    People who are resilient focus on what they can change. People who spend
    their time thinking about why something bad happened to them or what
    somebody else did wrong give up their power to control what happens to
    them. Being able to control the things you can in your life is an important
    part of becoming an adult. This doesn't mean you shouldn't blame somebody
    if they did something wrong, but you should keep going and not get hung up
    on the challenging things.
</p>

{% endblock %}
