{% extends "base.html" %}

{% block app_content %}
<h4>How do I build toughness?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    The “gym” where you train to build toughness and resilience is everyday
    living. The more you practice the things you've learned in Project CURB,
    the more confidence you will gain in problem solving and overcoming
    challenges. Having these skills will help you reach your goals.
    <br/>
    <br/>
    We are going to teach you “lines of defense.” These are: (1) first
    reactions, (2) ways of living, (3) organized coping, and (4) surviving bad
    situations or major life conflicts.
</p>

{% endblock %}
