{% extends "base.html" %}

{% block app_content %}
<h4>Finding your place in society</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Another important part of becoming a resilient person is deciding who you
    are and figuring out your place in society. You decide how you want to
    relate to other people by defining first who you are above everything else.
    <br/>
    <br/>
    For example, if you decide to be a vegetarian, you've chosen much more than
    what you're going to eat. By being a vegetarian, you will have to relate to
    certain people as “a vegetarian.” Your parents might support you or
    disagree with you. You may start associating with other vegetarians to talk
    about the problems you've had, learning new vegetarian recipes, or finding
    vegetarian-friendly restaurants. You may even run into people who ridicule
    you for your choice or who don't understand it.
    <br/>
    <br/>
    Every sort of label involves some sort of way of relating to other people.
    Some of these ways may be positive and you may find a lot of people like
    you. On the other hand, people may be prejudiced against you or dislike you
    without a good reason. This does not mean that you're wrong, or think about
    yourself differently. You should define yourself on your own terms, and not
    by relying on other people's expectations for you. Most importantly, you
    can find your place within society-a place where you belong. In doing so,
    you give yourself the strength to get through life.
</p>

{% endblock %}
