{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Creativity and resourcefulness</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/55ccc866-d749-41e7-9016-3c082fc54302"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM13P12.jpg"
    />
</p>
<p>
    People who deal best with problems are those who creatively look at all
    their options instead of getting frustrated. Resourceful people look at the
    problem, what they can and can't do about it, and who can help them before
    they try to find the best solution. Ignoring a problem, spending all your
    time blaming somebody else, or getting frustrated that things aren't right
    won't make anything better and may actually make problems worse.
    <br/>
    <br/>
    People who concentrate on what they can change tend to be better survivors
    rather than becoming victims; they can turn bad situations to their
    advantage, and as a result they can live happier and more productive lives.
</p>

{% endblock %}
