{% extends "base.html" %}

{% block app_content %}

<h2 class="display-4">I am feeling</h2>
<hr>
<p>Anyone who has tried to drop an unwanted habit can tell you it takes time
and motivation. It's like going to the gym to get in shape or trying to
stop biting your nails. Going through some of the exercises might bring up
sad or anxious feelings, but we stick with you and help you get through
those moments. The more you work at it, the more you can manage your mood to
feel better.
</p>
<p>
    Click any of the headings on the tabs below that describe how you feel for tips
    on how to continue progressing in the CURB program.
</p>

<div>
<div id="accordion">
  <div class="card" style="max-width: 30rem;">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          I am feeling anxious
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

      <div class="card-body">
          <div>
          <img
              class="img-fluid"
              src="/static/images/iamfeeling/anxious.png"
          />
          </div>
          It helps to think about being anxious in terms of how deeply you are
          involved, which is known as “engagement”. If you have too many things to
          handle or too many things to worry about, you may feel anxious-nervous and
          stressed. So if you feel anxious, you may just be handling too much new
          information from Project CURB. Don't worry. Take a break and think about
          what you've learned so far and try to put it into practice. Then you can
          come back later with more energy to get the most out of what Project CURB
          has to offer.
      </div>
    </div>
  </div>
  <div class="card" style="max-width: 30rem;">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            I am feeling scared
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          <p>
              <img
                  class="img-fluid"
                  src="/static/images/iamfeeling/scared.png"
              />
          </p>
          <p>
              Sometimes we feel we are in danger. We can feel our heart racing, hands
              sweating and maybe a sense of panic, too. Usually this comes when we feel
              threatened somehow. This can be someone or something that we feel unsafe
              around, or this could even be a social situation. For example, somebody
              threatens you on the way home from school, or you think your Mom will be
              “real mad” about your grades. In both cases, you are too “afraid” or
              “scared” to go home. If you find yourself feeling scared, find someone you
              trust to talk to. If you can’t think of anyone, you can call a
              teen-helpline at 800-852-8336 and talk to them about what you’re going
              through. If there is an emergency and you’re concerned for your safety, you
              can always call an emergency number (911) for help.
          </p>
    </div>
  </div>
  </div>
  <div class="card" style="max-width: 30rem;">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            I am feeling sad
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
          <p>
              <img
                  class="img-fluid"
                  src="/static/images/iamfeeling/sad.png"
              />
          </p>
          <p>
              There are two general reasons why we feel sad: we either feel sad because
              we had something important to us and lost it, or because of something we
              wish we had but could not have. The best way to know what makes you sad and
              then fix it is to take time and figure it out. Working on Project CURB,
              especially the CBT section can help you with this process. If you feel this
              is too hard to handle, take a break and then return when you're ready. Talk
              to a friend or family if you need help.
          </p>
       </div>
    </div>
  </div>
  <div class="card" style="max-width: 30rem;">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            I am feeling bored
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
          <p>
              <img
              class="img-fluid"

                  src="/static/images/iamfeeling/bored.png"
              />
          </p>
          <p>
              It helps to think of being bored in terms of the opposite of “engagement”.
              If you have too few things to do, you'll feel bored. So if you're bored,
              you may just have not enough to do in Project CURB's modules. Boredom
              happens, in other words, when we stop taking on challenges. Don't worry. If
              you take a break, then come back and move on to another part of a module,
              you can come back later to work on something else. You can also dig into
              the program deeper; think about how the program relates to you and your
              life. Don't get discouraged; remember your goals and the ways you could
              help them with skills from the CURB program.
          </p>
      </div>
    </div>
  </div>
  <div class="card" style="max-width: 30rem;">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            I am feeling worried
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
          <p>
              <img
              class="img-fluid"

                  src="/static/images/iamfeeling/worried.png"
              />
          </p>
          <p>
              Worrying about something or dwelling on it can be helpful at first because
              worrying can help you figure out what's making you upset or what you need.
              But worrying by itself can't make anything better. If you find that you're
              worrying a lot about something, ask yourself, “What can I do to solve this
              problem?” If you think about active engagement in problem-solving, your
              mood can improve and may be able to actually get past what it is that
              worries you. It can also help to talk to a friend or someone in your family
              about what solutions you can come up with to the problem.
          </p>
      </div>
    </div>
  </div>
  <div class="card" style="max-width: 30rem;">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            I am feeling happy/excited
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
          <p>
              <img
              class="img-fluid"

                  src="/static/images/iamfeeling/happy.png"
              />
          </p>
          <p>
              Happiness involves positive feelings, such as pleasure or excitement.
              Happiness is brought on by positive actions such as engagement in family,
              school, team or romantic relationships as well as involvement in some
              bigger cause you believe in that could be religious or political, for
              example. However, sometimes we can switch from feeling overly happy to
              feeling a great deal of anger and showing very unfriendly behavior. If you
              experience these sudden changes from being very happy and hopeful to being
              very sad and angry then you should talk to someone you trust, like your
              doctor, or a friend.
          </p>
      </div>
    </div>
    </div>
    <div class="card" style="max-width: 30rem;">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              I am feeling flat - not showing any feelings
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
        <div class="card-body">
            <p>
                <img
                class="img-fluid"

                    src="/static/images/iamfeeling/flat_affect.png"
                />
            </p>
            <p>
                Someone experiencing this kind of feeling, known as “flat affect” has a
                greatly reduced or lack of emotional expression that would usually be shown
                in response to a situation or someone else's behavior. Thinking of flat
                affect is easier if you think of it as not getting happy or sad about
                something that made you happy or sad before, such as getting good grades at
                school or breaking up with your best friend or romantic partner. Such lack
                of emotions can be a sign of trouble that leads to the blues and mood
                disorders. You should talk to a friend, a doctor, or someone you can trust
                about this condition.
            </p>
        </div>
      </div>
      </div>
      <div class="card" style="max-width: 30rem;">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                I am feeling like using drugs or alcohol
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
              <p>
                  Drinking alcohol or using illegal drugs can sometimes seem like a good way
                  to feel better or improve your mood. But in the long run, drugs and alcohol
                  don't solve anything. They keep you from dealing with the underlying
                  problems that can cause depression or down moods, and they can keep you
                  from being clear about your feelings. If you’re struggling to end an
                  addiction to drugs or alcohol, talk to a doctor so they can help you safely
                  find a way out. There are lots of treatment locations for teenagers
                  struggling with the same things you are. They can help you find better ways
                  to cope!
              </p>
              <p>
                  If you're looking for ways to improve your mood, there are several methods
                  that this program talks about, such as exercising or doing a pleasant
                  activity with a friend, which can help without all the negative side
                  effects of drinking or using drugs.
              </p>
          </div>
        </div>
  </div>
</div>
</div>

<br></br>
{% endblock %}
