{% extends "base.html" %}

{% block app_content %}
<br/>

<h2 class="display-4">Welcome to Project CURB!</h2>
<hr>

<p>
    This website is designed to teach coping skills to teenagers and young
    adults. Coping skills like those taught by Project CURB have been
    successfully taught to youth through face-to-face counseling. The purpose
    of internet intervention is to help teach participants resiliency so they
    can take control of their lives, get to their life goals, and reduce risks
    of becoming depressed in the future. This program was developed by the
    University of Chicago, University of Illinois, Corazon Community
    Services, Positive Influence and Family Services of Cicero.

    This is a community and Internet-based program designed to teach teens and
    young adults how be resilient. This means dealing with life's ups and downs
    without becoming seriously (clinically) depressed. This program was
    designed by medical doctors, psychologists, and young adults using the best
    methods available today. It does not involve extensive face-to-face
    counseling or taking any medications; it's intended to help you teach
    yourself how to beat the blues at your convenience.

<br></br>

<h3>
What's involved?
</h3>
<p>
    Project CURB is made up of fourteen “modules” that you can read on the Web.
    These modules will teach you 3 different ways to look at your life, your
    actions, and your thoughts. Each module is broken up into specific parts:
<ul>
<li><strong>What you will learn:</strong> Module basics
</li>
<li><strong>Review and Warm up:</strong>
    Recap what you learned in the last module</li>
<li><strong>Lesson:</strong>
    Questions, examples, and discussion to help you get the most out of each
    module
</li>
<li>
    <strong>Stories:</strong>
    Read about how people like you apply the skills in each module to their
    lives
</li>
<li>
    <strong>Skill Builders:</strong>
    Apply what you learned to your own life. Some skill builders are “thought
    exercises” that help you think about your life, and some skill builders
    show you how that information applies to your life
</li>
<li>
    <strong>Feedback:</strong>
    Tell us what you think about the program or what you learned in that module
</li>
<li>
    <strong>Wrap up:</strong>
    See the big picture of each module
</li>
<li>
    <strong>Doing Goals:</strong>
    New things you can learn or ways of training yourself
</li>
<li>
    <strong>Reward:</strong>
        Acknowledge your hard work in completing the different parts of the
        program.
</li>
</ul>
    There are 14 modules of about 20 web pages each. We recommend you try
to do about 2 modules each week, but the pace is completely up to you. It will take you about 15-20
    minutes to complete each module. Then you can practice what you learned for
    the next week, so it becomes a habit. Project CURB will only work if you
    apply these lessons to your life and really try to change some of the ways
    you act.
    <br/>
    <br/>
    Module 1 is an introduction to the whole program. The introduction can
    answer many of the questions you may have about Project CURB.
</p>

<h3>How Project CURB can help you</h3>

<p>
    The books and publications listed below are the scientific basis for this
    website. In most cases, the programs and/or techniques described in those
    publications have demonstrated benefits in multiple studies to either
    reduce the chances of getting clinical depression in the near future or
    reduce the symptoms of depression.
    <br/>
    <br/>
    Project CURB teaches you how using regular, enjoyable, worthwhile
    activities, thinking positively, and building strong friendships can help
    protect you from depression and make the transition into adulthood.
    <strong>
        This program teaches you how to adapt and change to meet life's
        challenges without becoming depressed.
    </strong>
    The key is <strong>personal motivation</strong>. As you work on this
    program, you will learn how to build your personal motivation.
    <br/>
    <br/>
        No one else has to know that you're participating in Project CURB.
    This website is for your personal use and learning.
        You may choose to talk to your family, your doctor, or friends about
        the program, but that is completely up to you.
</p>
<br>
<div class="jumbotron">
<h1 class="display-4">You Should Know</h1>

  <p>This website is not a replacement for medical advice from your doctor,
  therapist, or psychiatrist so please continue to work with them and
  talk to them about how CURB is helping you.
  <br/><br>
  If you or someone you know is dealing with thoughts of suicide or self-harm please go to a
  hospital, see a doctor, or call a crisis line like 800-273-8255 (TALK)
  right away.</p>
</div>
    <h3>Things you'll learn</h3>
    <p class="lead">Resiliency</p>
    <p>
    Project CURB aims to help you build resiliency so you can deal with the
    rough parts of growing up. Resiliency is a way of acting and communicating
    that protects you against depression and allows you to grow into a mature
    adult. You can build your self-reliance and self-esteem through trust,
    optimism, and learning to react flexibly to challenging events. You can see
    examples of resiliency in everyday things: grass growing in a broken
    sidewalk or the way your body fights off colds. Resiliency covers
    everything from how you think about yourself and how you express your
    feelings to the sorts of people you hang out with and the sorts of ways you
    get involved in your community.
    <br/>
    <br/>
    Resiliency affects your whole self - your whole body and mind - just like
    depression does. Throughout the 14 modules, Project CURB will show you how
    to build your resiliency and lower your risk of depression.
    </p>
<p>
    Project CURB teaches you 3 basic ways to build resiliency: Behavioral
    Activation (BA), Cognitive Behavioral Therapy (CBT), and Interpersonal
    Therapy (IPT).
</p>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Behavioral Activation</h5>
      <p class="card-text">BA teaches you the “outside-in” approach to life. You're not just
      what's in your head: you change and are changed by your family,
      community, and the whole world around you.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cognitive Behavioral Therapy</h5>
      <p class="card-text">CBT does the opposite: it shows you how to better understand your
          thoughts and change them to improve your mood.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Interpersonal Therapy</h5>
      <p class="card-text">IPT focuses on your relationships with other people-how to talk to
      people more effectively and resolve conflicts more easily.
  </p>
    </div>
  </div>
</div>
<br>
<p>
    While these 3 methods seem different at first, they can all help you solve
    problems, deal with life's challenges, and build resiliency. The goal of
    Project CURB is to help you meet your goals, whatever they may be.
</p>

    <h3>Goals for Project CURB</h3>
<p>
    Once you've completed the website, you'll learn different ways of being
    resilient and changing risk factors. Some of the things we hope to help you
    with include:
</p>
<ul>
    <li>
        Improving your mood
    </li>
    <li>
        Enjoying something that is a part of your routine each day
    </li>
    <li>
        Getting more involved with your community and those around you
    </li>
    <li>
        Identifying and stopping negative thoughts
    </li>
    <li>
        Understanding and building your social support
    </li>
    <li>
        Solving relationship problems
    </li>
    <li>
        Not blaming yourself for things you can't control
    </li>
</ul>
    <h3>Don't miss out!</h3>
<p>
        The overall goal of this intervention is to help you master your moods
        so you can achieve your life goals. Letting depressed moods or even clinical depression take over your life can
    make it hard to keep on track. Worst of all, getting down all the time robs
    you of fun times and other things you value in your life.
    <br/>
    <br/>
    If your ready to start CURB click on the Modules on the menu bar.
    Good Luck!
</p>
<br>
{% endblock %}
