{% extends "base.html" %}

{% block app_content %}

<h2 class="display-4">Roadblocks</h2>
<hr>
<h3>
    The program might not help.
</h3>
<h5>Do the CURB methods actually “work?”</h5>
<p>
    Two forms of counseling that are effective treatments for depression are
    cognitive behavior psychotherapy (CBT) and interpersonal psychotherapy
    (IPT). In CBT, we learn to look at the effects of our thoughts and behavior
    on our mood. You will learn some techniques of CBT in Modules 5-8. IPT
    looks at how human relationships affect your mood. You learn some of these
    techniques in Modules 9-12.
    <br><br>
    Teens who used earlier versions of the program stated that the coping
    skills they learned by practicing CBT and IPT methods were very helpful and
    they were less depressed after using them. People who spent more time on
    the program and completed the program tended to feel better. The two
    studies completed thus far with support from the National Institutes of
    Mental Health, Robert Wood Foundation and NARSAD Foundation showed that
    kids who participated felt better at the end of the program.
    If you feel that a section or module is not helpful, try another.
    <br/>
</p>
    <h5>There's no way that real doctors developed this program.</h5>
<p>
    CURB was developed by leading universities to improve teens' coping skills.
    The program was first developed by Dr. Benjamin W. Van Voorhees while he
    was a doctor in training at Johns Hopkins University in Baltimore. Later,
    the program was developed further at the University of Chicago. Dr. Karen
    Taylor-Crawford, in collaboration with Dr. Benjamin Van Voorhees has led
    the effort to adjust the original program so it applies to URBAN youth.
    Others in the Chicago area who are involved in developing Project CURB
    include: Miles Square Clinics, Corazon Community Services, Family Services
    of Cicero and University of Illinois.
</p>
<hr>
<h3>
    The program might not help kids like me.
</h3>
<h5>
    I get pulled down by the world and what it deals me-I don't want to do
    anything.
</h5>
<p>
    You're right, bad stuff happens and it seems to yank you “down” at times.
    But getting stuck in a “do nothing” state of mind just makes you feel even
    worse. What you will learn at CURB is that we can control some of how far
    we fall by changing how we react to bad stuff. In fact, with some of the
    coping skills you learn at CURB you can take the bad stuff, learn to deal
    with it-and be a lot stronger. Think about it: How do you feel when you
    have struggled and still survived?
</p>

<h5>Will CURB include stories I can read about kids like me?</h5>
<p>
    Many teens from a lot of different backgrounds have worked on CURB and have
    helped in its development. For example, 20 kids got together at the
    invitation of some of the developers and looked at all the materials we
    were creating. The teens helped us write stories that deal with real world
    situations. We will be including many of these stories for you to read as
    you use the modules.
</p>
<hr>
<h3>
    The program might be too hard to do.
</h3>
<h5>CURB seems to be really long and have a lot of reading.</h5>
<p>
    Sometimes it can feel like it takes a really long time to get through a
    module and do the exercises. But like the exercises you do for sports or
    gym, you have to put some effort in to get some success. Part of the
    success you can notice when you work on CURB will be like what other people
    noticed earlier. In studies done earlier on CURB, teens who used the
    program's coping skills felt they were very helpful and they were much less
    depressed after using the coping skills. Plus, people who spent more time
    on the program and completed the modules tended to feel better. So if you
    can, stick with finishing the modules, especially the skill builders and
    the “doing” parts.
    <br/><br>
    You can also try a different module if the one you are using seems too hard
    at first or it does not seem meaningful for you. Keep working on the
    program; doing so will help you build the sort of “muscles” that give you
    more resiliency.

</p>
    <h5>What if CURB brings up bad feelings?</h5>
<p>
    Sometimes a program like CURB, which pays attention to feelings and
    behavior connected to depression, can be hard because of the feelings and
    thoughts that come up. People can sometimes experience strong feelings in
    the healing process of counseling. However, your counselor will be there to
    guide you and help you learn how you can overcome depression. If this
    happens while you are at CURB, take a break and go to Module 1 where you
    can try some deep breathing or journal a bit about yourself.
</p>

    <h5>What if I have had bad experiences with counseling?</h5>
    <p>
    There are many reasons why people feel that treatment or counseling has not
    worked for them. They may not have clicked with a counselor. A different
    counselor might provide a different result. Rather than focusing on bad
    experiences with counseling in the past, we suggest learning more about the
    available treatments and discussing them with family and friends. You may
    find that family or friends have been successfully treated for depression
    or similar struggles but never mentioned it.
    <br/>
    CURB lets you be in charge of when and how you do the program. You also
    have the chance to learn about yourself on your own and share things with
    others as you wish.
</p>
<hr>
<h3>
    The program might not fit me, my schedule or my money.
</h3>
<h5>
    I'm afraid the program is expensive; I already have problems with my
    schedule.
</h5>
<p>
    CURB is completely free. It does not involve insurance, co-payments or
    other things related to money that might delay when you can begin. You just
    start up-unlike other face-to-face programs, you can do CURB on your own
    and on your own schedule. So you see, CURB is easy to do.
</p>
<h5>I don't like being told what to do.</h5>
<p>
Project CURB is something you do on your own. You can choose to stop at any
time no one will ever even know you did. Completing the CURB program is up
to you.
</p>
<h5>
    I can't find a computer to use and don't have money to buy one.
</h5>
    <p>
    If you’re interested in using CURB but have trouble getting to a computer,
    you might be able to find one at your school or local library. The Internet
    site you will go to for using CURB does not have any negative words in big
    type so you will have some privacy, but consider who is around you when you
    are at one of these public sites.
</p>
<hr>
<h3>
    The program might make family or friends think badly of me.
</h3>
<h5>What will family and friends think about my depression?</h5>

<p>
    Being depressed just a little, or needing to work to prevent depression,
    still has some stigma attached to it. Stigma, the feeling of shame or
    disgrace, can make us worry that friends or family will think less of us.
    However, depression is actually common in young people. As many as one in
    four young adults has had either minor depression or clinical depression.
    If you feel you can trust a friend, you may decide to talk about it with
    him or her. Since the person is your friend, you may discover that he or
    she cares about you and just wants you to be as strong as you can be.
    <br><br>
    Most of the teens in earlier studies said their friends wanted them to do
    the program. Plus, many teens have completed the program or have helped
    develop it for you. They did this because they believed there is nothing
    wrong with trying to keep yourself strong. In the end it’s up to you to
    decide who you talk to about your experience with CURB.
</p>
    <h5>What will my employer or school think about my depression?</h5>
<p>
    Nothing. They won't even know. Federal law protects the privacy of your
    medical records. You cannot be discriminated against because you take part
    in this program to prevent depression. No one will know about your
    participation in CURB unless you tell them. Most employers and schools
    prefer that their students and workers receive treatment to prevent or deal
    with depression so that they can be successful at school and on the job.
</p>

{% endblock %}
