{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Skill Builder</h4>

<ol>
<li>
    Think about your typical way of acting with others using what you
    learned above. Think about how that way of acting tends to affect you and
    other people. Which of the 4 types do you think fits you the best?
    </li>
    <br>
    <li>
    Think about a recent conflict you had with someone. On a sheet of paper,
    or in your notebook write down what you think the other person was actually
    thinking. How is it different than what you thought the other person was
    thinking at the time?
</li>
    <br>
<li>
    Think of an example of how picking the wrong time or place to talk
    something over with someone may prevent good communication.
</li>
</ol>


{% endblock %}
