{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How can I be calm, cool, and collected?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    In the messy room situation, first you'd hear your roommate out. Tell the
    roommate you understand that a dirty room is bothering her/him. Just making
    it clear that you are listening will probably make the roommate less angry.
    Then tell your side by explaining how busy you have been. You may even add
    that it bothers you when s/he gets on your case all the time about the
    room.
    <br/>
    <br/>
    With everyone having made their case, you may be able to work out some kind
    of a deal. Short of moving out, this is the best way to work out a
    compromise.
</p>

{% endblock %}
