{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Wrap-up</h4>
<p>
    A good way to think about your social network is to look at your
    “communication style”-the way you talk to people. The way that you say
    something may be as important as what you say. One type of communication
    style-talking directly, calmly, and coolly-can help a lot when solving
    problems. By trying to see the other person's side of the issue, you can
    resolve your conflicts.
</p>

{% endblock %}
