{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Story</strong>
</p>

<p>
    <strong>Ivan</strong>
    woke up to his parents arguing. He tried to go back to sleep as he was
    somewhat used to this. His parents argued from time to time, especially
    when they were worried about money. This time, though, the fighting got
    louder and Ivan got worried. He noticed that his little brothers were awake
    in bed and also looked worried, so he walked out into the living room
    hoping they would calm down.
</p>
<p>
    Instead, Ivan's father pointed at him and continued screaming. He realized
    his mother must have just told his father that Ivan hoped to go to college.
    Ivan's father started yelling at him, calling him selfish and asking him
    how he thought it could be fair that he go to college instead of getting a
    job and supporting the family. “I have worked too hard to bring the family
    to the United States to have my oldest son leave the family for his selfish
    dreams. Get out!”
</p>
<p>
    Not knowing what to do, Ivan quickly ran back into the bedroom to put on
    clothes to leave. He saw his younger brothers crying. He told them not to
    worry, then walked out of the room, and then out of the front door. Ivan
    took the bus downtown and walked around thinking for hours. He hadn't seen
    his father this angry in a really long time. Ivan was scared for his
    mother. He'd seen his father get in his mother's face before. He had to go
    home to make sure she was ok, but how would he calm his dad down? On the
    bus ride back, he tried to put himself in his father's shoes. How could he
    make his father happy while still pursuing his dreams of college?
</p>
<p>
    *If Ivan’s story sounds all too familiar, and you’ve experienced domestic
    violence at home, you can call the national domestic violence hotline at
    1-800-799-7233. There are people there to talk confidentially and they’re
    ready to help!”
</p>

{% endblock %}
