{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Warm-up Exercise</h4>
<p>
    We hope you enjoyed thinking about your life goals thus far. This warm-up
    exercise is meant to help you think about your work on the program, from
    your point of view. Think about the following questions for a minute. Feel
    free to write down some of your thoughts!
</p>
<p>
    <strong>
        Please answer each of these questions as fully and honestly as you can.
    </strong>
</p>
<div>
</div>
<ul class="list-group list-group">
    <li class="list-group-item">
    What was one of the goals you enjoyed thinking about most so far?
    </li>
    <li class="list-group-item">
    Think about the last module you did. What was the coping skill you learned,
    and why do you think it might be helpful?
</li>
<li class="list-group-item">
    How do you think that coping skill might work in real life to keep you
    focused on your goals and help you feel better?
</li>
<li class="list-group-item">
    What motivated you to want to use that coping skill since that last visit
    to the Internet site?
</li>
<li class="list-group-item">
    When you used the coping skill, how did using it change or affect your
</li>
</ul>

<br>
{% endblock %}
