{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What's my style?</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/87b5d2bc-a961-425f-a48e-6e045b868793"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P7.jpg"
    />
</p>
<p>
    Here's what the letter choices stand for:
</p>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The Angry Approach</h5>
      <p class="card-text">If you tend to act like this, you may have trouble sticking around in
      relationships when things get tough. You may have trouble feeling like your
      friends are for real.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The Calm, Cool, Direct Approach</h5>
      <p class="card-text"> Sounds like you're able to handle difficult situations calmly. This
          suggests that you have friends you trust to stick with you.</p>
    </div>
  </div>
  </div>
  <br>

  <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">I Give In Approach</h5>
      <p class="card-text">You will probably also feel intimidated, or like you got cheated. If you
          often act this way, you may not feel like you can really get close to other
          people.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">I Don't Care Approach</h5>
      <p class="card-text">    Sounds like you've been disappointed with people in the past. But not
          wanting anything to do with other people can be a sign of more serious
          problems. You may want to discuss this with your doctor if you continue to
          feel this way.</p>
    </div>
  </div>
</div>
</br>


{% endblock %}
