{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Can I change my style?</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/b132b4ca-0913-4d72-9468-b0d96f442d50"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P12.jpg"
    />
</p>
<p>
    This process may seem daunting, but don't lose heart. It takes time to
    change your usual way of doing things; you've had these habits for most of
    your life. But the more you try out these new skills, the more you will be
    able to find the right response to different situations. You can change
    parts of your reactions to become the person you really want to be.
</p>

{% endblock %}
