{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How do other people respond to your talking style?</strong>
</p>
<p>
    <img
        width="85"
        height="128"
        src="blob:https://word2cleanhtml.com/ccf9083b-8db8-4c1c-a3fc-05d004e00c07"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P8.jpg"
    />
</p>
<p>
    Listed below are the ways another person will likely respond to your
    approach (by the letter of your approach). Is this the result you're
    looking for? How can you act to work out the conflict?
</p>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The Angry Approach</h5>
      <p class="card-text">The result here is likely that the other person will just get madder, and
          you may never find out what the problem is. You will probably stay angry
          with the person because it's hard to start talking about the problem in
          order to solve it.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The Calm, Cool, Direct Approach</h5>
      <p class="card-text">     This will likely give the person a chance to calm down, and you can find
          out what the problem is. You will probably feel better once you speak your
          mind, and hopefully you can work it out.</p>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">I Give In Approach</h5>
      <p class="card-text">The other person may not become angrier, but you will probably feel worse
          because you didn't express all your feelings. The friendship can't move
          forward because neither of you know what the other wants..</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">I Don't Care Approach</h5>
      <p class="card-text"> Not caring will likely make the other person even madder and will not help
          you figure out what the problem is. The friendship will never develop with
          only one person participating.</p>
    </div>
  </div>
</div>
</br>
{% endblock %}
