{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How do you think you'd respond?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Which of these responses to any of the above situations sounds the most
    like you?
</p>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <p class="card-text">I get angry back; I don't take anything like that. I let him/her know where
      I stand and what I will and will not do.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text"> I'd try to keep my cool and ask him/her why s/he's so mad. I'd say what's
      on my mind.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">    I just walk away; I don't waste my time with people who go off on me for no
          good reason. Later, I am still mad at him/her. I think about what I would
          say if I had a chance.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text"> I don't care about people. I am not interested at all. Other people can
          just do what they want. I look after myself.</p>
    </div>
  </div>
</div>

{% endblock %}
