{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How can I learn how I talk to others?</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/d6c84640-85f7-4c48-bc92-e06dc698f9c8"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P3.jpg"
    />
</p>
<p>
    In the last module you did some exercises that helped you think about your
    current relationships. You may feel that you're doing all right, or you may
    have noticed some problem areas in your life that you would like to
    improve. Learning how to tell people how you feel and figuring out what
    other people feel can go a long way toward solving relationship problems.
    We often don't realize that another person doesn't know what we're
    thinking, or that we don't really know what someone else is thinking.
    <br/>
    <br/>
    It takes two people to create a relationship problem. But it's important to
    remember that the only thing you can control is your own behavior.
    <strong>
        The first step to improving your relationships is to evaluate the way
        you talk to others.
    </strong>
    You may be thinking, “Hey, the problem is with other people, not me.” In
    fact, the problem is about something else-poor communication. While what we
    do can't change other people, it can affect our relationships with them.
</p>

{% endblock %}
