{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How do you think you'd respond?</strong>
</p>
<p>
    <img
        width="198"
        height="297"
        src="blob:https://word2cleanhtml.com/d296399b-0777-473c-b840-60facce9e982"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P6.jpg"
    />
</p>
<p>
    Which of these responses to any of the above situations sounds the most
    like you?
</p>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <p class="card-text">I get angry back; I don't take anything like that. I let him/her know where
      I stand and what I will and will not do.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text"> I'd try to keep my cool and ask him/her why s/he's so mad. I'd say what's
      on my mind.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">    I just walk away; I don't waste my time with people who go off on me for no
          good reason. Later, I am still mad at him/her. I think about what I would
          say if I had a chance.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text"> I don't care about people. I am not interested at all. Other people can
          just do what they want. I look after myself.</p>
    </div>
  </div>
</div>

{% endblock %}
