{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Example: Repairing an old car</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/e1b0c80d-42da-4102-bbbe-b83606748b1a"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P4.jpg"
    />
</p>
<p>
    At this point in your life, you may be learning to drive for the first time
    or have been driving for a while, so you're probably fairly familiar with a
    car. You could say that your car has its own personality. It probably has
    little habits-like a certain way it drives-and little problems, too.
    Perhaps the car you drive is run-down and ugly but you cleaned it up and
    made some repairs; you may have even added a sound system or a new paint
    job. You probably learned to do many of these things yourself. You may have
    paid a mechanic to work on the car, replacing parts, doing a tune-up, or
    adding some improvements like a new steering wheel or speakers. The basic
    car did not change-the car has the same purpose it did to begin with; that
    is, to drive you around. But the improvements will help you to enjoy the
    car a lot more than when you first bought it.
    <br/>
    <br/>
    Like the car, you don't have to change your whole personality to improve
    the way you relate to other people. Like your car, you do have to start to
    notice the things you might want to change. You can learn how to fix or
    change ways to communicate or ask someone to help. You can feel better,
    just as your car drives better. You can reduce the chance you will have a
    problem like depression.
    <br/>
    <br/>
    The first step is to have a social “tune-up.”
</p>

{% endblock %}
