{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Picking the setting</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Once you're ready to talk to the other person, pick a time and a place when
    he or she is ready to listen. If you just talk about the situation the next
    time you see each other, the other person may not be ready to talk to you
    and the conversation might not go as well. For example, if you want to talk
    to a friend, ask her or him to talk to you at a time that's good for both
    of you. Then, when it comes time to talk, you can both make the best of the
    situation.
</p>

{% endblock %}
