{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="col-9">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
</div>
</div>
<h4 id="module_name">Module Ten</h4>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How to think about your communication style
    </li>
    <li>
        How to solve problems with others calmly and assertively
    </li>
    <li>
        How to make some arguments easier
    </li>
</ul>
<p>
    We think this module will take you about 20 minutes.
</p>

{% endblock %}
