{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What are some typical “talking styles”?</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/68fcf777-d591-42fe-a32c-6bf846ff80d5"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P5.jpg"
    />
</p>
<p>
    Here are several examples of typical situations that can make people angry
    or upset. How would you respond to each situation?
</p>
<ul>
    <li>
        One of your friends tells you in an angry tone that you seem to be
        flirting with his or her girlfriend/boyfriend and thinks that you may
        be moving in on him/her.
    </li>
    <li>
        Your sister asks you to let her use your car for the third time this
        week. The last time she used it her friends made a huge mess that she
        never cleaned up.
    </li>
    <li>
        Your roommate asks if you mind if her/his boyfriend/girlfriend comes
        and stays in the room this weekend.
    </li>
    <li>
        You are on the football team and the coach tells you that you have been
        cut. You're pretty sure that it's because he doesn't like you.
    </li>
    <li>
        Your girlfriend/boyfriend tells you that she/he believes that you don't
        care about your relationship as much as she/he does. She/he is upset
        because the two of you don't spend much time together. However, the
        reason you don't see her/him much is because you have been busy working
        overtime to save money toward your first year of community college.
    </li>
</ul>

{% endblock %}
