{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="171"
        src="blob:https://word2cleanhtml.com/50bb9da1-3fc3-44b5-bf40-8875b391b99a"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P1.jpg"
    />
</p>
<p>
    <strong>Module Ten</strong>
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How to think about your communication style
    </li>
    <li>
        How to solve problems with others calmly and assertively
    </li>
    <li>
        How to make some arguments easier
    </li>
</ul>
<p>
    We think this module will take you about 20 minutes.
</p>

{% endblock %}
