{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Seeing both sides of the issue</strong>
</p>
<p>
    <img
        width="198"
        height="198"
        src="blob:https://word2cleanhtml.com/501a6994-7a7e-467a-9417-7037e6a77549"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM10P11.jpg"
    />
</p>
<p>
    Your roommate has a valid reason to be upset: the room was really dirty. On
    the other hand, your problems matter, too: you're busy and you feel like
    you're being attacked about this. So in this case, you had to listen to the
    problems your roommate had, not just what your problems were. But being
    fair doesn't mean that you have to always accept everybody's criticism.
    There are times when you really do have to stand up for yourself. The thing
    is to learn <strong>when</strong> to accept or reject criticism.
    <br/>
    <br/>
    Always try to think about the problem from the other person's point of
view, there might be things worth listening to. Ask yourself,    <em>What is the other person thinking?</em> While nobody is right all the
    time, people are rarely completely wrong. When you work to achieve your
    goals, the best way to succeed is to balance your needs with the needs of
    other people while staying true to yourself.
</p>

{% endblock %}
