{% extends "base.html" %}

{% block app_content %}

<h4>Story</h4>
<p>
    <strong>
        We all go through challenges in life. Read through some stories below.
        Can you relate?
    </strong>
</p>
<p>

</p>
<p>
    <strong>Sha'Niece</strong>
    is an 18-year-old mother of one-year-old La'Damen and is pregnant with her
    second child. She lives with her grandmother, Lou, aka “Gran”, Gran's
    boyfriend, Walter, her 16-year-old brother Brian and Brian's pregnant
    girlfriend, Kim. Sha'Niece dropped out of school when she learned she was
    pregnant with her first son and has no plans of going back. She enjoyed
    school, but was never a good student.
</p>
<p>
    Sha'Niece and Brian, who have the same mother, but different fathers, have
    lived with her grandmother since their mother got hooked on drugs 10 years
    ago. They occasionally see their mother in the neighborhood, but she spends
    most of her time in and out of drug houses. Brian's father is currently in
    jail for attempted murder. On the other hand, Sha'Niece doesn't know who
    her father is.
</p>
<p>
    Sha'Niece recently broke up with the father of the baby she's carrying now
    and her son La'Damen's father comes around about once every three months.
    Sha'Niece does her best to financially support her child, but does not make
    enough money doing hair at her friend's house. On top of that, she does not
    receive child support, but does get public aid. However, Sha'Niece gives
    most of her money to Gran to help pay for groceries and for things they
    need around the house.
</p>
<p>
    When Sha'Niece found out she was pregnant again she was angry. How could
    she have another child while living in a small, 3-bedroom, overcrowded
    apartment? She feels stuck and can't seem to find a way out. She's been
    staying away from home trying to figure things out and that means that her
    son has been spending more time with his great-grandmother than he has with
    her. Sha'Niece is very depressed because she's trying to do better for
    herself and her children, but bad things keep happening. Life is so hard
    that she sometimes wishes she wasn't even here anymore. With so much
    trouble and struggle in her world, Sha'Niece is trying to decide if life is
    even worth living.
</p>
<p>
    If you’re questioning whether life is worth living, or thinking about
    hurting yourself or worse, get help now! You can talk to an adult you
    trust, talk to your doctor, talk to someone at a hospital, or talk to
    someone anonymous at 800-273-TALK (8255) right away! They’re available 24
    hours a day, just to help YOU! Don’t go on struggling alone!
</p>

{% endblock %}
