{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How can my behavior change the way my brain works?</strong>
</p>
<p>
    <img
        width="105"
        height="105"
        src="blob:https://word2cleanhtml.com/1d9c2a49-af87-43e1-80ca-3255c7dcf00c"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM1P11.jpg"
    />
    Many of you may have thought that only medication can change the way your
    brain works. However, the beauty of the brain is that it's always
    learning-especially when you are young. When you change your behavior, you
    can actually change the way your brain works.
    <strong>
        By changing the behaviors you want to change, you can change yourself.
    </strong>
</p>

{% endblock %}
