{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What's involved?</strong>
</p>
<p>
    Project CURB is made up of 14 “modules” that you can read on the web. These
    modules will teach you three different ways to look at your life, your
    actions, and your thoughts. Each module is broken up into specific parts:
</p>
<p>
    Project CURB is made up of fourteen “modules” that you can read on the Web.
    These modules will teach you 3 different ways to look at your life, your
    actions, and your thoughts. Each module is broken up into specific parts:
<ul>
<li><strong>What you will learn:</strong> Module basics
</li>
<li><strong>Review and Warm up:</strong>
    Recap what you learned in the last module</li>
<li><strong>Lesson:</strong>
    Questions, examples, and discussion to help you get the most out of each
    module
</li>
<li>
    <strong>Stories:</strong>
    Read about how people like you apply the skills in each module to their
    lives
</li>
<li>
    <strong>Skill Builders:</strong>
    Apply what you learned to your own life. Some skill builders are “thought
    exercises” that help you think about your life, and some skill builders
    show you how that information applies to your life
</li>
<li>
    <strong>Feedback:</strong>
    Tell us what you think about the program or what you learned in that module
</li>
<li>
    <strong>Wrap up:</strong>
    See the big picture of each module
</li>
<li>
    <strong>Doing Goals:</strong>
    New things you can learn or ways of training yourself
</li>
<li>
    <strong>Reward:</strong>
        Acknowledge your hard work in completing the different parts of the
        program.
</li>
</ul>
<p>
    There are 14 modules of about 12 Web pages each. We advise you to do about
    2 modules each week. It will take you about 15-20 minutes to complete each
    module; then you can practice what you learned for the next week so it
    becomes a habit. This program will only work if you apply these lessons to
    your life and really try to change some of the ways you act.
</p>
<p>
    The rest of Module 1 is an introduction to the whole program and you can
    start it whenever you’re ready..
</p>
<p>
    Good luck!
</p>

{% endblock %}
