{% extends "base.html" %}

{% block app_content %}

<h4>Story</h4>
<p>
        We all go through challenges in life. Read through some stories below.
        Can you relate?
</p>

<div class="container text-light bg-dark rounded w-90 p-3"">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="w-80 p-3  align-self-center">
        <p class="lead">Sha'Niece</p>
        <p>
            Sha'Niece is an 18-year-old mother of one-year-old La'Damen and is pregnant with her
            second child. She lives with her grandmother, Lou, aka “Gran”, Gran's
            boyfriend, Walter, her 16-year-old brother Brian and Brian's pregnant
            girlfriend, Kim. Sha'Niece dropped out of school when she learned she was
            pregnant with her first son and has no plans of going back. She enjoyed
            school, but was never a good student.
        </p>
        <p>
            Sha'Niece and Brian, who have the same mother, but different fathers, have
            lived with her grandmother since their mother got hooked on drugs 10 years
            ago. They occasionally see their mother in the neighborhood, but she spends
            most of her time in and out of drug houses. Brian's father is currently in
            jail for attempted murder. On the other hand, Sha'Niece doesn't know who
            her father is.
        </p>
        <p>
            Sha'Niece recently broke up with the father of the baby she's carrying now
            and her son La'Damen's father comes around about once every three months.
            Sha'Niece does her best to financially support her child, but does not make
            enough money doing hair at her friend's house. On top of that, she does not
            receive child support, but does get public aid. However, Sha'Niece gives
            most of her money to Gran to help pay for groceries and for things they
            need around the house.
        </p>
        <p>
            When Sha'Niece found out she was pregnant again she was angry. How could
            she have another child while living in a small, 3-bedroom, overcrowded
            apartment? She feels stuck and can't seem to find a way out. She's been
            staying away from home trying to figure things out and that means that her
            son has been spending more time with his great-grandmother than he has with
            her. Sha'Niece is very depressed because she's trying to do better for
            herself and her children, but bad things keep happening. Life is so hard
            that she sometimes wishes she wasn't even here anymore. With so much
            trouble and struggle in her world, Sha'Niece is trying to decide if life is
            even worth living.
        </p>
        <br>
        </div>
     </div>
     <div class="carousel-item">
         <div class="w-80 p-3  align-self-center">
         <p class="lead">Jamal</p>
         <p> Jamalis a 16-year-old high school sophomore who goes to school in an inner city. His school is in an impoverished neighborhood, where gang violence and drug use are a part of his everyday life. He lives with his mother Chanel (32 years old) and his younger sister Alana (2 years old). His mother leaves the house at 5:00 a.m. to take his sister to daycare and to get to her job at the local Wal-Mart by 8:00 a.m. When Jamal gets up, he's normally home alone. For the last month or so, he's been waking up late, which means he gets to school by about second period.</p>
         <p>
         Jamal doesn't mind school, but most of the friends that he grew up with have dropped out and are on the block hustling, selling drugs, smoking weed, and fighting. They give Jamal a lot of grief about being in school, telling him, &#8220;That school stuff ain't going to amount to nothing.&#8221; Jamal is usually a &#8220;C&#8221; student, but lately his work ethic has slacked off and his grades are starting to slip. The one thing he really enjoys and is good at is basketball. He has dreams of going pro and making lots of money so he can get his family out of the projects. But with his mom needing money to help pay the bills, he feels pressured to make money right now and McDonald's money won't cut it.
         </p>
         <p>
         His math teacher, Ms. Jenkins, sees potential in Jamal and has told him that she believes he can attend college. She has been helping him after school so he can pull up his math grade and is helping him apply for the honors math class next year.
         </p>
         <p>
         The problem is Jamal will have to take a summer course to help prepare him for the honors class, and he feels that he should be working this summer to help his mom. Jamal's mom actually expects him to get a job this summer, but Jamal hasn't figured out where, how or who will hire him. If he goes to the summer class, it will take him to the other side of town to a predominantly white neighborhood and he knows his friends are to going to ride him because of that.
         </p>
         <p>
         Jamal doesn't want his friends calling him a sell out and he hates to get talked about. Still, the idea of going away to college and living his own life makes him happy. How can he do what he wants to do without disappointing everybody else?
         </p>
         <br>
         </div>
    </div>
    <div class="carousel-item">
         <div class="w-80 p-3  align-self-center">
            <p class="lead">Ivan</p>
            <p>Ivan is a high school junior and an aspiring writer and artist. He and his family moved to the United States from Mexico 5 years ago, but he still struggles with the culture difference. He has just recently become more comfortable speaking English with his friends but finds it difficult to keep up, as Spanish is the only language spoken in his home.</p>
            <p> He spends most of his time alone, reading and writing, and does not focus much on his homework. He works a part-time job at a local restaurant to help his parents support his five siblings. He dreams of becoming a famous author and is currently working on his first novel. He would love to go to college and study literature but doesn't think he will be able to continue his education after high school.</p>
            <p> Ivan does not believe that his family values education much, especially not college. He also feels that his poor English language skills would hold him back and knows that financial aid is not an option as he is undocumented. Instead, he is thinking of getting a full-time job after graduation so he can continue to help his family out financially.</p>
            <br>
        </div>
    </div>
    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Danny</p>
            <p>
                Danny is a 17-year-old college freshman. He lives in a dorm with three other freshmen. Danny grew up in a small town and going away to college in the city was just one of the many adjustments Danny faced when he left home.
            </p>
            <p>
               Danny has always been a pretty good student and his grades are important to him. Danny also grew up playing sports and was on his high school's soccer team. Now Danny plays on an intramural team at his college. When he's not kicking the ball around, Danny enjoys watching sports on TV with his roommates. Lately Danny has been spending a lot of time with the guys drinking beer and watching football. Danny knows that he has to decide what he will major in by the end of the semester but he still isn't sure what he wants to do.
            </p>
            <p>
               Growing up, Danny always said he wanted to be a doctor but pre-med studies is a really hard course load, and Danny's not sure anymore if he really wants to go to medical school. Danny's friends talk about how successful they want to be and how much money they want to earn but they don't really talk about struggling with decisions like these and Danny often feels like he is alone in making some of these big decisions. He feels a lot of pressure to find something that is not only fulfilling but that will make him a lot of money and will make his parents proud.
            </p>
            <p>
               Danny is excited and feels hopeful about the future. After four years of college Danny hopes to graduate and get a good job. Five years from now Danny hopes he will be able to buy a house, live near his friends and even hopes to get married one day. He believes that completing his college education will help him to be successful in life and will lead him to a job that he is proud of.
            </p>
            <p>
               Sometimes, though, when Danny starts to think about all the things he wants to do in his life he gets overwhelmed. College has been a lot harder than Danny thought it would be. His classes require a lot of work and Danny is still adjusting to living on his own. One thing Danny does really enjoy is hanging out with his friends. When he hangs out with his friends Danny is able to enjoy himself and take his mind off of some of the overwhelming questions he has about his life and the decisions he knows he has to make. They like to watch sports, play soccer and go to parties on the weekends.
            </p>
            <p>
               But sometimes it's hard for Danny to balance his schoolwork and his social life. Hanging out with his friends and going to parties every weekend is starting to take a toll on Danny's grades and could hurt his chances for the future.
            </p>
        <br>
    </div>
</div>
<div class="carousel-item">
    <div class="w-80 p-3  align-self-center">
        <p class="lead">Elena</p>
        <p>
        Elena is a 17-year-old high school senior. Though she struggles with certain subjects, she'll admit that actually really loves school, especially science and art. She dreams of continuing her education, going to college and achieving her ultimate goal of becoming a nurse. Elena knows, however, that other things in her life may hold her back. Elena has been with her boyfriend, Jose, for over three years. She and Jose fight a lot, and she also feels he doesn't support her dream of becoming a nurse.
       </p>
       <p>
       Jose is a Latin King. She sees that he is getting deeper into the gang lifestyle, especially because he recently dropped out of school. They're fighting all the time, and she feels deep down that she should end her relationship, but she can't. First, she feels scared of being alone. She and Jose have been together for so long and they even talk about having babies together. How can she leave him and be alone? Second, she is scared of what might happen to her if she breaks up with Jose. Will other guys in the gang retaliate against her?
   </p>
   <p>
       Elena also has family struggles. Her mother and father, who moved to Chicago from Puerto Rico a year before she was born, are having problems of their own. More than anyone else, Elena is worried about her younger sister and how all of this will affect her.
   </p>
   <p>
       Because she's constantly worrying about her personal struggles, Elena finds it very difficult to focus on school. When she gets really upset, she finds herself drinking with friends to forget about things for a while. She feels embarrassed about how often this happens.
   </p>
    <br>
</div>
</div>
</div>
</div>
</div>

<br>

<h1 class="display-4">You Should Know</h1>

<p>
    If you’re questioning whether life is worth living, or thinking about
    hurting yourself or worse, get help now! You can talk to an adult you
    trust, talk to your doctor, talk to someone at a hospital, or talk to
    someone anonymous at 800-273-TALK (8255) right away! They’re available 24
    hours a day, just to help YOU! Don’t go on struggling alone!
</p>

{% endblock %}
