{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Is changing my behavior difficult?</strong>
</p>
<p>
    <img
        width="135"
        height="205"
        src="blob:https://word2cleanhtml.com/e1f3400a-f87b-4011-bfe5-0cfe41152e4e"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM1P13.jpg"
    />
    Anyone who has tried to drop an unwanted habit can tell you it takes time
    and motivation. It's like going to the gym to get in shape or trying to
    stop biting your nails. Going through some of the exercises might bring up
    sad or anxious feelings, but we stick with you and help you get through
    those moments. The more you work at it, the more you can manage your mood
    to feel better.
</p>
<p>
    You can always click on the “I am feeling…” tab on the right to get some
    advice.
</p>

{% endblock %}
