{% extends "base.html" %}

{% block app_content %}
<h4>
What is the main goal of Project CURB?
</h4>
<img
    class="rounded mx-auto d-block"
    src="/static/images/module1/image002.jpg"
/>
<p>

    The main goal of Project CURB is to help you meet your goals-whatever they
    may be. CURB stands for Chicago Urban Resiliency Training. It's a Chicago
    program designed by doctors, psychologists, social workers, and kids in
    Chicago to help kids in Chicago grow strong. That means reaching your goals
    and not getting dragged down with the blues. To help you meet your goals,
    Project CURB wants to teach you how taking part in regular, enjoyable,
    worthwhile activities, thinking positively, and building strong friendships
    can help protect you from depression as you make the transition into
    adulthood.
</p>
<h5>
    No one else has to know that you're participating in Project CURB.
</h5>
<p>
    This website is for your personal use and learning. We encourage you to
    reach out to the helpful adults in your life if you need someone to talk
    to! If at any time you find your self-having thoughts about hurting
    yourself or someone else, make sure you talk to an adult and get help right
    away! Those thoughts can be scary, but there are people ready to help! You
    can even call a 24 hour hotline at 800-273-TALK (8255) at any time if you
    need help!
</p>

{% endblock %}
