{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How can I build resiliency?</strong>
</p>
<p>
    Project CURB outlines three basic ways to build resilience: Behavioral
    Activation (BA), Cognitive Behavioral Therapy (CBT), and Interpersonal
    Therapy (IPT).
</p>
<ul>
    <li>
        BA teaches you the “outside-in” approach to life. You're not just
        what's in your head: you change and are changed by your family,
        community, and the whole world around you.
    </li>
    <li>
        CBT does the opposite: it shows you how to better understand your
        thoughts and change them to improve your mood.
    </li>
    <li>
        IPT focuses on your relationships with other people-how to talk to
        people more effectively and resolve conflicts more easily.
    </li>
</ul>
<p>
    While these three methods seem different at first, they can all help you
    solve problems, deal with life's challenges, and build resilience.
</p>

{% endblock %}
