{% extends "base.html" %}

{% block app_content %}

<h4>Welcome to Project CURB!</h4>
<img
    class="rounded mx-auto d-block"
    src="/static/images/module1/image001.jpg"
/>
<p>
    Project CURB is a community and Internet-based program designed to teach
    teens how to deal with life's ups and downs without becoming seriously
    (clinically) depressed. This website program was designed by medical
    doctors, psychiatrists, psychologists, and young adults using the best
    methods available today. Project CURB doesn't use a lot of face-to-face
    counseling or taking medications. Instead, you teach yourself how to beat
    the blues!
</p>



{% endblock %}
