{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>
        Depression can put your goals at risk and make you miss out on the good
        stuff in life
    </strong>
</p>
<p>
    Common depressive symptoms include:
</p>
<ul>
    <li>
        Generally low mood
    </li>
    <li>
        Not as much enjoyment from the things you used to enjoy
    </li>
    <li>
        Feeling overly tired
    </li>
    <li>
        Problems eating or sleeping
    </li>
    <li>
        Thinking more slowly than normal or becoming more forgetful
    </li>
    <li>
        Thinking unrealistically and negatively
    </li>
    <li>
        Feeling irritable
    </li>
    <li>
        Problems getting the things you need and want done
    </li>
    <li>
        Loss of appetite
    </li>
    <li>
        Loss of interest in having friends
    </li>
</ul>
<p>
    These symptoms can be painful and may lead to something called clinical
    depression. Having clinical depression when you're young can increase your
    risk of getting depression again when you're older. You might find it
    harder to do well in school or at your job, you may have difficulties
    finding and keeping friends and maintaining other relationships. Depression
    may cause you to have problems with alcohol or drug abuse. Most
    importantly, depression can make it hard to become the sort of person you
    want to be.
</p>
<p>
    You can improve your mood and learn healthier ways to manage your feelings
    by following through with Project CURB.
</p>

{% endblock %}
