{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Welcome to Project CURB!</strong>
</p>
<p>
    CURB has tabs and buttons at different places on the website which will
    take you to particular parts of the program:
</p>
<p>
    <strong>Frequently Asked Questions</strong>
    <br/>
    Is available on the top bar.
</p>

<p>
    <strong>“Roadblocks”</strong>
    <br/>
        Helps you solve problems such as helpfulness, family and friends,
        scheduling, and hard to do, that get in the way of completing CURB;
        available in Module 1 and by clicking on the TAB
</p>

{% endblock %}
