{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>A simple way to set your goals</strong>
</p>
<ul>
    <li>
        List the things you do well and the things you like to do. Be honest
        with yourself.
    </li>
    <li>
        Do a “reality test.” Set your sights high: you can dream, but be
        realistic. If you can't throw a ball, it's probably not realistic to
        set a goal of being a professional baseball player. However, if you're
        a good cook and you enjoy it, you could list being a professional chef.
    </li>
    <li>
        List goals for the <strong>next year</strong> in each of these four
        areas: 1) school, 2) sports/activities, 3) family, and 4) social life.
        Examples might include making new friends, improving your grades,
        getting something you really want, or finding a boyfriend or
        girlfriend.
    </li>
    <li>
        Set goals for <strong>five years</strong> from now: 1) what kind of
        person you will be then, such as living on your own with a job, or
        living with your family while finishing school or a job training
        program, and 2) what kind of job and money you would like or need to
        have to support these goals. Try to imagine positive things about the
        life you want to have in five years: lots of friends, good credit,
        trophies for your many achievements, and so on.
    </li>
</ul>

{% endblock %}
