{% extends "base.html" %}

{% block app_content %}
    <h4>Your choice</h4>

<div class="row featurette">
      <div class="col-md-8">
         
          What you learn from Project CURB will depend on how much work you put into
          it. By putting this information on the Web and letting you complete the
          modules at your own pace, Project CURB puts the power in your hands. You
          can improve your mental health and take the initiative to prepare yourself
          for the changes ahead.

      </div>
      <div class="col-md-3">
          <img
              class="rounded mx-auto d-block"
              src="/static/images/module1/image005.jpg"
          />
      </div>
    </div>
{% endblock %}
