{% extends "base.html" %}

{% block app_content %}
<h4>Welcome to Project CURB!</h4>
<p>
    CURB has tabs and buttons at different places on the website which will
    take you to particular parts of the program:
</p>
    <h5>Frequently Asked Questions</h5>
    <p>
    Is available on the top bar.
</p>

<h5>Roadblocks</h5>
<p>
        Helps you solve problems such as helpfulness, family and friends,
        scheduling, and hard to do, that get in the way of completing CURB;
        available in Module 1 and by clicking on the top menu.
</p>

{% endblock %}
