{% extends "base.html" %}

{% block app_content %}
<h4>How can I build resiliency?</h4>
<p>
    Project CURB outlines three basic ways to build resilience: Behavioral
    Activation (BA), Cognitive Behavioral Therapy (CBT), and Interpersonal
    Therapy (IPT).
</p>


<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Behavioral Activation</h5>
      <p class="card-text">BA teaches you the “outside-in” approach to life. You're not just
      what's in your head: you change and are changed by your family,
      community, and the whole world around you.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cognitive Behavioral Therapy</h5>
      <p class="card-text">CBT does the opposite: it shows you how to better understand your
          thoughts and change them to improve your mood.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Interpersonal Therapy</h5>
      <p class="card-text">IPT focuses on your relationships with other people-how to talk to
      people more effectively and resolve conflicts more easily.
  </p>
    </div>
  </div>
</div>
<br>
<p>
    While these three methods seem different at first, they can all help you
    solve problems, deal with life's challenges, and build resilience.
</p>

{% endblock %}
