{% extends "base.html" %}

{% block app_content %}

<div class="text-center">
    <img
        class="img-fluid rounded"

        src="/static/images/module1/M1-1.png"
    />
</div>
<br>
<h4>In this module you will learn:</h4>

<ul>
    <li>
        Project CURB basics
    </li>
    <li>
        What resiliency is and why it's important
    </li>
    <li>
        Feelings
    </li>
    <li>
        How CURB will help you gain control of your thoughts and actions
    </li>
    <li>
        How working with CURB can help you in every aspect of your life
    </li>
    <li>
        How to set life goals
    </li>
    <li>
        How depression can get in the way of your goals
    </li>
    <li>
        What you need to do to successfully complete Project CURB
    </li>
    <li>
        Barriers
    </li>
    <li>
        How to relax
    </li>
</ul>
<div>
    <p>
        We think this module will take 15 to 20 minutes.
    </p>
</div>
<p>

{% endblock %}
