{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Wrap-up</strong>
</p>
<p>
    Project CURB is a website program you can use to learn ways of lowering
    your risk of depression and help you reach your goals or do the things that
    are important to you. Depression can make it harder for you to reach your
    goals by affecting the ways you think, feel, and act, as well as the ways
    that you deal with school, with your friends, and your parents. Through
    Project CURB you can learn resiliency: the ability to cope well with change
    and adversity to reach your goals.
</p>
<p>
    In order to complete Project CURB, you need to read the modules and do the
    skill builders for each module. Welcome to the program, and good luck!
</p>

{% endblock %}
