{% extends "base.html" %}

{% block app_content %}
    <h4>A simple way to set your goals</h4>
<ul class="list-group">
    <li class="list-group-item">
        List the things you do well and the things you like to do. Be honest
        with yourself.
    </li>
    <li class="list-group-item">
        Do a “reality test.” Set your sights high: you can dream, but be
        realistic. If you can't throw a ball, it's probably not realistic to
        set a goal of being a professional baseball player. However, if you're
        a good cook and you enjoy it, you could list being a professional chef.
    </li>
    <li class="list-group-item">
        List goals for the <strong>next year</strong> in each of these four
        areas:
        <ol>
            <li>School</li>
            <li>Sports/activities</li>
            <li>Family</li>
            <li>Social life</li>
        </ol>
        Examples might include making new friends, improving your grades,
        getting something you really want, or finding a boyfriend or
        girlfriend.
    </li>
    <li class="list-group-item">
        Set goals for <strong>five years</strong> from now:<br>
        <ol>
            <li>
        What kind of
        person you will be then, such as living on your own with a job, or
        living with your family while finishing school or a job training
        program
        </li>
        <li>
        What kind of job and money you would like or need to
        have to support these goals.
        </li>
        </ol>
        Try to imagine positive things about the
        life you want to have in five years: lots of friends, good credit,
        trophies for your many achievements, and so on.
    </li>
</ul>
<br>
{% endblock %}
