{% extends "base.html" %}

{% block app_content %}
    <h4>A Few Questions about CURB</h4>

<img
class="rounded mx-auto d-block"
src="/static/images/module1/image003.jpg"
/>
</br>
<p>
    As you begin working on the program, questions may come up about the topics
    you'll focus on. Here are a few of the kinds of questions you may have
    along with some brief answers. You can find more of this information by
    clicking the <strong>Frequently Asked Questions</strong> tab at the bottom
    of every page.
</p>

{% endblock %}
