{% extends "base.html" %}

{% block app_content %}
    <h4>What makes a person at risk for depression?</h4>
<p>
    Depressed feelings can, in some cases, spiral downward into something
called “clinical depression”.    <strong>Our goal is to teach you how to reverse that spiral.</strong>
    <br/>
    <br/>
    There are some risk factors that you can change and some that you can't.
    Don't worry if you have a risk factor that you can't change-focus on the
    factors you can change. Here some factors you can change:
</p>
<ul>
    <li>
        Lack of involvement with community-that is, doing things that help you
        and others
    </li>
    <li>
        Not having enough fun activities with family and friends
    </li>
    <li>
        Too much negative thinking-making the worst of every situation
    </li>
    <li>
        Always blaming yourself for things you cannot control
    </li>
    <li>
        Problems communicating with friends and family
    </li>
    <li>
        Not having enough support from friends and family
    </li>
</ul>
<p>
    <strong>
        This program can teach you how to change the risk factors that you can
        control.
    </strong>
    You may feel that only one of these risk factors applies to you. That's
    okay-focus on the one factor you think makes most sense and may be easiest
    to change.
</p>

{% endblock %}
