{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Project CURB Basics</strong>
</p>
<p>
    <strong>What is Project CURB really about?</strong>
</p>
<p>
    <img
        width="105"
        height="105"
        src="blob:https://word2cleanhtml.com/183d23be-0ee0-4547-97e0-6ce52df3181a"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM1P9.jpg"
    />
    Project CURB isn't just about depression. It's about taking control of your
    life and getting to a place where you can be who you want to be and do what
    you want to do. As you'll see, your mood is deeply connected to the sorts
    of challenges you meet, the way you handle relationships, the problems you
    solve, and the skills you learn as a part of growing up and achieving your
    goals.
</p>
<p>
    The key is personal motivation! In this module, you can learn how to build
    your personal motivation.
</p>

{% endblock %}
