{% extends "base.html" %}

{% block app_content %}
    <h4>Has this program worked for other people my age?</h4>
    <br>
    <div class="text-center">
    <img
 class="img-fluid rounded"
 src="/static/images/module1/image008.jpg"</img>
 </div>
 <br/>
    <p>
    In our previous studies, people who finished the study reported that they
    learned new skills and behaviors that helped them improve their moods and
    lives. Below are some comments from people who finished the program.
</p>
    <h4>Comments from people in an earlier study:</h4>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
    “Really good at explaining why change affects people so they feel sad.”
    </li>
    <li class="list-group-item">
    “I liked the emphasis on personal responsibility and continually changing
    oneself.”
    </li>
    <li class="list-group-item">
    “Good ideas to bring it all together; I like the concept of resiliency.”
</li>
<li class="list-group-item">
    “The emphasis on healthy communication in situations of anger is very
    good.”
</li>
<li class="list-group-item">
    “I liked the relationship issue information-really resonated with me.”
</li>
<li class="list-group-item">
    “It was clear and made me really consider how negative thoughts have
    impacted my life.”
</li>
<li class="list-group-item">
    “I liked the part on the negative self-criticism as a bar to future
    growth-it struck a chord with me.”
</li>
</ul>
<br>
{% endblock %}
