{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Doing goals:</strong>
</p>
<p>
    <img
        border="0"
        width="204"
        height="136"
        src="blob:https://word2cleanhtml.com/c70f95f1-c5ef-4b6f-8f9e-dd994034b7a8"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM1P26.jpg"
    />
</p>
<ul>
    <li>
        Write down something you would like to do in the next week and keep the
        note in your wallet or purse until you actually do it.
    </li>
    <li>
        Write down a goal you would like to achieve in the next six months and
        keep in your wallet or purse. Take one small step toward the goal this
        week.
    </li>
    <li>
        Notice how you feel when you do things you want to do.
    </li>
    <li>
        Talk to your friends and family about your goals.
    </li>
    <li>
        Do the relaxation exercise once a week.
    </li>
</ul>

{% endblock %}
