{% extends "base.html" %}

{% block app_content %}
    <h4>
        If my friends or family are depressed, will I be depressed, too?
    </h4>
<p>
    Having risk factors for depression, such as a family member who is
    depressed, does not mean you will definitely be depressed, too. Changing
    the way you behave can reduce the risk of depression.
    <strong>
        You have a lot of power over your life. You can work to prevent
        depression and to reach your goals no matter what situation you're in.
    </strong>
</p>

{% endblock %}
