{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Your choice</strong>
</p>
<p>
    <img
        width="192"
        height="144"
        src="blob:https://word2cleanhtml.com/7b49657d-3954-4f30-a779-c5c58ed4eab5"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM1P21.jpg"
    />
</p>
<p>
    What you learn from Project CURB will depend on how much work you put into
    it. By putting this information on the Web and letting you complete the
    modules at your own pace, Project CURB puts the power in your hands. You
    can improve your mental health and take the initiative to prepare yourself
    for the changes ahead.
</p>

{% endblock %}
