{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How to relax</strong>
</p>
<p>
    <strong>Finding a Calm, Peaceful Place</strong>
</p>
<p>
    <img
        border="0"
        width="85"
        height="128"
        src="blob:https://word2cleanhtml.com/00167f06-4ff0-43e7-b47f-e8422cd086f7"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM1P23.jpg"
    />
</p>
<ul>
    <li>
        Find a quiet place to sit comfortably or to lay down to relax
        comfortably
    </li>
    <li>
        Breathe slow and deep in through your nose and out slowly through your
        mouth
    </li>
    <li>
        Place one hand on your belly and one on your chest to breathe deeply
    </li>
    <li>
        Imagine a happy, peaceful place that makes you smile
    </li>
    <li>
        Let all your worries and thoughts float away on clouds or move down a
        river just flowing away
    </li>
    <li>
        Tighten up and tense your body for 10 seconds then release
        …10…9…8…7…6…5…4…3…2…1…now release
    </li>
    <li>
        Breathe deeply while saying RELAX as you slowly release your breath
    </li>
    <li>
        Do this a few more times to let go of your tensions and worries
    </li>
    <li>
        Feel relaxed, enjoy being in your happy, peaceful, and safe place
    </li>
</ul>
<p>
    <strong>Skill Builder</strong>
</p>
<p>
    This is your first “skill builder” exercise. You can always print the skill
    builders out. Place them in your notebook to begin to build your personal
    depression prevention plan. At the end of this section we'll ask you if you
    are ready to start this program or if you want to think about it some more.
</p>
<p>
    Your first Skill Builder is to practice relaxing like you just learned-try
    it twice.
</p>

{% endblock %}
