{% extends "base.html" %}

{% block app_content %}
    <h4>Resiliency</h4>

<div class="row featurette">
      <div class="col-md-8">
        <p>Project CURB aims to help you build resiliency so you can deal with the
        rough parts of growing up. Resiliency is a way of acting and communicating
        that protects you against depression and allows you to grow into a mature
        adult. You can build self-reliance and self-esteem through trust, optimism,
        and learning to react flexibly to challenging events.</p>
        <p>Resiliency isn't just mental: you can see examples of resiliency in grass
        growing in a broken sidewalk or the way your body fights off colds.
        Resiliency covers everything from how you think about yourself and how you
        express your feelings to the sorts of people you hang out with and the
        sorts of ways you get involved in your community.
        </p>
            <p>
                Resiliency affects your whole self-your whole body and mind-just like
                depression does. Throughout the next thirteen modules, Project CURB can
                show you how to build your resiliency and lower your risk of depression.
            </p>

      </div>
      <div class="col-md-3">
          <img
              class="rounded mx-auto d-block"
              src="/static/images/module1/image007.jpg"
          />
      </div>
    </div>



{% endblock %}
