{% extends "base.html" %}

{% block app_content %}
<h4>How can my behavior change the way my brain works?</h4>

</br>

<div class="row featurette">
    <div class="col-md-3">
        <img
        class="rounded mx-auto d-block"
        src="/static/images/module1/image004.jpg"
        />
    </div>
      <div class="col-md-9">
          <p>Many of you may have thought that only medication can change the way your
              brain works. However, the beauty of the brain is that it's always
              learning-especially when you are young. When you change your behavior, you
              can actually change the way your brain works.
              <strong>
                  By changing the behaviors you want to change, you can change yourself.
              </strong>
          </p>

      </div>
    </div>
{% endblock %}
