{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>A Few Questions about CURB</strong>
</p>
<p>
    <img
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/96067846-5864-4103-8746-f7252e814001"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM1P10.jpg"
    />
    As you begin working on the program, questions may come up about the topics
    you'll focus on. Here are a few of the kinds of questions you may have
    along with some brief answers. You can find more of this information by
    clicking the <strong>Frequently Asked Questions</strong> tab at the bottom
    of every page.
</p>

{% endblock %}
