{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>
        But doesn't “therapy” involve talking about my childhood and other
        stuff in my past?
    </strong>
</p>
<p>
    We've all seen a lot of stereotypes on TV and the movies about what
    “therapy” is. While your past helps shape who you are, you can change your
    mood or thoughts by focusing on what's happening in the present. Your past
    is important, of course, but so is your future. You don't have to let
    what's happened in the past keep you from deciding to improve your mood and
    your habits right now.
</p>

{% endblock %}
