{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What are my goals?</strong>
</p>
<p>
    <img
        width="85"
        height="128"
        src="blob:https://word2cleanhtml.com/2326f143-4edd-4e1a-b85c-33ee29c52457"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM1P16.jpg"
    />
    Some of the things we hope to help you with include:
</p>
<ul>
    <li>
        Improving your mood
    </li>
    <li>
        Enjoying something that is a part of your routine each day
    </li>
    <li>
        Getting more involved with appropriate places in your community and
        people around you
    </li>
    <li>
        Identifying and stopping negative thoughts
    </li>
    <li>
        Understanding and building your social support
    </li>
    <li>
        Solving relationship problems
    </li>
    <li>
        Not blaming yourself for things you can't control
    </li>
</ul>
<p>
    All of this aims to build your “resilience”-your ability to survive and
    thrive with the usual setbacks that every teen faces while growing up.
</p>
<p>
    Stop for a moment and think about your goals. What do you want? What do you
    see yourself doing next week? Next month? Next year? 10 years from now? You
    might be unsure about what you want or how to get it.
    <strong>
        The most important goals you can set right now are about the sort of
        person that you want to become.
    </strong>
    Once you've thought about it and feel ready, write them down somewhere
    you can come back to. Eventually, you can even make a “vision board” using
    pictures or items that represent some of your goals!
</p>

{% endblock %}
