{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How can this be a problem?</strong>
</p>
<p>
    Most often life changes are not a problem, but at times we stumble making
    the switch. Think of being asked to join an athletic team or your choral
    group being chosen to perform a special concert, and you want or need to
    spend most of your free time in practicing. What happens to your old
    friends then? You may feel torn between your new activity and your friends.
    Conflicts may emerge that threaten old friendships. If a special
    relationship ends-even by your choice-you may find a hole in your life. So
    even though these changes will make you happy someday, they will also be a
    little hard at times.
    <br/>
    <br/>
    Leaving home is one of the most important changes you will make in your
    life. Many people only realize at this point how much support they had from
    their families when they lived at home. Even if your family was not that
    close, you will notice its absence. It's up to you to build a new family
    for yourself. In fact, you may end up rebuilding these groups of friends
    several times over the course of your life.
</p>

{% endblock %}
