{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Skill Builder</strong>
</p>
<p>
    This skill builder focuses on activities you can do yourself in your
    notebook or on paper. The activities focus on your personal goals and
    plans.
</p>
<p>
    1. Review your life goals. What kinds of transitions will you have to make
    to achieve those goals? Take a minute to list these transitions on a sheet
    of paper and list the life goals that you will be working toward for those
    transitions.
</p>
<p>
    2. Take some time to develop a personal plan to deal effectively with an
    upcoming life change or one you are currently going through. List the
    change at the top of your plan. Outline the pros and cons of the life
    change you chose. At the bottom of the plan, list the things you can do to
    improve the situation.
</p>
<p>
    3. Finally, write up your own contract for you to commit to while using the
    relationship building skills you have gotten from CURB. Commit to rewarding
    yourself when you reach goals, both small and large!
</p>

{% endblock %}
