{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Step Seven: Taking a fresh look at the new situation</strong>
</p>
<p>
    <img
        border="0"
        width="128"
        height="85"
        src="blob:https://word2cleanhtml.com/a782dc5d-ba0c-4457-98af-6270fe4132ac"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM12P16.jpg"
    />
</p>
<p>
    If you start feeling down or very anxious, you have probably gotten
    preoccupied with what seems negative about the new situation. Make a list
    of the pros and cons of the new situation. If you remind yourself of the
    good, dealing with the hard parts will be worth it.
</p>

{% endblock %}
