{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What kind of changes should young people anticipate?</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/758974a5-4819-42ca-9c7e-9fbb9597beca"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM12P5.jpg"
    />
</p>
<ul>
    <li>
        The late teenage years and early young adult years usually have many
        changes in relationships.
    </li>
    <li>
        Some changes are related to growing up, such as leaving high school or
        moving out of the neighborhood. These are major changes because they
        usually involve both new jobs and new living situations.
    </li>
    <li>
        Less noticeable changes can happen in the people you spend time with
        and the people you rely on in your social network. Serious romantic
        relationships may begin and end several times; you may have to leave
        someone behind when you go off to college or to a new job, or you may
        decide to get married.
    </li>
    <li>
        Because we spend so much time with our significant others, these
        changes impact your whole life.
    </li>
    <li>
        Some changes in our lives are related to our sexuality.
    </li>
</ul>

{% endblock %}
