{% extends "base.html" %}

{% block app_content %}
<p>
    <h4>Welcome back!</h4>
        <div class="text-center">
            <img
            class="img-fluid rounded"
            src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
        </div>
<p>
    As we discussed back in the first module, the years between being a
    teenager and adulthood bring many changes. Change is a necessary part of
    life at all ages. You may or may not like the life you have now, but you
    probably won't have the same life you do now 10 or 20 years from now. Even
    the changes you are looking forward to, like finishing high school and
    going to college, starting work, or joining the military are not easy.
    <br/>
    <br/>
    Each time your life situation changes, you will be altering many, if not
    most, of your day-to-day relationships. A change doesn't have to be as big
    as moving to a new town: a change in the time you spend with friends will
    also alter your social network. Even relationships you keep, like those
    with your family members and your truly close friends, will not always stay
    the same. You may no longer see these people on a day-to-day basis, and you
    probably will make new friends.
</p>

{% endblock %}
