{% extends "base.html" %}

{% block app_content %}
<h4>Step Four: Evaluating your new situation</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    When faced with a new and potentially difficult situation it's tempting to
    just give up. A big part of living successfully is being able to turn
    difficult new situations in your favor rather than doing nothing. Usually,
    doing nothing will make you feel even worse. Imagine that you've climbed
    halfway up a mountain and considered turning around because it was much
    harder than expected. If you give up now, you will still have spent your
    day on the mountain but you'll never get to see the top.
    <br/>
    <br/>
    The purpose of Step Four is to help you take stock. In other words; to
    compare the positive and negative parts of the old and new roles. Review
    your lists of pros and cons from Step Three and ask yourself honestly if
    your new change is better (or at least, could become better) than your old
    role. Talk to people you trust, and remember that the initial uncomfortable
    feelings that come with change do go away as we adjust to our new roles.
    You may realize that you've made a mistake by changing and you decide to
    return to your old situation. You can use these steps to make sure that
    this life change is the right move for you.
</p>

{% endblock %}
