{% extends "base.html" %}

{% block app_content %}
<h4>Step Five: Evaluating what skills you need</h4>
<p>
    One helpful way of dealing with a new role is to look at the skills your
    old and new roles require and what you can do to make sure you have the
    skills you need to do well in the new role. For example, if you changed
    jobs from being a cowboy or cowgirl to being an astronaut, you'd no longer
    need to know how to rustle cattle and throw lassoes, but you'd better learn
    pretty quickly how to pilot a spaceship.
</p>
<p>
    On a more “ordinary” level, suppose you went from being a freshman and
    spending most of your time with your friends to being one of the best relay
    runners your school's track team has had in 10 years. You'd need to learn
    to manage your time between your studies and your friends and your track
    team, and you'd need to learn how to balance what your teachers require
    from you, what your friends want and need, what your team performance
    requires and needs, and your own goals for yourself.
</p>
<p>
    Think about the new roles you might have taken on recently, and what sort
    of skills each new role requires. Examples might include managing your time
    better, compromising well with other people, listening more to other
    people, being able to plan fun things to do, or working harder than you're
    used to. You can also think about what additional skills you might need to
    make the transition happen-that is, not just how to do well in your old
    role or your new role, but the skills to make sure you make the transition
    between those roles without causing big problems for yourself. To help you
    with this process, you can make your own
    chart line the one below:

</p>
<table border="0" cellspacing="0" cellpadding="0" width="750">
    <thead>
        <tr>
            <td width="250">
                <p align="center">
                    <strong>Situation</strong>
                    <strong></strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Pros</strong>
                </p>
            </td>
            <td width="250">
                <p align="center">
                    <strong>Cons</strong>
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p align="center">
                    <em>
                        The relay team is made up of 2 upper classmen &amp; a
                        sophomore
                    </em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>
                        These guys know the teachers and classes I will have to
                        take, they can help me with my school work
                    </em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>
                        I'm just a freshman, I like being with other new kids
                        &amp; learning together
                    </em>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">
                    <em>
                        Track practice is after school 3 days each week and
                        meets are every weekend
                    </em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>
                        I have something to do after school and I'm meeting
                        lots of people
                    </em>
                </p>
            </td>
            <td>
                <p align="center">
                    <em>
                        I don't have enough time to do my homework, my chores,
                        and talk with my freshmen classmates.
                    </em>
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <p align="center">
                    <em>
                        I can introduce my upper classmen friends to my
                        freshmen friends and
                    </em>
                    <em>
                        <br/>
                        we will all get along better.
                    </em>
                </p>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
