{% extends "base.html" %}

{% block app_content %}
<h4>Step Three: Make a list of pros and cons</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    List the good and bad things about your old and new life to maintain a
    balanced viewpoint. For example, if you defined your old role (like in the
    example above) as being too quiet with too few friends, you can remember
    that the old role was safe but lonely, while a new role of being more
    social seems scarier but allows more chances to build friendships.
</p>

{% endblock %}
