{% extends "base.html" %}

{% block app_content %}
<h4>Step Six: Finding social support for your new role</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    The next step is to think about people who can support you in your new
    role. Some people on your list may include:
</p>
<ul>
    <li>
        People with whom you can spend time and have fun, such as friends or
        family members
    </li>
    <li>
        People who share your interests and hobbies, such as teammates or other
        people in a club or activity
    </li>
    <li>
        People who care about you-anyone you're close to
    </li>
    <li>
        People to whom you can turn when you need help, such as a parent,
        trusted teacher or mentor, or a close friend
    </li>
    <li>
        People with experience in the situation
    </li>
</ul>
<p>
    It may seem sometimes like there is nobody you can turn to in your new
    role, but things may be different if you examine them closely:
</p>
<ul>
    <li>
        First, think about who provided this sort of support to you in your old
        role (for example, your friends, your parents, your co-workers), and
        then try to identify somebody similar in your new role.
    </li>
    <li>
        Brainstorm anybody with whom you could spend some time and just have
        fun.
    </li>
    <li>
        Once you've figured out who these people are, don't be afraid to seek
        them out. Everybody needs somebody to turn to, because changes happen
        to everyone.
    </li>
    <li>
        If you still don’t feel like you have anyone who can support you, try
        talking with another trusted adult (like a doctor, counselor, or
        religious leader) and they might be able to help!
    </li>
</ul>

{% endblock %}
