{% extends "base.html" %}

{% block app_content %}
<h4>Step Two: Be honest about your old role</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    What was it that you liked most about your old role and the way your life
    was before the change? This is probably the same thing you miss the most.
    It's natural when thinking about change to feel sad about giving some of
    these things up.
    <br/>
    <br/>
    It’s also important to take a hard look at what you did not like about your
    old role and your life before the changes you've experienced. As time
    passes, we often forget the difficult things about our old situations and
    remember the past as better than it really was. It's important to remain
    realistic about the past as well as the future. Take advantage of the
    change: If there's something you didn't like about the old role, a new role
    can be the chance to redefine yourself.
    <br/>
    <br/>
    For example, if you want to improve your social life, you might want to
    define your “old self” as “too quiet and holding back.” Then you could
    define your new role-what you want to be-as “social and outgoing.”
</p>

{% endblock %}
