{% extends "base.html" %}

{% block app_content %}
<h4>
    What do I do if I'm having a hard time adjusting to a life change?
</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    We're going to give you a step-by-step process to help you make the best of
    new situations. These steps can help you smooth the transition by doing
    them in advance or during the process of change.
</p>

{% endblock %}
