{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="254"
        src="blob:https://word2cleanhtml.com/fe261af5-af26-4e5c-909e-d3aefb362d06"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM12P1.jpg"
    />
</p>
<p>
    <strong>Module Twelve</strong>
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How to adapt to new life situations
    </li>
    <li>
        How to build new friendships and expand your social network
    </li>
</ul>
<p>
    We think this module should take you about 20 minutes.
</p>

{% endblock %}
