{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Doing goals:</strong>
</p>
<ul>
    <li>
        Think about any transitions that you may have had recently.
        <br/>
    </li>
    <li>
        On a sheet of paper, or in your notebook, write down 5 good things
        about your current situation.
        <br/>
    </li>
    <li>
        Try one new thing every other day to meet new friends or strengthen a
        family tie or friendship. This could mean calling someone new or doing
        something new with your family or friends.
    </li>
</ul>
<div>

{% endblock %}
