{% extends "base.html" %}

{% block app_content %}
<h4>How can I meet new people?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    It can often seem like we're stuck with the relationships we already have
    and that meeting new people or making new friends would require moving to a
    new city entirely. But there are always ways to meet new people, no matter
    who or where you are. The best way to do this is to join or create a new
    group where you can meet people who have things in common with you. For
    example:
</p>
<ul>
    <li>
        If you're interested in sports, joining a team is a great way to meet
        new people.
    </li>
    <li>
        If you're interested in music or theatre, join a band, a choir, an
        usher group, a dance group, or an Acappella group.
    </li>
    <li>
        You could get involved in other clubs like student government,
        community services like Habitat for Humanity, or a cultural group
        (college campuses have hundreds of student organizations).
    </li>
    <li>
        Your local public library usually offers book clubs for teens and story
        time for young children; if you're interested in reading, teaching or a
        career at the library you could get involved there and meet others with
        this area of interest.
    </li>
    <li>
        If you're interested in religion or spirituality, you may also find a
        group of people you enjoy at church, at a synagogue, fellowship group,
        or other place of worship.
    </li>
</ul>
<p>
    No matter what they are, you can probably find a group or a person who
    enjoys your interests. With a little work, you can find and join groups
    that will share meaningful and fun things you enjoy and provide support for
    you in good times and bad.
</p>

{% endblock %}
