{% extends "base.html" %}

{% block app_content %}
<h4>Step Eight: Taking action</h4>
<p>
    Success in your new situation will largely depend on making the most of the
    advantages and dealing with the disadvantages as best as you can. Chances
    are that you may have exaggerated the hard parts. One of the common
    problems that people encounter when changing situations is that we think
    too much about the past. It's important not to let the past prevent you
    from taking advantage of new chances.
    <br/>
    <br/>
    Changing roles are an important part of life. Life changes can cause
    friction between you and your family and friends. However, examining your
    role transition can help you fit your life with those around you and
    receive better support and understanding as you change.
</p>

{% endblock %}
