{% extends "base.html" %}

{% block app_content %}
<h4>Story</h4>
<p>
    After her falling out with Tracy, Sha'Niece decides to return to the school
    where she got her GED and talk to a counselor. The woman really seems in
    tune with Sha'Niece's interests because, in addition to her work as a
    counselor, she owns a beauty shop. Over the next few days they meet several
    times, discussing what it will take for Sha'Niece to finish cosmetology
    school and raise her children. Sha'Niece begins to pull together a plan
    that involves more than just “someday” and “maybe.”
</p>
<p>
    With the counselor's help, Sha'Niece is introduced to several other women,
    some young and some older who also want to go to school. One girl, Val,
    wants to go to community college and study nursing. Kate wants to be a
    cook. They find that even though each has a different path, they have a lot
    in common. They all see the future with hopeful eyes.
</p>

{% endblock %}
