{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>
        What do I do if I'm having a hard time adjusting to a life change?
    </strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="299"
        src="blob:https://word2cleanhtml.com/9f932501-7963-4e45-b4f9-e23c64651c28"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM12P9.jpg"
    />
</p>
<p>
    We're going to give you a step-by-step process to help you make the best of
    new situations. These steps can help you smooth the transition by doing
    them in advance or during the process of change.
</p>

{% endblock %}
