{% extends "base.html" %}

{% block app_content %}
<h4>Dealing with change</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    It may seem obvious that everybody goes through changes in their lives, but
    when we've been in one situation for a long time we tend to forget how
    quickly situations change. We have to remember that change takes a lot of
    work: it requires adjusting to a new role-a new label that defines the
    thing we have to do and the way we and others look at ourselves. One
    example is going from the role of “high school student” to “college
    student.”
    <br/>
    <br/>
    The good news is that people are adaptable and most people naturally
    appreciate new situations. Change takes work, but it can also have a lot of
    rewards. This module will show you skills to help build new relationships
    and strengthen the relationships you already have.
</p>

{% endblock %}
