{% extends "base.html" %}

{% block app_content %}
<h4>Step Seven: Taking a fresh look at the new situation</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    If you start feeling down or very anxious, you have probably gotten
    preoccupied with what seems negative about the new situation. Make a list
    of the pros and cons of the new situation. If you remind yourself of the
    good, dealing with the hard parts will be worth it.
</p>

{% endblock %}
