{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Step One: Define the new and old roles</strong>
</p>
<p>
    <img
        border="0"
        width="117"
        height="176"
        src="blob:https://word2cleanhtml.com/2a2118bc-d918-4256-a964-73549b838a9a"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM12P10.jpg"
    />
</p>
<ul>
    <li>
        What was your old role? How did you define yourself? Some examples of
        roles and self-definitions include “high school student” or “star
        shooter on the basketball team.”
    </li>
    <li>
        What parts of you have changed?
    </li>
    <li>
        What parts of you have remained the same?
    </li>
    <li>
        What is your new role? Some example of new roles could include “college
        student,” “single,” “employee,” “soldier,” or “parent.”
    </li>
    <li>
        In your notebook or another sheet of paper, write down the old and new
        roles and everything associated with them as a reminder.
    </li>
</ul>

{% endblock %}
