{% extends "base.html" %}

{% block app_content %}
<h4>Why is change difficult at times?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    No matter how good the future looks, change also always involves giving
    something up. You might be so excited to be moving on that you may not
    notice it at first. Eventually, you may find yourself feeling kind of
    “blah”-not happy or sad, but something in between. You may not want to
    admit it to yourself, thinking, “I should feel great.”
    <br/>
    <br/>
    As you may have learned, changes in your emotions can tell you a lot. Down
    feelings you have during big transitions is telling you that at some level,
    you're sad to be giving up some things from your old life. This is natural.
    The problem is if these feelings can get out of control and begin to cloud
    your vision, you might only be able to see bad in the new situation and
    good in the old one.
</p>

{% endblock %}
