{% extends "base.html" %}

{% block app_content %}
    <h4>Story</h4>
    <p>        We all go through challenges in life. Read through some stories below. Can you relate?</p>

    <div class="container text-light bg-dark rounded w-90 p-3"">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> -->

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-80 p-3  align-self-center">
            <p class="lead">Sha'Niece</p>
            <p>
                After her falling out with Tracy, Sha'Niece decides to return to the school where she got her GED and talk to a counselor. The woman really seems in tune with Sha'Niece's interests because, in addition to her work as a counselor, she owns a beauty shop. Over the next few days they meet several times, discussing what it will take for Sha'Niece to finish cosmetology school and raise her children. Sha'Niece begins to pull together a plan that involves more than just &#8220;someday&#8221; and &#8220;maybe.&#8221;
            </p>
            <p>
                With the counselor's help, Sha'Niece is introduced to several other women, some young and some older who also want to go to school. One girl, Val, wants to go to community college and study nursing. Kate wants to be a cook. They find that even though each has a different path, they have a lot in common. They all see the future with hopeful eyes.
   </p>

            <br>
            </div>
         </div>
         <!-- <div class="carousel-item">
         There is no Jamal story????
             <div class="w-80 p-3  align-self-center">
             <p class="lead">Jamal</p>
                <p>
                    Jamal's applications were received and he has been accepted to both colleges! Now he is feeling overwhelmed by opportunity. He had hoped that by a school not accepting him, it would make his choice easier. To make matters worse, his mom is really pushing him to play basketball. She has told all her friends that he is going to play in college and be such a super-star!
                </p>
                <p>
                    Jamal and mom got into a heated argument about people being in his business. She called him a spoiled brat who didn&#146;t want to help his family and he called her a gold digger! He really feels bad about yelling at his mom. He knows life is tough and she is doing her best.
                </p>
             <br>
             </div>
        </div> -->
        <div class="carousel-item">
             <div class="w-80 p-3  align-self-center">
                <p class="lead">Ivan</p>
                <p>
                    Ivan got up first thing in the morning to go back home. He felt anxious but ready to talk, or argue, with his father again. He felt angry that his father yelled at him at all in the first place&#8230;after all, didn't his father recognize all of the extra money he was bringing in from the restaurant? He had given up a lot of time he could have spent being social and getting used to talking with friends in English just so he could support the family. Fortunately, the first person he saw when he got home was his mother, and she actually looked happy. She invited Ivan to come and sit and have some breakfast and coffee with her and his father. Ivan was surprised that neither of them yelled at him immediately for staying out the night before. It was as though they had understood why Ivan needed his space that night. It made him feel good that they trusted him that much.
                </p>
               <p>
                   Ivan's father jumped right into it and asked, &#8220;Why do you want to go to college?&#8221; Ivan was prepared with all of the information from the workshop fresh in his mind to present to his parents. They discussed different ways that Ivan could to continue to live at home and work to support the family while going to college. He could even go to school part time. At the end of the conversation, though Ivan's father did not appear overjoyed with the idea of him going to college, he expressed that he understood why Ivan wanted to go.
               </p>
               <p>
                   Ivan knew that from that day forward, his father would learn to accept his future goals. Even better, it was clear that his mother had resolved the argument between her and Ivan's father. For the first time, Ivan watched his father clean up the breakfast mess.
               </p>
           <br>
            </div>
        </div>
        <div class="carousel-item">
            <div class="w-80 p-3  align-self-center">
                <p class="lead">Danny</p>
            <p>
                Going off to college has been a huge transition for Danny. Not only did he move from a small town to a large city but he also left the comforts of home. Although the idea of freedom from his parents was exciting, he misses having dinner ready for him at night, a kitchen full of food and not having to pay to do his laundry. Living on his own meant freedom from house rules but now Danny has to worry about paying rent, the cable bill and the phone bill and doing his own grocery shopping and cooking. There are moments when Danny feels like an adult because he is able to take care of all of these things on his own. But then there are moments when he still feels like a teenager and misses having less responsibility.
            </p>
            <p>
                When Danny thinks about the future he is excited about being an adult, having a job and making money, but he is also really scared and easily overwhelmed. Danny didn't realize when he left his parents' house how much there would be to think about and consider. Trying to manage it all and cope with the changes has been difficult for Danny. Even though his parents can be frustrating Danny is glad he has them to help ease him through this transition. Their nagging can be irritating but Danny knows that they are just trying to help him learn how to take responsibility for himself and Danny is thankful for that.
           </p>

             </div>
            <br>
        </div>

    <div class="carousel-item">
        <div class="w-80 p-3  align-self-center">
            <p class="lead">Elena</p>
            <p>
                Over the next several weeks, Elena did a lot of adjusting. She had to get used to building a new relationship with her mother, both as a daughter and as the other caretaker for her younger sister. While this was difficult at times, because she had to pass up hanging out with friends to be with her sister, she felt very rewarded by the pride Mom showed in her. Elena also had to get used to working hard, really hard. Not only did she have her regular studies to keep up, but she also had to complete her college applications. On top of everything, Elena had to truly get used to being single, including no more hook-ups with gang bangers. She had to get used to ignoring all of the phone calls, text messages, and threats at school.
            </p>
            <p>
                This took a lot of personal strength, but with the support of her good friend Carla and her school counselor, Elena pushed through. It was scary for a little while and the counselor had to get school security involved. Elena felt she wouldn't have made it through without her friend and mother by her side. After Jose dropped out of school, things got a lot better. Elena realized that she had built up a lot of walls, both with her family and her true friends. It was hard for her to take them down, but she knew it was best for her in the end.
            </p>

        <br>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>

    <h1 class="display-4">You Should Know</h1>

    <p>
        If you’re questioning whether life is worth living, or thinking about
        hurting yourself or worse, get help now! You can talk to an adult you
        trust, talk to your doctor, talk to someone at a hospital, or talk to
        someone anonymous at 800-273-TALK (8255) right away! They’re available 24
        hours a day, just to help YOU! Don’t go on struggling alone!
    </p>


{% endblock %}
