{% extends "base.html" %}

{% block app_content %}
<h4>Step One: Define the new and old roles</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<ul>
    <li>
        What was your old role? How did you define yourself? Some examples of
        roles and self-definitions include “high school student” or “star
        shooter on the basketball team.”
    </li>
    <li>
        What parts of you have changed?
    </li>
    <li>
        What parts of you have remained the same?
    </li>
    <li>
        What is your new role? Some example of new roles could include “college
        student,” “single,” “employee,” “soldier,” or “parent.”
    </li>
    <li>
        In your notebook or another sheet of paper, write down the old and new
        roles and everything associated with them as a reminder.
    </li>
</ul>

{% endblock %}
