{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What forms of counseling are helpful?</strong>
</p>
<p>
    <img
        border="0"
        width="191"
        height="128"
        src="blob:https://word2cleanhtml.com/22c7b900-b548-4abb-a2cb-8836c434e16b"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P13.jpg"
    />
</p>
<p>
    Two forms of counseling that are effective treatments for depression are
    cognitive behavior psychotherapy (CBT) and interpersonal psychotherapy
    (IPT). In CBT, we learn to look at the effects of our thoughts and behavior
    on our mood. CBT uses the techniques you learned in Modules 5-8. IPT
    examines how human relationships affect your mood. You have learned some of
    these approaches in Modules 9-12.
</p>
<p>
    <strong>Can counseling bring up bad feelings?</strong>
</p>
<p>
    People can sometimes experience intense feelings in the healing process of
    counseling. However, your counselor will be there to guide you and help you
    learn how you can overcome depression.
</p>

{% endblock %}
