{% extends "base.html" %}

{% block app_content %}
<p align="center">
    <img
        width="525"
        height="397"
        src="blob:https://word2cleanhtml.com/b5b8fce0-17c6-4d05-a432-b33f4c489806"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P1.jpg"
    />
</p>
<p>
    <strong>Module Fourteen</strong>
</p>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How to spot the symptoms of clinical depression
    </li>
    <li>
        What you can do if you may be getting depressed
    </li>
</ul>
<p>
    This module should take about 20 minutes to complete.

{% endblock %}
