{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">What are the treatment options for clinical depression?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Depending on what your needs are, depression can be treated with
    medication, counseling or a combination of both. When people follow the
    doctor or psychologist's directions, three quarters of people with clinical
    depression will recover with medication and/or counseling. But many people
    do not complete the treatment, do not take the medications, or don't attend
    the counseling consistently and therefore, they do not recover as quickly.
</p>

{% endblock %}
