{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How long does counseling last?</strong>
</p>
<p>
    The counseling we described above is generally short-term and
    problem-oriented. Most individuals will require 12-16 one-hour sessions
    over 3-6 months. The goal is to treat your symptoms and help you
    independently manage your life. Effective counseling can reduce your risk
    of depression in the future. Your motivation to change behavior patterns
    has a huge effect on how counseling works. Like any activity, you get the
    most benefit if you put your best effort into it.
</p>
<p>
    <strong>
        What if I have had bad experiences with treatment in the past?
    </strong>
</p>
<p>
    There are many reasons why people feel that treatment has not worked for
    them. They may have had a side effect of a medication or not clicked with a
    counselor. They may have had an experience where they felt like they didn’t
    have a choice but to do counseling. A different medication or counselor
    might provide a different result. Rather than depending on just one bad
    experience to make a judgment, we suggest learning more about the available
    treatments and discussing them with family and friends. You may find that
    you have family or friends have had a great experience but never mentioned
    it.
</p>

{% endblock %}
