{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Wrap-up</h4>
<p>
    You can learn to spot what may be the symptoms of depression but
    <strong>
        only a doctor or psychologist can diagnose depression for sure.
    </strong>
    One way of treating depression is through counseling. Another way is
    through anti-depressant medications. Depression is a disease, but this
    doesn't mean that there's something basically wrong with you. If you think
    that you or someone you know may be developing depression, you should
    contact a doctor.
</p>

{% endblock %}
