{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">Skill Builder</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<ul>
    <li>
        Think about how you might know that a friend was clinically depressed.
        <br/>
    </li>
    <li>
        Think about how you might tell a friend about treatments for
        depression.
        <br/>
    </li>
</ul>
<br>
{% endblock %}
