{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How can I determine if I have clinical depression?</h4>
<div class="text-center">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
<p>
    Only a doctor, a counselor, or a psychologist can determine if you really
    have clinical depression. If you are unsure about whether you need
    treatment, you can visit
    <a
        href="http://www.nimh.nih.gov/health/publications/depression/complete-index.shtml"
    >
        this website
    </a>
    to learn more information regarding depression and treatment.
    <br/>
    <br/>
    It is not uncommon for people to wait too long to seek treatment. It's
    often hard to figure out for yourself that you need treatment. Depression
    tends to cloud one's thinking. Depressed people may not recognize that
    their eating, sleeping, and pace of daily activities have changed. Most
    people can notice that they feel down but do not recognize that they have
    progressed into more severe symptoms. That's why it is important for you,
    as someone who has been told there are risk factors for depression in your
    life, to remain as watchful and informed as you can, to keep absorbing what
    you learned at CURB into your everyday life, and to make regular doctor's
    visits a part of your routine.
</p>

{% endblock %}
