{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Other symptoms of major depression</strong>
</p>
<p>
    <img
        border="0"
        width="226"
        height="110"
        src="blob:https://word2cleanhtml.com/52334ea7-e20d-4114-962d-d2f999342329"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P5.jpg"
    />
</p>
<p>
    People with major depression also have other symptoms. These can include
    physical changes such as fatigue, slowing of activities and thinking, and
    forgetfulness. Their thinking becomes negative and unrealistic. People with
    clinical depression often feel guilty for things they have little control
    over and they think excessively about death or other dark topics.
    <br/>
    <br/>
    People with major depression usually have problems sleeping and eating.
    This can be either sleeping too much (in the case of teenagers), or too
    little (in the case of older people). Some depressed people lose their
    appetite while others eat excessively.
    <br/>
    <br/>
    Individuals who are experiencing a great personal loss may have some of
    these symptoms for several months as a part of the grieving process. Unless
    this persists, we do not describe these people as having depression.
    <br/>
    <br/>
    As you can see, these symptoms are quite severe, but they do not develop
    overnight. You can learn to identify the warning signs and to take action.
</p>

{% endblock %}
