{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What will my friends think about my depression?</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="141"
        src="blob:https://word2cleanhtml.com/01b3ff94-659e-466e-bbf9-e2604f52237a"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P15.jpg"
    />
    <br/>
    Depression still has some stigma attached to it. You may worry that your
    friends will think less of you. However, depression is quite common in
    young people. As many as one in four young adults has had either minor
    depression or clinical depression. If you feel you can trust a friend, you
    may decide to discuss it with him or her. You will probably discover that
    he or she is only concerned about your well-being.
</p>
<p>
    <strong>What will my employer or school think?</strong>
</p>
<p>
    Nothing. They won't even know. Federal law protects the privacy of your
    medical records. No one will know about your treatment unless you inform
    them. You cannot be discriminated against because you receive treatment for
    depression. Most employers and schools would prefer that their students and
    employees receive treatment so that they can be successful.
</p>
<p>
    <strong>What will my family think?</strong>
</p>
<p>
    Only you can answer this. If you are experiencing depression, the chances
    are that someone else in your family may have already experienced this
    problem, too. Your parents and brothers and sisters may have already
    noticed changes in your behavior and are concerned about you. They may be
    relieved that you are getting help.
</p>

{% endblock %}
