{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Welcome back!</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="297"
        src="blob:https://word2cleanhtml.com/6d77f869-d824-4026-b378-5475602a5e34"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P2.jpg"
    />
</p>
<p>
    This is the final module of the Project CURB website. For those of you who
    have completed the entire program, we hope you've learned to recognize and
    change negative patterns of thinking and behaving in order to decrease the
    chance of depression. We hope that these skills will help you to work more
    effectively with the challenges of moving into adulthood and doing so with
    a sense of community.
    <br/>
    <br/>
    The purpose of this module is to teach you how to recognize the signs of
    clinical depression so you will know when to seek treatment. Although our
    goal is to prevent as many persons as possible from developing depression,
    we know that some individuals will experience an episode of depression in
    adolescence or young adulthood. This is not your fault. The best way to
    prevent depression from damaging your life is to make behavioral changes
    early on to prevent it from developing or to seek treatment as soon as
    possible.
    <br/>
    <br/>
    We will teach you the signs of depression and how to tell the everyday
    blues from something more serious. We will also focus on effective
    treatment options and other common concerns. Finally, we will review how to
    stop the depression spiral early on.
</p>

{% endblock %}
