{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="col-7">
    <img
    class="img-fluid rounded"
    src="/static/images/module{{ module_id}}/M{{ module_id }}-{{module_part }}.png"/>
</div>
</div>
</div>
<h4>Module Fourteen</h4>
<p>
    <strong>In this module you will learn:</strong>
</p>
<ul>
    <li>
        How to spot the symptoms of clinical depression
    </li>
    <li>
        What you can do if you may be getting depressed
    </li>
</ul>
<p>
    This module should take about 20 minutes to complete.

{% endblock %}
