{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What is clinical depression?</strong>
</p>
<p>
    <img
        border="0"
        width="290"
        height="194"
        src="blob:https://word2cleanhtml.com/1769229e-b422-4163-8056-06c3f7c25902"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P4.jpg"
    />
</p>
<p>
    Doctors use the term “clinical depression” to identify people who need
    formal, particular treatment for depression. Physicians and counselors use
    the term “major depression.” People who have major depression have been
    experiencing a major change in their mood for at least two weeks. The
    changes can include an abnormally low mood, loss of interest or pleasure,
    or a very irritable mood. These changes occur most of the day, nearly every
    day for at least two weeks. The changes are severe enough to affect how you
    live and work.
</p>

{% endblock %}
