{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Do anti-depressants change personality?</strong>
</p>
<p>
    No. While they may give you new energy and a greatly improved outlook on
    life, anti-depressants do not change you. Your personality is the product
    of your genetic background from your parents and many years of influence at
    home, school, and in your community. Your personality will not be changed
    by taking a medication for a few months. But if you feel less spontaneous
    or blander, let your doctor know so that you can consider a different
    medication.
</p>
<p>
    <strong>Are anti-depressant medications addictive?</strong>
</p>
<p>
    No. Anti-depressant medications are not addictive. In most cases, they can
    be gradually decreased and stopped without problems.
</p>

{% endblock %}
