{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>What are the treatment options for clinical depression?</strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/2f7ad8bc-2ab5-4755-b659-69fc2a551cc4"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P10.jpg"
    />
</p>
<p>
    Depending on what your needs are, depression can be treated with
    medication, counseling or a combination of both. When people follow the
    doctor or psychologist's directions, three quarters of people with clinical
    depression will recover with medication and/or counseling. But many people
    do not complete the treatment, do not take the medications, or don't attend
    the counseling consistently and therefore, they do not recover as quickly.
</p>

{% endblock %}
