{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How does depression develop?</strong>
</p>
<p>
    <img
        border="0"
        width="128"
        height="85"
        src="blob:https://word2cleanhtml.com/ae601ac1-3ff3-4ef5-bb98-5ae2b89e7d0d"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P6.jpg"
    />
</p>
<p>
    Many of us experience day-to-day changes in mood. It's normal to experience
    disappointment when we fail at something or lose something. Most people who
    go on to develop depression can recall some important disappointment before
    the episode began. They have “down feelings” that don't go away after a few
    days, and they get progressively worse. Other folks have a harder time
    pointing to any specific thing that started their depression. Sometimes our
    bodies have challenges related to our chemistry that can make a person more
    likely to feel depressed.
</p>

{% endblock %}
