{% extends "base.html" %}

{% block app_content %}
<h4 id="module_name">How can I know if I am progressing toward depression?</h4>
<p>
    Most individuals will first notice depressed feelings, such as a quickness
    to become irritated or a loss of pleasure, that seem to outlast the normal
    period in which they expected that they would get over it.
    <br/>
    <br/>
    We often call this “depressed mood”-it's not yet long enough or severe
    enough to be called clinical depression. Individuals who become more
    depressed may begin to feel guiltier about things they have done or not
    done. Their thoughts become more negative. Such individuals may have “mild
    depression” or “depression syndrome.” The last symptoms to develop are
    often the changes in sleeping and eating and the slowing of activity and
    thinking. Once these final changes have occurred, it is likely that a
    person has clinical depression.
</p>

{% endblock %}
