{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>
        What can I do to stop this process before it reaches clinical
        depression?
    </strong>
</p>
<p>
    <img
        border="0"
        width="198"
        height="133"
        src="blob:https://word2cleanhtml.com/f5108f07-b701-4a00-bbfa-8e406bd3f27d"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P8.jpg"
    />
</p>
<p>
    Depression tends to feed on itself and gets worse without treatment. You
    can reverse this process by using the techniques we have discussed in the
    BA and CBT modules. These techniques include doing things you like to do;
    thinking more positively (that is, not accepting your most negative
    thoughts as the truth without questioning them); spending time with and
    talking to your friends; resolving conflicts; and getting regular exercise
    and sleep. You may want to revisit this website or other similar ones. You
    have to decide that you are going the beat the blues and plan and act
    accordingly.
    <br/>
    <br/>
    <strong>
        No one can cure depression for you. Your friends, your parents, or even
        your doctor can't cure depression without your help. Getting over
        depression takes a lot of willpower on your part-you have to decide
        that you want to get better. Medications or therapy are tools you can
        use to help yourself, but the most important thing is what you do
        yourself: working with your doctor, keeping a positive outlook, and
        doing whatever you can to help yourself improve.
    </strong>
</p>

{% endblock %}
