{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>Skill Builder</strong>
</p>
<p>
    <img
        border="0"
        width="98"
        height="147"
        src="blob:https://word2cleanhtml.com/10fb70b3-21a6-4775-a4c7-3aafc7db0a68"
        alt="https://curb.peds.uic.edu/thriveresearch/images/program/curb/teen/CURBM14P17.jpg"
    />
</p>
<div>
</div>
<ul>
    <li>
        Think about how you might know that a friend was clinically depressed.
        <br/>
    </li>
    <li>
        Think about how you might tell a friend about treatments for
        depression.
        <br/>
    </li>
</ul>
<div>
</div>

{% endblock %}
