{% extends "base.html" %}

{% block app_content %}
<p>
    <strong>How do anti-depressants work?</strong>
</p>
<p>
    Anti-depressant medications react with chemicals in the brain to improve
    mood, outlook, energy, and sleep patterns. Most individuals require about
    12 months of treatment for uncomplicated depressions. Medication dosage
    usually has to be increased slowly to minimize side effects. Some people
    with severe, recurrent clinical depression do need lifetime treatment, but
    this is unusual for teenagers.
    <br/>
    <br/>
    Anti-depressants restore the balance of chemicals called neurotransmitters
    that control mood and energy level in the brain. As depression develops,
    these neurotransmitters get out of balance. Anti-depressants ensure that
    adequate supplies of these neurotransmitters are available to enable you to
    experience normal happiness and pleasure.
</p>

{% endblock %}
